<% content_for :head do %>
  <%= stylesheet_link_tag 'calculators' %>
<% end %>
<section class="phr bg-white tiber">
  <div class="container">
    <div class="row pv5 items-center">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row items-center">
          <h1><%=
            title "Bitcoin Calculator: Bitcoin Investment Calculator - What If I bought Bitcoin?",
            "Bitcoin Investment Calculator: How Does Bitcoin Impact Your Traditional Portfolio?"
          %></h1>
          <p>Use the Bitcoin investment calculator below to find out how your traditional stock/bond portfolio would have performed (on a risk-adjusted basis) if you had invested in Bitcoin. For the traditional portfolio we use SPY and AGG ETFs as proxies.</p>
          <div id="root" style="width: 100% !important;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features phr pv4 bg-tiber white-90">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="items-center">
          <p style="font-style: italic">Following piece was written on July 17th 2018.</p>
          <p>Crypto investing is not for the faint of heart. In 2017 HODLers were taken on a rollercoaster ride, seeing BTC price start at around $1,000 in January 2017 surge rapidly towards the $20,000 level by December, and then fall sharply to $6,500 just two months later.</p>
          <p>For those who got in late, the drawdown in BTC price was painful, and this sell-off has left many out there licking their wounds. On the flip side, those who got in just over a year ago when BTC was trading $2057 and <a href="https://en.wikipedia.org/wiki/Hodl" target="_blank">HODLed</a> were rewarded with a +227% return on their investment, with BTC trading $6,727 today.</p>
          <p>In both cases, stomaching price swings has been no joke, and this ultimately leads us to ask: <b><u>How much of my money should I allocate to Crypto?</u></b></p>
          <p>There are already some similar research reports out there that walk potential investors through the scenarios of adding a % allocation of crypto to their portfolio, but here at CoinFi we decided to take it to the next level and built out a calculator for readers to experiment with.</p>
          <p>In this research piece, we will go through in detail on how to use this nifty tool and also highlight some scenarios for discussion. (Written on July 17, 2018. SPY and AGG etfs are used for the 60/40 portfolio below.)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features phr pv4 bg-white tiber">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="items-center">
          <h1>Starting With The 60/40 Portfolio</h1>
          <p>In traditional finance, an allocation of 60% to stocks and 40% to interest bearing securities such as bonds (60/40 portfolio) is the defacto standard.</p>
          <p>A portfolio that holds both stocks and bonds has historically shown to provide better risk-adjusted returns than a pure stock portfolio, both from <a href="#definitions">a Sharpe Ratio and a Max Drawdown perspective</a>.</p>
          <p>So before adding any allocation of crypto into our portfolio, this traditional portfolio gives us a “base case” to compare to. In our calculator, we use the following well-recognized ETFs:</p>
          <ul>
            <li>SPY SPDR S&P500 ETF as proxy for stock allocation - One of the most liquid ETFs that mimics the performance of the S&P 500; largely considered the equity index benchmark.</li>
            <li>AGG iShares Core U.S. Aggregate Bond ETF as proxy for bond allocation - ETF that tracks a broad market weighted portfolio of US denominated investment grade bonds.</li>
          </ul>
          <p>From Oct 2012 (the start date in our calculator i.e. when we get reliable Bitcoin price data), the traditional 60/40 portfolio on an <a href="https://www.yoreoyster.com/blog/buy-bitcoin-canada/" target="_blank" ref="noopener">initial investment</a> of $10,000 had the following stats:</p>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-1.png" />

          <h1>Adding 10% Bitcoin to the 60/40 Portfolio</h1>
          <p>So what happens when we add crypto into the equation? For our calculator, we use Bitcoin performance as proxy for the crypto market since:</p>
          <ul>
            <li>It has had a long enough history, while other cryptocurrencies don’t go as far back.</li>
            <li>Bitcoin is the most traded and original cryptocurrency.</li>
          </ul>
          <p>In this scenario, we adjust our portfolio to include 10% Bitcoin. This means that the other 90% is split 60/40 between stock and bonds (54% and 36% respectively). Furthermore, we changed the starting date to Jan 2014. Prior to this date, Bitcoin was extremely niche and hence price then has less relevance in conducting back tests.</p>
          <a href="?startingAmount=10000&startingDate=2014-01-03&stockAllocation=60&bitcoinPercentage=10&withRebalancing=0"><img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-2.png" /></a>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-3.png" />
          <p>As you can see, adding 10% Bitcoin to the traditional 60/40 has drastically improved returns, but unfortunately at the cost of some nasty price swings:</p>
          <ul>
            <li>Annualized return improved to 15.43% from 6.27%</li>
            <li>Max drawdown is a lot worse at -45.28%! From the graph you can see it is due to the Bitcoin drop starting Dec 2017</li>
            <li>Sharpe ratio ended up staying roughly the same, so the risk adjusted returns did not improve</li>
          </ul>

          <h1>The case for Tolerance based rebalancing - What is it, and how does it work?</h1>
          <p>In our previous example, we took at 60/40 portfolio and allocated 10% to Bitcoin. However in this scenario if the price of Bitcoin changes drastically, the % allocation we have for Bitcoin will also fluctuate drastically.</p>
          <p>Since 2014, the price of Bitcoin has skyrocketed, so the effect on our portfolio allocation would have been very significant. We illustrate with an example below:</p>
          <ul>
            <li>Let’s say we start with $100, we allocate 10% to Bitcoin and the rest to our 60/40 portfolio.</li>
            <li>This gives us $10 worth of Bitcoin, $54 in equities and $36 in bonds. A total portfolio value of $100.</li>
            <li>Let’s say Bitcoin price triples, while the price of our stocks and bonds remain unchanged. You now have $30 in Bitcoin and $90 in stocks and bonds. A total portfolio value of $120.</li>
            <li>So what was initially a 10% Bitcoin allocation grew to 25% of our portfolio ($30 out of $120), which leads to higher risk at a different point in time, and ultimately is not the diversification that was intended.</li>
            <li>For an asset like Bitcoin, the price jump was at one point more than 20-fold, and a portfolio that was only slightly exposed to crypto would eventually have crypto as its dominant position.</li>
          </ul>
          <p>This is where <b><u>‘tolerance based rebalancing’</u></b> comes in. In our calculator there is a setting where you can toggle on/off ‘50% tolerance based rebalancing.</p>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-4.png" />
          <p>What this does for a portfolio that invests 10% in Bitcoin, is that everytime the allocation goes above 15% due to price increases, it will sell out the excess Bitcoin to bring it back to 10% and vice versa when the price drops and allocation falls below 5%.</p>
          <p>Let’s see how implementing tolerance based rebalancing affects our 10% Bitcoin-enhanced portfolio:</p>
          <a href="?startingAmount=10000&startingDate=2014-01-03&stockAllocation=60&bitcoinPercentage=10&withRebalancing=1"><img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-5.png" /></a>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-6.png" />
          <p>As we can see, using Tolerance Based Rebalancing has had a very positive effect, as evidenced by the improved Drawdown and Sharpe Ratio numbers.</p>
          <ul>
            <li>Max Drawdown which was previously -45% has improved substantially to -10.02%</li>
            <li>Sharpe ratio is now 0.911</li>
          </ul>
          <p>Some of you may already know why this is the case - basically if the price of BTC rises above our threshold, we sell and if it falls below we buy. Basically, buying low and selling high, which is a money making formula!</p>
          <p>There are however some caveats:</p>
          <ul>
            <li><b>Transaction costs are not included in our calculator.</b> Most exchanges charge 0.1% per trade, if we had to rebalance 100 times the costs will add up.</li>
            <li>While in theory a volatile market that oscillates wildly benefits from rebalancing, imagine a different type of market where the price only goes up. In that case the rebalancing effect would mean selling out of the asset too quickly. This is evidenced by the lagging performance during Nov-Dec 2017 compared to the HODL only where the Bitcoin price only went up!</li>
            <li><b>Rebalancing is ultimately active trading.</b> It means the investor needs to do work and be active in the market to rebalance their portfolio accordingly. So the portfolio is no longer a passive one.</li>
          </ul>

          <h2>Stats for 1/5/10% allocation table with rebalancing</h2>
          <p>Now let’s vary the Bitcoin allocation % and see the results:</p>
          <table>
            <thead>
              <tr>
                <th colspan="5">Bitcoin Allocation to 60/40 Portfolio</th>
              </tr>
              <tr>
                <th></th>
                <th>0%</th>
                <th>1%</th>
                <th>5%</th>
                <th>10%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total Return %</td>
                <td>31.71%</td>
                <td>37.23%</td>
                <td>69.57%</td>
                <td>134.73%</td>
              </tr>
              <tr>
                <td>Annualized Return %</td>
                <td>6.27%</td>
                <td>7.24%</td>
                <td>12.37%</td>
                <td>20.74%</td>
              </tr>
              <tr>
                <td>Sharpe Ratio</td>
                <td>0.675</td>
                <td>0.832</td>
                <td>1.098</td>
                <td>0.911</td>
              </tr>
              <tr>
                <td>Max Drawdown</td>
                <td>-7.50%</td>
                <td>-6.79%</td>
                <td>-6.83%</td>
                <td>-10.22%</td>
              </tr>
            </tbody>
          </table>
          <p>As we can see adding any portion of Bitcoin to the 60/40 portfolio has generally yielded better results in many measures, and that around 5% allocation seems to yield the best risk adjusted returns.</p>
          <p style="text-decoration: underline;">A lot of this has to do with the fact that from 2014 till now, Bitcoin has gone from $800 to $6700 which trumps the return from holding index ETFs by a far margin.</p>
          <p>So basically holding more Bitcoin is better regardless of volatility - hindsight is 20/20. This however doesn’t mean that we should necessarily expect the same returns going forward.</p>

          <h2>From Sep 2017 onwards:</h2>
          <p>To smooth out the effect from the huge surge in price in BTC, we can use the calculator starting from a different point in time when BTC was higher and the net change in price till now is not so large.</p>
          <p>For this example we start at Sep 2017 when Bitcoin price was already at $4,700. From the previous table, it shows that a Bitcoin holding of roughly 5% with Tolerance Based Rebalancing looks to be most optimal on a risk-adjusted basis.</p>
          <p>This is how the portfolio performs with a 5% allocation to Bitcoin from Sep 2017:</p>
          <a href="?startingAmount=10000&startingDate=2017-09-01&stockAllocation=60&bitcoinPercentage=5&withRebalancing=1"><img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-7.png" /></a>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-8.png" />
          <p>Even with a later start date at a higher Bitcoin price, including Bitcoin in our portfolio actually showed a significant improvement in our risk profile.</p>
          <p>The Sharpe Ratio of our enhanced portfolio is above 1, and there is only a minimal trade off in Max Drawdown.</p>
          <p>A large part of this has to do with the low correlation of Bitcoin to stocks and bonds (more on this another time), which ultimately means that having even a small portion of Bitcoin in a portfolio can be very advantageous. On the flip side, be wary of allocating too much - ultimately you have to be able to stomach the downside should anything catastrophic happen!</p>
          <p>Deciding how much of your portfolio to invest in crypto is a tough choice, but interestingly allocating a small % of your portfolio to Bitcoin and rebalancing has historically increased returns with max drawdown that looks similar to your traditional portfolio.</p>
          <p>With this tool, users can play around to see how adding crypto into your portfolio would have historically performed on a risk-adjusted basis, so please go ahead and give it a try. Also there is a link that saves your personal settings for you to share with your friends!</p>

          <h1><a name="definitions"></a>Definitions</h1>
          <p><b>Sharpe Ratio:</b> A measure of risk adjusted returns. More specifically it is the excess returns over the risk free rate per unit of volatility. Formula is as follows:</p>
          <img src="https://res.cloudinary.com/coinfi/image/upload/v1532356994/calculators/bitcoin-investment-calculator-9.png" style="max-width: 50%; max-height: 50%;" />
          <p style="display: block !important;"><b>Max Drawdown:</b> The maximum % loss from the peak to trough of a portfolio. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<link href="/css/calculators/bitcoin-investment-calculator.css?v=2.1" rel="stylesheet"></link>
<script type="text/javascript" src="/js/calculators/bitcoin-investment-calculator.js?v=2.1"></script>