<div class="field-unit__label" style="align-self: flex-start;">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" style="width: calc(85% - 1rem);">
  <%= react_component("MarkdownPreview", props: { \
    children: field.to_s,
    editable: true,
    name: f.object_name,
    escapeHtml: false,
    attribute: field.attribute
  }) %>
</div>
