<div class="bt b--light-gray phr pt4 pb5 bg-white">
  <div class="container">
    <div class="flex justify-center flex-wrap mb3">
      <div class="f6 pv3 o-50 flex-none flex-auto-l">
        <a href="https://www.facebook.com/CoinFiProject/" class="pv1 ph2" target="_blank">
          <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/facebook.svg" />
        </a>
        <a href="https://twitter.com/coin_fi" class="pv1 ph2" target="_blank">
          <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" />
        </a>
        <a href="https://www.linkedin.com/company/coinfi/" class="pv1 ph2" target="_blank">
          <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/linkedin.svg" />
        </a>
        <a href="https://angel.co/coinfi" class="pv1 ph2" target="_blank">
          <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/angellist.svg" />
        </a>
        <a href="https://github.com/coinfi" class="pv1 ph2" target="_blank">
          <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
        </a>
        <a href="https://heapanalytics.com/?utm_source=badge" class="pv1 ph2" rel="nofollow"><img style="height:32px" src="//heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics" /></a>
        <br>
      </div>

      <nav class="nav-x">
        <ul className="flex-wrap">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="https://blog.coinfi.com">Blog</a>
          </li>
          <li>
            <a href="https://careers.coinfi.com">Careers</a>
          </li>
          <li>
            <a href="mailto:contact@coinfi.com">Contact</a>
          </li>
          <li>
            <a href="#">Terms of Use</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="f7 silver">
      Disclaimer: The findings, ratings and/or opinions expressed herein are the intellectual property of CoinFi and are subject to change without notice. They are not intended to convey any guarantees as to the future performance of the said products. Past performance does not guarantee future results.

      This does not contain investment advice or constitute individualized investment advice relating to your particular circumstances. No investment decision should be made based on this information without first obtaining appropriate professional advice and considering your circumstances.

      This does not constitute an offer or a solicitation of an offer to buy or sell securities, commodities and/or any other financial instruments or products or constitute a solicitation on behalf of any of the investment managers, their affiliates, products or strategies the information of which may be contained herein.

      The information contained herein may not adequately take into account the recipient’s particular investment objectives, financial situations, or needs. Prospective token contributors should consult their legal, tax and financial advisers as to the consequences of an contribution. Any manager mix and portfolio structure which may be provided herein are for illustrative purposes only and subject to change. The inclusion of any contribution herein does not represent a recommendation of that contribution. All contributions experience gain or loss. An contributor may lose all or a substantial part of its contribution.
    </div>
    <div class="mt5 f6 tc">Copyright &copy; <%= Date.today.year %> <a class="color-inherit" href="/">CoinFi</a> - All rights reserved.</div>
  </div>
</div>

<%= render partial: 'components/mobile_nav' %>
