<div class="bt b--light-gray phr pv4">
  <div class="container">
    <div class="flex justify-between mb3">
      <div class="f6">
        Copyright &copy; <%= Date.today.year %> <a class="color-inherit" href="/">CoinFi</a> - All rights reserved.
      </div>

      <nav class="nav-horizontal">
        <ul>
          <li>
            <a href="#">Terms of Use</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="f7 silver">
      Disclaimer: The findings, ratings and/or opinions expressed herein are the intellectual property of CoinFi and are subject to change without notice. They are not intended to convey any guarantees as to the future performance of the said products. Past performance does not guarantee future results.

      This does not contain investment advice or constitute individualized investment advice relating to your particular circumstances. No investment decision should be made based on this information without first obtaining appropriate professional advice and considering your circumstances.

      This does not constitute an offer or a solicitation of an offer to buy or sell securities, commodities and/or any other financial instruments or products or constitute a solicitation on behalf of any of the investment managers, their affiliates, products or strategies the information of which may be contained herein.

      The information contained herein may not adequately take into account the recipient’s particular investment objectives, financial situations, or needs. Prospective token contributors should consult their legal, tax and financial advisers as to the consequences of an contribution. Any manager mix and portfolio structure which may be provided herein are for illustrative purposes only and subject to change. The inclusion of any contribution herein does not represent a recommendation of that contribution. All contributions experience gain or loss. An contributor may lose all or a substantial part of its contribution. 
    </div>
  </div>
</div>
      
<%= render partial: 'components/mobile_nav' %>