
<div id="mobile-nav" class="md-conceal">
  <div>
    <a class="block" href="/">
      <img src="<%= image_path('logo.png') %>" class="w4e">
    </a>
    <%= render partial: 'components/main_nav', locals: { klass: 'mt4' } %>
    <button class="mobile-nav-toggle mt4 silver">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
