<div class="phr pv4">
  <div class="container flex justify-between items-center">

    <a class="block flex-none" href="/">
      <img src="<%= image_path('logo.png') %>" class="w4e">
    </a>

    <div class="flex items-center reveal-m">
      <%= render partial: 'components/header_navigation' %>
      <%= render partial: 'components/header_actions' %>
    </div>

    <button class="conceal-m f3 mid-gray">
      <i class="fas fa-bars"></i>
    </button>

  </div>
</div>
