# Don't lint legacy JS
app/assets/**/*.js

# Ignore pre-compiled files
public/js/calculators/bitcoin-investment-calculator.js
public/css/calculators/bitcoin-investment-calculator.css
public/js/gauge.js
public/js/d3scription.js

# Ignore landing pages since they use external JS
public/landing/**/*.js
