.social-colored a {
  border: 0;
}

.social-medium {
  background-color: #00a57d;
}

/* Journey Timeline */

.journey-timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300;
}
.journey-timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content:" ";
  width: 2px;
  background: #ffffff;
  left: 50%;
  margin-left: -1.5px;
}
.journey-timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.journey-timeline > li:before, .journey-timeline > li:after {
  content:" ";
  display: table;
}
.journey-timeline > li:after {
  clear: both;
}
.journey-timeline > li:before, .journey-timeline > li:after {
  content:" ";
  display: table;
}
.journey-timeline > li:after {
  clear: both;
}
.journey-timeline > li > .journey-timeline-panel {
  width: calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  float: left;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  position: relative;
}
.journey-timeline > li > .journey-timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #dcdcdc;
  border-right: 0 solid #dcdcdc;
  border-bottom: 15px solid transparent;
  content:" ";
}
.journey-timeline > li > .journey-timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #ffffff;
  border-right: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content:" ";
}
.journey-timeline > li > .journey-timeline-badge {
  color: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 100;
}
.journey-timeline > li.journey-timeline-inverted > .journey-timeline-panel {
  float: right;
}
.journey-timeline > li.journey-timeline-inverted > .journey-timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.journey-timeline > li.journey-timeline-inverted > .journey-timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.journey-timeline-badge > a {
  color: #ffffff !important;
}
.journey-timeline-badge a:hover {
  color: #dcdcdc !important;
}
.journey-timeline-title {
  margin-top: 0;
  color: inherit;
}
.journey-timeline-heading h4 {
  font-weight: 400;
  padding: 0 15px;
  color: #4679bd;
}
.journey-timeline-body > p, .journey-timeline-body > ul {
  padding: 10px 15px;
  margin-bottom: 0;
}
.journey-timeline-footer {
  padding: 5px 15px;
  background-color:#f4f4f4;
}
.journey-timeline-footer p { margin-bottom: 0; }
.journey-timeline-footer > a {
  cursor: pointer;
  text-decoration: none;
}
.journey-timeline > li.journey-timeline-inverted {
  float: right;
  clear: right;
}
.journey-timeline > li:nth-child(2) {
  margin-top: 60px;
}
.journey-timeline > li.journey-timeline-inverted > .journey-timeline-badge {
  left: -12px;
}
.no-float {
  float: none !important;
}
@media (max-width: 767px) {
  ul.journey-timeline:before {
    left: 40px;
  }
  ul.journey-timeline > li {
    margin-bottom: 0px;
    position: relative;
    width:100%;
    float: left;
    clear: left;
  }
  ul.journey-timeline > li > .journey-timeline-panel {
    width: calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }
  ul.journey-timeline > li > .journey-timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  ul.journey-timeline > li > .journey-timeline-panel {
    float: right;
  }
  ul.journey-timeline > li > .journey-timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.journey-timeline > li > .journey-timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .journey-timeline > li.journey-timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .journey-timeline > li.journey-timeline-inverted > .journey-timeline-badge {
    left: 28px;
  }
}

/* Standard Timeline */

.timeline {
  border-left: 4px solid #0e97ff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  color: #333;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 10px;
  position: relative;
}
.timeline .active.event:after {
  background: #fff;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(0, 0, 0, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #0e97ff;
  left: -57.85px;
  background: #ddd;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
