<div class="telegram-message">
  <div class="telegram-message-header">
    <div class="telegram-message-header__icon"></div>
    <div class="telegram-message-header__label">Telegram</div>
  </div>
  <div class="telegram-message-header__title"><%= title %></div>
  <div class="telegram-message-header__message">
    <%= message %>
  </div>
</div>
