<div class="telegram-message">
  <div class="telegram-message-header">
    <i class="fab fa-telegram-plane telegram-message-header__icon"></i>
    <div class="telegram-message-header__label">Telegram</div>
  </div>
  <div class="telegram-message__title"><%= title %></div>
  <div class="telegram-message__message">
    <%= message %>
  </div>
</div>
