<section class="section featured-section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-7">
        <h1>Real time, professional trading signals for crypto</h1>
        <p>
          Get alerts of buying and selling opportunities
        </p>

        <ul>
          <li>Reliable - thoroughly tested to help predict price movements</li>
          <li>Instant - know before anyone else does</li>
          <li>Advanced - developed by professional traders and data scientists</li>
        </ul>

        <a class="btn">Reserve My Spot</a>

        <p>Only 2,000 spots available <a href="">Why</a>
      </div>
      <div class="col-sm-5">
        <%= render "pages/signals/telegram_message", {
          title: "Sell signal: Whale moved $68m ETH to an exchange",
          message: "The #3 holder of Ethereum (ETH) moved 319k ETH ($68m) to Binance - 1 minute ago.",
        } %>

        <%= render "pages/signals/telegram_message", {
          title: "Buy signal: Whales of BNB increased their holdings ",
          message: "The top 5 holders of Binance (BNB) increased their holdings from 10% to 12% overall in the last 24 hours.",
        } %>

        <%= render "pages/signals/telegram_message", {
          title: "Buy signal: 5% of Augur supply withdrawn from Binance",
          message: "550,000 REP ($6.7M) USD moved out of Binance wallets in last 24 hours.",
        } %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Signals for the crypto market</h2>
        <p>
          These signals alert you to shifts in the rapidly changing crupto markets so you’ll be the first to know and prepared to act when the market moves.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="example-signal">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6 last-sm">
        <h2>Signals for tokens you care about</h2>
        <p>
          Track every ERC-20 tokens you care about and we’ll alert you when there’s a new buying or selling opportunity.
        </p>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Developed by professional traders and data scientists</h2>
        <p>
          We combine the expertise of professional traders and the analytical power of data scientists to deliver signals you can rely on.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="professionals">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6 last-sm">
        <h2>The market doesn’t stand still, neither do our signals</h2>
        <p>
          We constantly optimize our signals, remove ones that no longer work, and develop new signals based on market conditions so you’ll always have an edge in a bear or bull market.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://placehold.it/300x300">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Exclusive to a handful of traders</h2>
        <p>
          We want to give you a trading edge, not everyone. That’s why we’re capping the number of signups to 2,000 initially.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://placehold.it/300x300">
      </div>
    </div>
  </div>
</section>

<section class="section faq-section">
  <div class="container-wide">
    <h2>Faq</h2>
  </div>
</section>

<section class="section cta-section">
  <div class="container-wide">
    <h2>Ready to trade with professional signals?</h2>
    <p>Reserve one of the 2,000 spots</p>

    <a class="btn">Reserve My Spot</a>
  </div>
</section>
