<div class="reservation-page__inner">
  <div class="container-narrow">
    <div class="reservation-card">
      <h1 class="reservation-title">Instructions for Reserving Your Spot</h1>
      <p class="mb4">Get first access to professional, data-backed trading signals by staking 20,000 COFI tokens.</p>

      <div class="reservation-option">
        <ol class="reservation-option-step-list">
          <li class="reservation-option-step-item">
            <div class="reservation-option-step-item__text">
              Send an email to
              <a class="reservation-email-link" href="mailto:signals@coinfi.com">
                signals@coinfi.com
              </a>
              with the following information:
            </div>
            <ul class="reservation-option-step-item__point-list">
              <li class="reservation-option-step-item__point-item">
                Your Telegram username where you'd like to receive signals.
              </li>
              <li class="reservation-option-step-item__point-item">
                The Ethereum wallet address where you're planning to send your COFI tokens from.
              </li>
            </ul>
            <p class="lh-copy"><strong>IMPORTANT:</strong>
            You MUST perform this step first in order to securely reserve your spot.
            There's no need to wait for a confirmation email from CoinFi before moving to Step 2.
            </p>
          </li>

          <li class="reservation-option-step-item">
            <div class="reservation-option-step-item__text">
              Send exactly
              <code class="reservation-value">20,000 COFI</code>
              tokens to:
              <code class="reservation-value reservation-fit-text">0xa61B5f29730C7b111C8e0B1e78bD3737d2Bb8684</code>
            </div>

            <p><strong>IMPORTANT:</strong>
            Do NOT send from an exchange since we cannot confirm the sender.
            </p>

            <%= react_component "SignalPopoverText",
              props: {
                text: "Don't have any COFI tokens or need more?",
                description: 'You can acquire COFI tokens at the following exchanges:
                  <ul>
                    <li>
                      <a href="https://kyber.network/swap/eth_cofi" target="_blank">Kyber Network</a>
                    </li>
                    <li>
                      <a href="https://www.kucoin.com" target="_blank">KuCoin</a>
                    </li>
                    <li>
                      <a href="https://www.gate.io/" target="_blank">Gate.io</a>
                    </li>
                  </ul>',
              },
              html_options: {
                class: 'signal-popover-text'
              }
            %>
          </li>

          <li class="reservation-option-step-item">
            <div class="reservation-option-step-item__text">
              Send another email to <a class="reservation-email-link" href="mailto:signals@coinfi.com">signals@coinfi.com</a>
              containing the transaction hash of your token transfer.
            </div>
          </li>

          <li class="reservation-option-step-item reservation-option-step-item--last">
            <div class="reservation-option-step-item__text">
              We'll send you a confirmation as soon as we receive your COFI tokens and transaction hash.
            </div>
          </li>
        </ol>
      </div>
      <br>

      <h1 class="reservation-title">FAQ</h1>
      <div class="lh-copy">
        <strong>What is staking?</strong>
        <p>Staking simply means pledging to reserve a specific amount of cryptocurrency from circulation.</p>
        <p>In the case for CoinFi, we're asking that you stake 20,000 COFI tokens by temporarily sending them
        to us in exchange for early access to the CoinFi Signals product.</p>
        <p>This means there is no risk on your part - you will receive the tokens back at the end of the beta
        or 3 months, whichever is sooner.</p>

        <strong>What am I getting in the beta?</strong>
        <p>You'll get first access to professional grade, data-backed trading signals designed to give you a
        trading edge. The signals will be released one-by-one as they complete thorough testing. In addition,
        we may release new signals that have not yet been mentioned.</p>
        <p>The signals will be delivered via Telegram in a private chat. We will expand to other notification
        methods in the future.</p>

        <strong>Is there a timeline for delivery?</strong>
        <p>We have existing signals such as large Ethereum transactions as well as large Ethereum deposits /
        withdrawals that will be delivered via private Telegram chat. We're on track to provide additional
        signals by the beginning of November, and already have infrastructure in place (which we've deemed
        the Signals Factory) to quickly test and iterate on testing signals to determine whether they have
        price predictive potential.</p>

        <strong>What happens to my tokens during and after the beta?</strong>
        <p>Your tokens will be safely stored in our wallet. We will not transfer or sell your tokens.</p>
        <p>After the beta ends, you can withdraw all your tokens and cancel the service or you may continue to
        stake your tokens to access our service.</p>

        <strong>Why are you holding tokens in your wallet instead of a smart contract?</strong>
        <p>Smart contract development takes a lot of time and effort and comes with serious security implications.
        As a result, we've chosen to focus our efforts on signals development, but will develop a smart contract
        to handle staking once the signals product has been delivered. In the meantime, you can confirm that your
        tokens are safe by checking the deposit address, where they will remain untouched.</p>

        <strong>I need help with this process or have further questions, what should I do?</strong>
        <p>Please don't hesitate to hit us up through the chat window embedded on the page, or send an email to
        <a href="mailto:signals@coinfi.com">signals@coinfi.com</a> with your question and we'll get back to you ASAP!</p>
      </div>
    </div>
  </div>
