<div class="bs-container bs-container--default">
  <h1>Instructions for Reserving</h1>

  <div class="reservation-card">
    <div class="reservation-option">
      <h2 class="reservation-option__title">
        Option 1: Reserve using Kyber (recommended)
      </h2>

      <ol class="reservation-option-step-list">
        <li class="reservation-option-step-item">
          <div class="reservation-option-step-item__text">
            Use Kyber to send us
            <code class="reservation-token-amount">
              19,999.4312
            </code>
            COFI tokens. Click below:
          </div>
          <a class="btn">Pay with tokens</a>
        </li>

        <li class="reservation-option-step-item">
          <div class="reservation-option-step-item__text">
            Send an email to signals@coinfi.com with the following information:
          </div>
          <ul class="reservation-option-step-item__point-list">
            <li class="reservation-option-step-item__point-item">
              Your telegram username where you'd like to receive signals
            </li>
            <li class="reservation-option-step-item__point-item">
              The amount of tokens you paid which is:
              <code class="reservation-token-amount">
                19,999.4312
              </code>
            </li>
          </ul>
        </li>

        <li class="reservation-option-step-item">
          <div class="reservation-option-step-item__text">
            We'll send you a confirmation as soon as we receive your COFI tokens and email.
          </div>
        </li>
      </ol>
    </div>

    <div class="reservation-option">
      <h2 class="reservation-option__title">
        Option 2: Send COFI tokens manually
      </h2>

      <ol class="reservation-step-list">
        <li class="reservation-step-item">
          <div class="reservation-step-item__text">
            Send exactly
            <code class="reservation-token-amount">
              19,999.4312
            </code>
            COFI tokens to
            <code class="reservation-token-amount">
              0xABCDEFG12345
            </code>
          </div>

          <a href="reservation-step-note">
            Don't have any COFI tokens or need more?
          </a>
        </li>

        <li class="reservation-step-item">
          <div class="reservation-step-item__text">
            Send an email to signals@coinfi.com with the following information:
          </div>
          <ul class="reservation-step-item__point-list">
            <li class="reservation-step-item__point-item">
              Your telegram username where you'd like to receive signals
            </li>
            <li class="reservation-step-item__point-item">
              The amount of tokens you paid which is:
              <code class="reservation-token-amount">
                19,999.4312
              </code>
            </li>
            <li class="reservation-step-item__point-item">
              The wallet address where you're sending your COFI tokens from
            </li>
          </ul>
        </li>

        <li class="reservation-step-item">
          <div class="reservation-step-item__text">
            We'll send you a confirmation as soon as we receive your COFI tokens and email.
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
