main.main-content
  .container
    .section-header
      h2 Register For The CoinFi Token Sale
      p.lead
        | You're one final step away!
        br
        | Please enter the following information to complete the registration and get whitelisted.
        br
      p
        strong Note: We regret to inform you that residents of the United States of America, Canada, Hong Kong, the People's Republic of China, and the Cayman Islands are ineligible for participation at this time.

    = form_tag submit_kyc_path, multipart: true, id: 'kyc-form', class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f|
      .row
        .form-group.col-12.col-md-6
          label for="first_name" First Name
          input.form-control name="first_name" type="text" required="required"

        .form-group.col-12.col-md-6
          label for="last_name" Last Name
          input.form-control name="last_name" type="text" required="required"

      .row
        .form-group.col-12.col-md-6
          label for="date_of_birth" Date of Birth
          input.form-control name="date_of_birth" type="date" required="required" max="1999-12-31" min="1900-01-01"

        .form-group.col-12.col-md-6
          label for="gender" Gender
          select.form-control name="gender" required="required"
            option value="male" Male
            option value="female" Female

      .row
        .form-group.col-12.col-md-6
          label for="residency" Country of Residence
          select.form-control name="residency" title="Select Country"
            <option class="bs-title-option" value="">Select Country</option>
            <option value="ABKHAZIA">Abkhazia</option>
            <option value="ALAND ISLANDS">Aland Islands</option>
            <option value="ALBANIA">Albania</option>
            <option value="ALGERIA">Algeria</option>
            <option value="AMERICAN SAMOA">American Samoa</option>
            <option value="ANDORRA">Andorra</option>
            <option value="ANGOLA">Angola</option>
            <option value="ANGUILLA">Anguilla</option>
            <option value="ANTARCTICA">Antarctica</option>
            <option value="ANTIGUA AND BARBUDA">Antigua And Barbuda</option>
            <option value="ARGENTINA">Argentina</option>
            <option value="ARMENIA">Armenia</option>
            <option value="ARUBA">Aruba</option>
            <option value="ASCENSION">Ascension</option>
            <option value="ASHMORE AND CARTIER ISLANDS">Ashmore And Cartier Islands</option>
            <option value="AUSTRALIA">Australia</option>
            <option value="AUSTRALIAN ANTARCTIC TERRITORY">Australian Antarctic Territory</option>
            <option value="AUSTRIA">Austria</option>
            <option value="AZERBAIJAN">Azerbaijan</option>
            <option value="BAHAMAS">Bahamas</option>
            <option value="BAHRAIN">Bahrain</option>
            <option value="BAKER ISLAND">Baker Island</option>
            <option value="BANGLADESH">Bangladesh</option>
            <option value="BARBADOS">Barbados</option>
            <option value="BELARUS">Belarus</option>
            <option value="BELGIUM">Belgium</option>
            <option value="BELIZE">Belize</option>
            <option value="BENIN">Benin</option>
            <option value="BERMUDA">Bermuda</option>
            <option value="BHUTAN">Bhutan</option>
            <option value="BOLIVIA">Bolivia</option>
            <option value="BOTSWANA">Botswana</option>
            <option value="BOUVET ISLAND">Bouvet Island</option>
            <option value="BRAZIL">Brazil</option>
            <option value="BRITISH ANTARCTIC TERRITORY">British Antarctic Territory</option>
            <option value="BRITISH INDIAN OCEAN TERRITORY">British Indian Ocean Territory</option>
            <option value="BRITISH SOVEREIGN BASE AREAS">British Sovereign Base Areas</option>
            <option value="BRITISH VIRGIN ISLANDS">British Virgin Islands</option>
            <option value="BRUNEI">Brunei</option>
            <option value="BULGARIA">Bulgaria</option>
            <option value="BURKINA FASO">Burkina Faso</option>
            <option value="BURMA (REPUBLIC OF THE UNION OF MYANMAR)">Burma (Republic Of The Union Of Myanmar)</option>
            <option value="BURUNDI">Burundi</option>
            <option value="CAMBODIA">Cambodia</option>
            <option value="CAMEROON">Cameroon</option>
            /<option value="CANADA">Canada</option>
            <option value="CAPE VERDE">Cape Verde</option>
            <option value="CARIBBEAN NETHERLANDS">Caribbean Netherlands</option>
            /<option value="CAYMAN ISLANDS">Cayman Islands</option>
            <option value="CHAD">Chad</option>
            <option value="CHILE">Chile</option>
            <option value="CHRISTMAS ISLAND">Christmas Island</option>
            <option value="CLIPPERTON ISLAND">Clipperton Island</option>
            <option value="COCOS (KEELING) ISLANDS">Cocos (Keeling) Islands</option>
            <option value="COLOMBIA">Colombia</option>
            <option value="COMOROS">Comoros</option>
            <option value="CONGO (REPUBLIC OF)">Congo (Republic Of)</option>
            <option value="COOK ISLANDS">Cook Islands</option>
            <option value="CORAL SEA ISLANDS">Coral Sea Islands</option>
            <option value="COSTA RICA">Costa Rica</option>
            <option value="COTE D'IVOIRE (IVORY COAST)">Cote D'ivoire (Ivory Coast)</option>
            <option value="CROATIA">Croatia</option>
            <option value="CURACAO">Curacao</option>
            <option value="CYPRUS">Cyprus</option>
            <option value="CZECH REPUBLIC">Czech Republic</option>
            <option value="DENMARK">Denmark</option>
            <option value="DJIBOUTI">Djibouti</option>
            <option value="DOMINICA">Dominica</option>
            <option value="DOMINICAN REPUBLIC">Dominican Republic</option>
            <option value="ECUADOR">Ecuador</option>
            <option value="EGYPT">Egypt</option>
            <option value="EL SALVADOR">El Salvador</option>
            <option value="EQUATORIAL GUINEA">Equatorial Guinea</option>
            <option value="ESTONIA">Estonia</option>
            <option value="FALKLAND ISLANDS">Falkland Islands</option>
            <option value="FAROE ISLANDS">Faroe Islands</option>
            <option value="FIJI">Fiji</option>
            <option value="FINLAND">Finland</option>
            <option value="FRANCE">France</option>
            <option value="FRENCH GUIANA">French Guiana</option>
            <option value="FRENCH POLYNESIA">French Polynesia</option>
            <option value="FRENCH SOUTHERN AND ANTARCTIC LANDS">French Southern And Antarctic Lands</option>
            <option value="FRENCH SOUTHERN TERRITORIES">French Southern Territories</option>
            <option value="GABON">Gabon</option>
            <option value="GAMBIA">Gambia</option>
            <option value="GEORGIA">Georgia</option>
            <option value="GERMANY">Germany</option>
            <option value="GHANA">Ghana</option>
            <option value="GIBRALTAR">Gibraltar</option>
            <option value="GREECE">Greece</option>
            <option value="GREENLAND">Greenland</option>
            <option value="GRENADA">Grenada</option>
            <option value="GUADELOUPE">Guadeloupe</option>
            <option value="GUAM">Guam</option>
            <option value="GUATEMALA">Guatemala</option>
            <option value="GUERNSEY">Guernsey</option>
            <option value="GUINEA">Guinea</option>
            <option value="GUYANA">Guyana</option>
            <option value="HAITI">Haiti</option>
            <option value="HEARD AND MCDONALD ISLANDS">Heard And Mcdonald Islands</option>
            <option value="HONDURAS">Honduras</option>
            /<option value="HONG KONG">Hong Kong</option>
            <option value="HOWLAND ISLAND">Howland Island</option>
            <option value="HUNGARY">Hungary</option>
            <option value="ICELAND">Iceland</option>
            <option value="INDIA">India</option>
            <option value="INDONESIA">Indonesia</option>
            <option value="IRELAND">Ireland</option>
            <option value="ISLE OF MAN">Isle Of Man</option>
            <option value="ISRAEL">Israel</option>
            <option value="ITALY">Italy</option>
            <option value="JAMAICA">Jamaica</option>
            <option value="JAPAN">Japan</option>
            <option value="JARVIS ISLAND">Jarvis Island</option>
            <option value="JERSEY">Jersey</option>
            <option value="JOHNSTON ATOLL">Johnston Atoll</option>
            <option value="JORDAN">Jordan</option>
            <option value="KAZAKHSTAN">Kazakhstan</option>
            <option value="KENYA">Kenya</option>
            <option value="KINGMAN REEF">Kingman Reef</option>
            <option value="KIRIBATI">Kiribati</option>
            <option value="KOSOVO">Kosovo</option>
            <option value="KUWAIT">Kuwait</option>
            <option value="KYRGYZSTAN">Kyrgyzstan</option>
            <option value="LAOS">Laos</option>
            <option value="LATVIA">Latvia</option>
            <option value="LESOTHO">Lesotho</option>
            <option value="LIBERIA">Liberia</option>
            <option value="LIECHTENSTEIN">Liechtenstein</option>
            <option value="LITHUANIA">Lithuania</option>
            <option value="LUXEMBOURG">Luxembourg</option>
            <option value="MACAU">Macau</option>
            <option value="MACEDONIA">Macedonia</option>
            <option value="MADAGASCAR">Madagascar</option>
            <option value="MALAWI">Malawi</option>
            <option value="MALAYSIA">Malaysia</option>
            <option value="MALDIVES">Maldives</option>
            <option value="MALI">Mali</option>
            <option value="MALTA">Malta</option>
            <option value="MARSHALL ISLANDS">Marshall Islands</option>
            <option value="MARTINIQUE">Martinique</option>
            <option value="MAURITANIA">Mauritania</option>
            <option value="MAURITIUS">Mauritius</option>
            <option value="MAYOTTE">Mayotte</option>
            <option value="MEXICO">Mexico</option>
            <option value="MICRONESIA">Micronesia</option>
            <option value="MIDWAY ISLANDS">Midway Islands</option>
            <option value="MOLDOVA">Moldova</option>
            <option value="MONACO">Monaco</option>
            <option value="MONGOLIA">Mongolia</option>
            <option value="MONTENEGRO">Montenegro</option>
            <option value="MONTSERRAT">Montserrat</option>
            <option value="MOROCCO">Morocco</option>
            <option value="MOZAMBIQUE">Mozambique</option>
            <option value="NAGORNO-KARABAKH">Nagorno Karabakh</option>
            <option value="NAMIBIA">Namibia</option>
            <option value="NAURU">Nauru</option>
            <option value="NAVASSA ISLAND">Navassa Island</option>
            <option value="NEPAL">Nepal</option>
            <option value="NETHERLANDS">Netherlands</option>
            <option value="NEW CALEDONIA">New Caledonia</option>
            <option value="NEW ZEALAND">New Zealand</option>
            <option value="NICARAGUA">Nicaragua</option>
            <option value="NIGER">Niger</option>
            <option value="NIGERIA">Nigeria</option>
            <option value="NIUE">Niue</option>
            <option value="NORFOLK ISLAND">Norfolk Island</option>
            <option value="NORTHERN CYPRUS">Northern Cyprus</option>
            <option value="NORTHERN MARIANA ISLANDS">Northern Mariana Islands</option>
            <option value="NORWAY">Norway</option>
            <option value="OMAN">Oman</option>
            <option value="PAKISTAN">Pakistan</option>
            <option value="PALAU">Palau</option>
            <option value="PALESTINE">Palestine</option>
            <option value="PALMYRA ATOLL">Palmyra Atoll</option>
            <option value="PANAMA">Panama</option>
            <option value="PAPUA NEW GUINEA">Papua New Guinea</option>
            <option value="PARAGUAY">Paraguay</option>
            <option value="PERU">Peru</option>
            <option value="PETER I ISLAND">Peter I Island</option>
            <option value="PHILIPPINES">Philippines</option>
            <option value="PITCAIRN">Pitcairn</option>
            <option value="PITCAIRN ISLANDS">Pitcairn Islands</option>
            <option value="POLAND">Poland</option>
            <option value="PORTUGAL">Portugal</option>
            <option value="PRIDNESTROVIE (TRANSNISTRIA)">Pridnestrovie (Transnistria)</option>
            <option value="PUERTO RICO">Puerto Rico</option>
            <option value="QATAR">Qatar</option>
            <option value="QUEEN MAUD LAND">Queen Maud Land</option>
            <option value="REUNION">Reunion</option>
            <option value="ROMANIA">Romania</option>
            <option value="ROSS DEPENDENCY">Ross Dependency</option>
            <option value="RUSSIAN FEDERATION">Russian Federation</option>
            <option value="RWANDA">Rwanda</option>
            <option value="SAINT BARTHELEMY">Saint Barthelemy</option>
            <option value="SAINT HELENA">Saint Helena</option>
            <option value="SAINT KITTS AND NEVIS">Saint Kitts And Nevis</option>
            <option value="SAINT LUCIA">Saint Lucia</option>
            <option value="SAINT MARTIN (FRANCE)">Saint Martin (France)</option>
            <option value="SAINT MARTIN (NETHERLANDS)">Saint Martin (Netherlands)</option>
            <option value="SAINT PIERRE AND MIQUELON">Saint Pierre And Miquelon</option>
            <option value="SAINT VINCENT AND GRENADINES">Saint Vincent And Grenadines</option>
            <option value="SAMOA">Samoa</option>
            <option value="SAN MARINO">San Marino</option>
            <option value="SAO TOME AND PRINCIPE">Sao Tome And Principe</option>
            <option value="SAUDI ARABIA">Saudi Arabia</option>
            <option value="SENEGAL">Senegal</option>
            <option value="SERBIA">Serbia</option>
            <option value="SEYCHELLES">Seychelles</option>
            <option value="SIERRA LEONE">Sierra Leone</option>
            <option value="SINGAPORE">Singapore</option>
            <option value="SLOVAKIA">Slovakia</option>
            <option value="SLOVENIA">Slovenia</option>
            <option value="SOLOMON ISLANDS">Solomon Islands</option>
            <option value="SOMALILAND">Somaliland</option>
            <option value="SOUTH AFRICA">South Africa</option>
            <option value="SOUTH GEORGIA &amp; SOUTH SANDWICH ISLANDS">South Georgia &amp; South Sandwich Islands</option>
            <option value="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">South Georgia And The South Sandwich Islands</option>
            <option value="SOUTH KOREA">South Korea</option>
            <option value="SOUTH OSSETIA">South Ossetia</option>
            <option value="SPAIN">Spain</option>
            <option value="SURINAME">Suriname</option>
            <option value="SVALBARD AND JAN MAYEN ISLANDS">Svalbard And Jan Mayen Islands</option>
            <option value="SWAZILAND">Swaziland</option>
            <option value="SWEDEN">Sweden</option>
            <option value="SWITZERLAND">Switzerland</option>
            <option value="TAIWAN">Taiwan</option>
            <option value="TAJIKISTAN">Tajikistan</option>
            <option value="TANZANIA">Tanzania</option>
            <option value="THAILAND">Thailand</option>
            <option value="TIMOR-LESTE">Timor Leste</option>
            <option value="TOGO">Togo</option>
            <option value="TOKELAU">Tokelau</option>
            <option value="TONGA">Tonga</option>
            <option value="TRINIDAD AND TOBAGO">Trinidad And Tobago</option>
            <option value="TRISTAN DA CUNHA">Tristan Da Cunha</option>
            <option value="TURKEY">Turkey</option>
            <option value="TURKMENISTAN">Turkmenistan</option>
            <option value="TURKS AND CAICOS ISLANDS">Turks And Caicos Islands</option>
            <option value="TUVALU">Tuvalu</option>
            <option value="UGANDA">Uganda</option>
            <option value="UKRAINE">Ukraine</option>
            <option value="UNITED ARAB EMIRATES">United Arab Emirates</option>
            <option value="UNITED KINGDOM">United Kingdom</option>
            /<option value="UNITED STATES MINOR OUTLYING ISLANDS">United States Minor Outlying Islands</option>
            /<option value="UNITED STATES OF AMERICA">United States Of America</option>
            /<option value="UNITED STATES VIRGIN ISLANDS">United States Virgin Islands</option>
            <option value="URUGUAY">Uruguay</option>
            <option value="UZBEKISTAN">Uzbekistan</option>
            <option value="VATICAN">Vatican</option>
            <option value="VENEZUELA">Venezuela</option>
            <option value="VIETNAM">Vietnam</option>
            <option value="WAKE ISLAND">Wake Island</option>
            <option value="WALLIS AND FUTUNA ISLANDS">Wallis And Futuna Islands</option>
            <option value="WESTERN SAHARAN">Western Saharan</option>
            <option value="ZAMBIA">Zambia</option>
            <option value="ZIMBABWE">Zimbabwe</option>

        .form-group.col-12.col-md-6
          label for="nationality" Nationality (Country of Citizenship)
          select.form-control name="nationality" title="Select Nationality" required="required"
            <option class="bs-title-option" value="">Select Country</option>
            <option value="ABKHAZIAN">Abkhazian</option>
            <option value="AFGHANI">Afghani</option>
            <option value="ALANDIC">Alandic</option>
            <option value="ALBANIAN">Albanian</option>
            <option value="ALGERIAN">Algerian</option>
            <option value="AMERICAN">American</option>
            <option value="ANDORRAN">Andorran</option>
            <option value="ANGOLAN">Angolan</option>
            <option value="ANTARCTIC">Antarctic</option>
            <option value="ANTIGUAN">Antiguan</option>
            <option value="ARGENTINE">Argentine</option>
            <option value="ARMENIAN">Armenian</option>
            <option value="ARUBIAN">Arubian</option>
            <option value="ASCENSION">Ascension</option>
            <option value="AUSTRALIAN">Australian</option>
            <option value="AUSTRALIAN ANTARCTIC TERRITORY">Australian Antarctic Territory</option>
            <option value="AUSTRALIAN EXTERNAL TERRITORY">Australian External Territory</option>
            <option value="AUSTRIAN">Austrian</option>
            <option value="AZERBAIJANI">Azerbaijani</option>
            <option value="BAHAMEESE">Bahameese</option>
            <option value="BAHRAINIAN">Bahrainian</option>
            <option value="BAKER ISLAND">Baker Island</option>
            <option value="BANGLADESHI">Bangladeshi</option>
            <option value="BARBADIAN">Barbadian</option>
            <option value="BELARUSIAN">Belarusian</option>
            <option value="BELGIAN">Belgian</option>
            <option value="BELIZEAN">Belizean</option>
            <option value="BENINESE">Beninese</option>
            <option value="BHUTANESE">Bhutanese</option>
            <option value="BOLIVIAN">Bolivian</option>
            <option value="BOSNIAN">Bosnian</option>
            <option value="BOUVET ISLAND">Bouvet Island</option>
            <option value="BRAZILIAN">Brazilian</option>
            <option value="BRITISH">British</option>
            <option value="BRITISH ANTARCTIC TERRITORY">British Antarctic Territory</option>
            <option value="BRITISH INDIAN OCEAN TERRITORY">British Indian Ocean Territory</option>
            <option value="BRITISH OVERSEAS TERRITORY">British Overseas Territory</option>
            <option value="BRITISH SOVEREIGN BASE AREAS">British Sovereign Base Areas</option>
            <option value="BRUNEIAN">Bruneian</option>
            <option value="BULGARIAN">Bulgarian</option>
            <option value="BURKINABE">Burkinabe</option>
            <option value="BURUNDIAN">Burundian</option>
            <option value="CAMBODIAN">Cambodian</option>
            <option value="CAMEROONIAN">Cameroonian</option>
            <option value="CANADIAN">Canadian</option>
            <option value="CAPE VERDEAN">Cape Verdean</option>
            <option value="CARIBBEAN NETHERLANDS">Caribbean Netherlands</option>
            <option value="CENTRAL AFRICAN">Central African</option>
            <option value="CHADIAN">Chadian</option>
            <option value="CHILEAN">Chilean</option>
            <option value="CHINESE">Chinese</option>
            <option value="CLIPPERTON ISLAND">Clipperton Island</option>
            <option value="COLOMBIAN">Colombian</option>
            <option value="COMORAN">Comoran</option>
            <option value="CONGOLESE">Congolese</option>
            <option value="COOK ISLANDER">Cook Islander</option>
            <option value="COSTA RICAN">Costa Rican</option>
            <option value="CROATIAN">Croatian</option>
            <option value="CUBAN">Cuban</option>
            <option value="CURACAOAN">Curacaoan</option>
            <option value="CYPRIOT">Cypriot</option>
            <option value="CZECH">Czech</option>
            <option value="DANISH">Danish</option>
            <option value="DJIBOUTIAN">Djiboutian</option>
            <option value="DOMINICAN">Dominican</option>
            <option value="DUTCH">Dutch</option>
            <option value="ECUADOREAN">Ecuadorean</option>
            <option value="EGYPTIAN">Egyptian</option>
            <option value="EMIRIAN">Emirian</option>
            <option value="EQUATORIAL GUINEAN">Equatorial Guinean</option>
            <option value="ERITREAN">Eritrean</option>
            <option value="ESTONIAN">Estonian</option>
            <option value="ETHIOPIAN">Ethiopian</option>
            <option value="FAROESE">Faroese</option>
            <option value="FIJIAN">Fijian</option>
            <option value="FILIPINO">Filipino</option>
            <option value="FINNISH">Finnish</option>
            <option value="FRENCH">French</option>
            <option value="FRENCH GUIANESE">French Guianese</option>
            <option value="FRENCH OVERSEAS COLLECTIVITY">French Overseas Collectivity</option>
            <option value="FRENCH OVERSEAS REGION">French Overseas Region</option>
            <option value="FRENCH SOUTHERN AND ANTARCTIC LANDS">French Southern And Antarctic Lands</option>
            <option value="FRENCH SOUTHERN TERRITORIES">French Southern Territories</option>
            <option value="GABONESE">Gabonese</option>
            <option value="GAMBIAN">Gambian</option>
            <option value="GEORGIAN">Georgian</option>
            <option value="GERMAN">German</option>
            <option value="GHANAIAN">Ghanaian</option>
            <option value="GIBRALTARIAN">Gibraltarian</option>
            <option value="GREEK">Greek</option>
            <option value="GREENLANDER">Greenlander</option>
            <option value="GRENADIAN">Grenadian</option>
            <option value="GUADELOUPEAN">Guadeloupean</option>
            <option value="GUAMANIAN">Guamanian</option>
            <option value="GUATEMALAN">Guatemalan</option>
            <option value="GUERNSEY">Guernsey</option>
            <option value="GUINEAN">Guinean</option>
            <option value="GUYANESE">Guyanese</option>
            <option value="HAITIAN">Haitian</option>
            <option value="HONDURAN">Honduran</option>
            <option value="HONG KONG">Hong Kong</option>
            <option value="HOWLAND ISLAND">Howland Island</option>
            <option value="HUNGARIAN">Hungarian</option>
            <option value="I-KIRIBATI">I Kiribati</option>
            <option value="ICELANDER">Icelander</option>
            <option value="INDIAN">Indian</option>
            <option value="INDONESIAN">Indonesian</option>
            <option value="IRANIAN">Iranian</option>
            <option value="IRAQI">Iraqi</option>
            <option value="IRISH">Irish</option>
            <option value="ISRAELI">Israeli</option>
            <option value="ITALIAN">Italian</option>
            <option value="IVORIAN">Ivorian</option>
            <option value="JAMAICAN">Jamaican</option>
            <option value="JAPANESE">Japanese</option>
            <option value="JARVIS ISLAND">Jarvis Island</option>
            <option value="JERSEY">Jersey</option>
            <option value="JOHNSTON ATOLL">Johnston Atoll</option>
            <option value="JORDANIAN">Jordanian</option>
            <option value="KAZAKHSTANI">Kazakhstani</option>
            <option value="KENYAN">Kenyan</option>
            <option value="KINGMAN REEF">Kingman Reef</option>
            <option value="KITTIAN">Kittian</option>
            <option value="KOSOVAR">Kosovar</option>
            <option value="KUWAITI">Kuwaiti</option>
            <option value="KYRGYZSTANI">Kyrgyzstani</option>
            <option value="LAOTIAN">Laotian</option>
            <option value="LATVIAN">Latvian</option>
            <option value="LEBANESE">Lebanese</option>
            <option value="LIBERIAN">Liberian</option>
            <option value="LIBYAN">Libyan</option>
            <option value="LIECHTENSTEINER">Liechtensteiner</option>
            <option value="LITHUNIAN">Lithunian</option>
            <option value="LUXEMBOURGER">Luxembourger</option>
            <option value="MACANESE">Macanese</option>
            <option value="MACEDONIAN">Macedonian</option>
            <option value="MAHORAN">Mahoran</option>
            <option value="MALAGASY">Malagasy</option>
            <option value="MALAWIAN">Malawian</option>
            <option value="MALAYSIAN">Malaysian</option>
            <option value="MALDIVAN">Maldivan</option>
            <option value="MALIAN">Malian</option>
            <option value="MALTESE">Maltese</option>
            <option value="MANX">Manx</option>
            <option value="MARSHALLESE">Marshallese</option>
            <option value="MARTINICAN">Martinican</option>
            <option value="MAURITANIAN">Mauritanian</option>
            <option value="MAURITIAN">Mauritian</option>
            <option value="MEXICAN">Mexican</option>
            <option value="MICRONESIAN">Micronesian</option>
            <option value="MOLDOVAN">Moldovan</option>
            <option value="MONACAN">Monacan</option>
            <option value="MONGOLIAN">Mongolian</option>
            <option value="MONTENEGRIN">Montenegrin</option>
            <option value="MONTSERRATIAN">Montserratian</option>
            <option value="MOROCCAN">Moroccan</option>
            <option value="MOSOTHO">Mosotho</option>
            <option value="MOTSWANA">Motswana</option>
            <option value="MOZAMBICAN">Mozambican</option>
            <option value="MYANMAR">Myanmar</option>
            <option value="NAGORNO-KARABAKH">Nagorno Karabakh</option>
            <option value="NAMIBIAN">Namibian</option>
            <option value="NAURUAN">Nauruan</option>
            <option value="NAVASSA ISLAND">Navassa Island</option>
            <option value="NEPALESE">Nepalese</option>
            <option value="NEW CALEDONIAN">New Caledonian</option>
            <option value="NEW ZEALANDER">New Zealander</option>
            <option value="NI-VANUATU">Ni Vanuatu</option>
            <option value="NICARAGUAN">Nicaraguan</option>
            <option value="NIGERIAN">Nigerian</option>
            <option value="NIGERIEN">Nigerien</option>
            <option value="NIUEAN">Niuean</option>
            <option value="NORFOLK ISLANDER">Norfolk Islander</option>
            <option value="NORTH KOREAN">North Korean</option>
            <option value="NORWEGIAN">Norwegian</option>
            <option value="OMANI">Omani</option>
            <option value="PAKISTANI">Pakistani</option>
            <option value="PALAUAN">Palauan</option>
            <option value="PALESTINIAN">Palestinian</option>
            <option value="PALMYRA ATOLL">Palmyra Atoll</option>
            <option value="PANAMANIAN">Panamanian</option>
            <option value="PAPUA NEW GUINEAN">Papua New Guinean</option>
            <option value="PARAGUAYAN">Paraguayan</option>
            <option value="PERUVIAN">Peruvian</option>
            <option value="PETER I ISLAND">Peter I Island</option>
            <option value="PITCAIRN ISLANDER">Pitcairn Islander</option>
            <option value="POLISH">Polish</option>
            <option value="PORTUGUESE">Portuguese</option>
            <option value="PRIDNESTROVIE (TRANSNISTRIA)">Pridnestrovie (Transnistria)</option>
            <option value="PUERTO RICAN">Puerto Rican</option>
            <option value="QATARI">Qatari</option>
            <option value="QUEEN MAUD LAND">Queen Maud Land</option>
            <option value="ROMANIAN">Romanian</option>
            <option value="ROSS DEPENDENCY">Ross Dependency</option>
            <option value="RUSSIAN">Russian</option>
            <option value="RWANDAN">Rwandan</option>
            <option value="SAINT LUCIAN">Saint Lucian</option>
            <option value="SAINT VINCENTIAN">Saint Vincentian</option>
            <option value="SAINT-PIERRAIS">Saint Pierrais</option>
            <option value="SALVADOREAN">Salvadorean</option>
            <option value="SAMOAN">Samoan</option>
            <option value="SANMARINESE">Sanmarinese</option>
            <option value="SAO TOMEAN">Sao Tomean</option>
            <option value="SAUDI ARABIAN">Saudi Arabian</option>
            <option value="SENEGALESE">Senegalese</option>
            <option value="SERBIAN">Serbian</option>
            <option value="SEYCHELLOIS">Seychellois</option>
            <option value="SIERRA LEONEAN">Sierra Leonean</option>
            <option value="SINGAPOREAN">Singaporean</option>
            <option value="SLOVAKIAN">Slovakian</option>
            <option value="SLOVENIAN">Slovenian</option>
            <option value="SOLOMON ISLANDER">Solomon Islander</option>
            <option value="SOMALI">Somali</option>
            <option value="SOMALILAND">Somaliland</option>
            <option value="SOUTH AFRICAN">South African</option>
            <option value="SOUTH KOREAN">South Korean</option>
            <option value="SOUTH OSSETIA">South Ossetia</option>
            <option value="SOUTH SUDANESE">South Sudanese</option>
            <option value="SPANISH">Spanish</option>
            <option value="SRI LANKAN">Sri Lankan</option>
            <option value="SUDANESE">Sudanese</option>
            <option value="SURINAMER">Surinamer</option>
            <option value="SVALBARD AND JAN MAYEN ISLANDS">Svalbard And Jan Mayen Islands</option>
            <option value="SWAZI">Swazi</option>
            <option value="SWEDISH">Swedish</option>
            <option value="SWISS">Swiss</option>
            <option value="SYRIAN">Syrian</option>
            <option value="TAIWANESE">Taiwanese</option>
            <option value="TAJIKISTANI">Tajikistani</option>
            <option value="TANZANIAN">Tanzanian</option>
            <option value="THAI">Thai</option>
            <option value="TIMORESE">Timorese</option>
            <option value="TOGOLESE">Togolese</option>
            <option value="TOKELAUAN">Tokelauan</option>
            <option value="TONGAN">Tongan</option>
            <option value="TRINIDADIAN">Trinidadian</option>
            <option value="TRISTAN DA CUNHA">Tristan Da Cunha</option>
            <option value="TUNISIAN">Tunisian</option>
            <option value="TURKISH">Turkish</option>
            <option value="TURKMEN">Turkmen</option>
            <option value="TUVALUAN">Tuvaluan</option>
            <option value="U.S. TERRITORY">U.S. Territory</option>
            <option value="UGANDAN">Ugandan</option>
            <option value="UKRAINIAN">Ukrainian</option>
            <option value="AMERICAN">United States Of America</option>
            <option value="URUGUAYAN">Uruguayan</option>
            <option value="UZBEKISTANI">Uzbekistani</option>
            <option value="VATICAN">Vatican</option>
            <option value="VENEZUELAN">Venezuelan</option>
            <option value="VIETNAMESE">Vietnamese</option>
            <option value="WAKE ISLAND">Wake Island</option>
            <option value="WESTERN SAHARAN">Western Saharan</option>
            <option value="YEMENI">Yemeni</option>
            <option value="ZAMBIAN">Zambian</option>
            <option value="ZIMBABWEAN">Zimbabwean</option>

      .row
        .col-12.col-lg-6
          .form-group
            label for="ethereum_address" Ethereum Address
            input.form-control name="ethereum_address" type="text" placeholder="0x..."  required="required"
        .col-12.col-lg-6
            small.text-danger(style="margin-top: 12px") IMPORTANT: You will deposit ETH and receive COFI tokens at this address.<br>Make sure to use your Ethereum wallet address, and NOT an address from exchanges like Coinbase, Kraken, Poloniex, Gemini, Bittrex, etc. <a href="https://blog.coinfi.com/how-to-participate-in-the-coinfi-token-sale/" target="_blank">Click here for step-by-step instructions.</a>

      .row
        .col-12.col-lg-6
          label for="id_image" Upload Photo/Scan Of ID Document
          .file-group
            button.btn.btn-primary.btn-block.file-browser
              i.fa.fa-upload &nbsp;
              | Select File To Upload
            = file_field_tag :id_doc_image, required: true
        .col-12.col-lg-6
          br.hidden-lg-down
          small
            | Please upload a high quality scan/photo of your ID document.
            br
            | Maximum filesize is 5MB, JPG/PNG file extensions only.
          .fa.fa-info-circle data-toggle="tooltip" data-placement="top" data-html="true" title="<img src='https://unichange.me/images/verification_docs/id_both_sides.png'>"

      .row
        .col-12.col-lg-6
          label for="selfie_image" Upload Photo Of You Holding Your ID Document
          .file-group
            button.btn.btn-primary.btn-block.file-browser
              i.fa.fa-upload &nbsp;
              | Select File To Upload
            = file_field_tag :selfie_image, required: true
        .col-12.col-lg-6
          br.hidden-lg-down
          small
            | Please upload a high quality photo of you holding your ID document.
            br
            | Maximum filesize is 5MB, JPG/PNG file extensions only.
          .fa.fa-info-circle data-toggle="tooltip" data-placement="top" data-html="true" title="<img src='https://unichange.me/images/verification_docs/international_pass_selfie.png'>"
      br

      .row
        .col-12.text-center
          h4 I Confirm The Following
      .row
        .col-3.text-right
          => check_box_tag 'confirm_correct_info', '1', false, required: true
        .col-9
          = label_tag "confirm_correct_info", "All the information I have entered is true and correct."
      .row
        .col-3.text-right
          => check_box_tag 'confirm_no_legal_restrictions', '1', false, required: true
        .col-9
          = label_tag "confirm_no_legal_restrictions", "I am not restricted under any law from providing this information or purchasing CoinFi tokens."
      .row
        .col-3.text-right
          => check_box_tag 'confirm_privacy_policy', '1', false, required: true
        .col-9
          = label_tag "confirm_privacy_policy", "I have read, understood and agree to CoinFi’s <a href='https://docs.google.com/document/d/1tfJlsvTm6VRKZOprbg_p3-d7ST4WX4sfAbFbajG4sjk/edit' target='_blank'>Privacy Policy</a>.".html_safe
      .row
        .col-3.text-right
          => check_box_tag 'confirm_token_agreement', '1', false, required: true
        .col-9
          = label_tag "confirm_token_agreement", "I have read, understood and agree to CoinFi’s <a href='https://docs.google.com/document/d/1q_2KWTOmqAJogpVw1SWq2bcpNWp6KqtjdxYTY-Getng/edit' target='_blank'>Token Agreement</a>.".html_safe
      .row
        .col-3.text-right
          => check_box_tag 'confirm_terms_conditions', '1', false, required: true
        .col-9
          = label_tag "confirm_terms_conditions", "I understand that any purchase of CoinFi’s Tokens may be subject to additional terms and conditions."
      br
      p.lead.text-center <strong>Note:</strong> The submission process can take up to 60 seconds so please be patient and stay on the page.<br>Do NOT refresh, click the Back button, close the window, or click anything else on the page!
      br
      button.btn.btn-xl.btn-success.btn-block type="submit"
        i.fa.fa-check-circle &nbsp;
        | Complete Registration
        span.hidden-md-down and Get Whitelisted
br

script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"
javascript:
  window.FCSP = 'f2d1ab26e9a2990f1b601a77e6df6767';
  /**
   * Checks if the given string is an address
   *
   * @method isAddress
   * @param {String} address the given HEX adress
   * @return {Boolean}
  */
  var isEthereumAddress = function (address) {
      if (!/^(0x)?[0-9a-f]{40}$/i.test(address)) {
          // check if it has the basic requirements of an address
          return false;
      } else if (/^(0x)?[0-9a-f]{40}$/.test(address) || /^(0x)?[0-9A-F]{40}$/.test(address)) {
          // If it's all small caps or all all caps, return true
          return true;
      } else {
          // Otherwise check each case
          return isChecksumAddress(address);
      }
  };

  /**
   * Checks if the given string is a checksummed address
   *
   * @method isChecksumAddress
   * @param {String} address the given HEX adress
   * @return {Boolean}
  */
  var isChecksumAddress = function (address) {
      // Check each case
      address = address.replace('0x','');
      console.log("address: ", address);
      var addressHash = CryptoJS.SHA3(address.toLowerCase());
      console.log("addressHash: ", addressHash);
      for (var i = 0; i < 40; i++ ) {
          // the nth letter should be uppercase if the nth digit of casemap is 1
          if ((parseInt(addressHash[i], 16) > 7 && address[i].toUpperCase() !== address[i]) || (parseInt(addressHash[i], 16) <= 7 && address[i].toLowerCase() !== address[i])) {
              return false;
          }
      }
      return true;
  };

  $(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('form input[name=ethereum_address]').change(function() {
      var ethereumAddress = $(this)[0].value;
      console.log(ethereumAddress);
      if (!isEthereumAddress(ethereumAddress)) {
        alert("This doesn't seem to be a valid Ethereum address!");
      }
    });

    $('form#kyc-form').submit(function(){
      $(this).find('button[type=submit]').prop('disabled', true).text('Processing...');
    });

    $('.directUpload').find("input:file").each(function(i, elem) {
      var fileInput    = $(elem);
      var form         = $(fileInput.parents('form:first'));
      var submitButton = form.find('button[type="submit"]');
      var progressBar  = $("<div class='progress-bar'></div>");
      var barContainer = $("<div class='progress'></div>").append(progressBar);
      fileInput.after(barContainer);

      fileInput.fileupload({
        fileInput:       fileInput,
        url:             form.data('url'),
        type:            'POST',
        autoUpload:       true,
        formData:         form.data('form-data'),
        paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
        replaceFileInput: false,
        // https://stackoverflow.com/questions/17451629/maxfilesize-and-acceptfiletypes-in-blueimp-file-upload-plugin-do-not-work-why
        add: function(e, data) {
          var uploadErrors = [];
          var acceptFileTypes = /^image\/(jpe?g|png)$/i;
          if (data.files[0]['type'] && !acceptFileTypes.test(data.files[0]['type'])) {
            uploadErrors.push('Not an accepted file type! Only JPG and PNG are allowed.');
          }
          if (data.files[0]['size'] && data.files[0]['size'] > 5000000) {
            uploadErrors.push('Filesize is too big! Please resize or use a smaller image.');
          }
          if (uploadErrors.length > 0) {
            alert(uploadErrors.join("\n"));
          } else {
            data.submit();
          }
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css('width', progress + '%');
          progressBar.text(progress + '%');
        },
        start: function (e) {
          submitButton.prop('disabled', true);

          progressBar.
            css("width", "0%").
            css("background", "#0275d8").
            text("Loading...");
        },
        done: function(e, data) {
          // extract key and generate URL from response
          var key   = $(data.jqXHR.responseXML).find("Key").text();
          var url   = '//' + form.data('host') + '/' + key;

          // create hidden field
          var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
          form.append(input);

          submitButton.prop('disabled', false);
        },
        fail: function(e, data) {
          progressBar.
            css("background", "red").
            text("Upload failed, please try again!");
        }
      });
    });
  });
script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"
