.bg-gradient--fl1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f2f6+0,ffffff+1,ffffff+100&0.8+0,0.8+100 */
  background: -moz-linear-gradient(
    left,
    rgba(241, 242, 246, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 1%,
    rgba(255, 255, 255, 0.8) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(241, 242, 246, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 1%,
    rgba(255, 255, 255, 0.8) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(241, 242, 246, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 1%,
    rgba(255, 255, 255, 0.8) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf1f2f6', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 */
}
