@mixin addColorClass($hex, $name) {
  .#{$name} {
    color: $hex;
  }
  .bg-#{$name} {
    background-color: $hex;
  }
  .b--#{$name} {
    border-color: $hex;
  }
}

@include addColorClass($aqua, 'aqua');
@include addColorClass($emerald, 'emerald');
@include addColorClass($sunset, 'sunset');
@include addColorClass($bright-gray, 'bright-gray');
@include addColorClass($tiber, 'tiber');
@include addColorClass($slate, 'slate');
@include addColorClass($athens, 'athens');
@include addColorClass($athens-dark, 'athens-dark');
@include addColorClass($athens-darker, 'athens-darker');
@include addColorClass($elephant, 'elephant');
@include addColorClass($geyser, 'geyser');
