@mixin addColorClass($hex, $name) {
  .#{$name} {
    color: #{$hex};
  }
  .bg-#{$name} {
    background-color: #{$hex};
  }
}

@include addColorClass($picton, 'picton');
@include addColorClass($dodger, 'dodger');
@include addColorClass($emerald, 'emerald');
@include addColorClass($sunset, 'sunset');
@include addColorClass($bright-gray, 'bright-gray');
@include addColorClass($tiber, 'tiber');
