@mixin conceal() {
  position: fixed !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.conceal {
  @include conceal();
}

@media #{$screen-max-ns} {
  .reveal-ns {
    @include conceal();
  }
}

@media #{$screen-min-ns} {
  .conceal-ns {
    @include conceal();
  }
}

@media #{$screen-max-m} {
  .reveal-m {
    @include conceal();
  }
}

@media #{$screen-min-m} {
  .conceal-m {
    @include conceal();
  }
}

@media #{$screen-max-l} {
  .reveal-l {
    @include conceal();
  }
}

@media #{$screen-min-l} {
  .conceal-l {
    @include conceal();
  }
}
