// Misc
.cursor-move {
  cursor: move !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur-1 {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.no-wrap {
  white-space: nowrap;
}
// Adjustments
.a1 {
  transform: scale(1.2) translateY(-0.2em);
  -webkit-transform: scale(1.2) translateY(-0.2em);
}
