// Class to add padding which scales down with
// the screen size. Used usually only for the
// edges of the page.
.phr {
  padding-right: $sp3;
  padding-left: $sp3;
}
@media #{$breakpoint-s} {
  .phr,
  .phr-ns {
    padding-right: $sp4;
    padding-left: $sp4;
  }
}
