$sizes_em: 1, 2, 3, 4, 5, 6, 10, 12, 15, 18, 20, 25, 28, 50;

@mixin em-setup($namespace) {
  @each $size in $sizes_em {
    .min-w#{$size}e#{$namespace} {
      min-width: #{$size}em;
    }
    .min-h#{$size}e#{$namespace} {
      min-height: #{$size}em;
    }
    .max-w#{$size}e#{$namespace} {
      max-width: #{$size}em;
    }
    .max-h#{$size}e#{$namespace} {
      max-height: #{$size}em;
    }
    .w#{$size}e#{$namespace} {
      width: #{$size}em;
    }
    .h#{$size}e#{$namespace} {
      height: #{$size}em;
    }
  }
}

@include em-setup('');
@media #{$screen-min-ns} {
  @include em-setup('-ns');
}
@media #{$screen-min-m} {
  @include em-setup('-m');
}
@media #{$screen-min-l} {
  @include em-setup('-l');
}
$sizes_vh: 50, 75;

@mixin vh-setup($namespace) {
  @each $size in $sizes_vh {
    .min-vh-#{$size}#{$namespace} {
      min-height: #{$size}vh;
    }
  }
}

@include vh-setup('');

.vw100 {
  width:100vw;
}
