script {
  display: none !important;
}

* {
  outline: none;
}

a,
a > * {
  cursor: pointer;
}

body {
  font-family: $sans-serif;
  @extend .min-vh-100;
  @extend .flex;
  @extend .flex-column;
  min-width: 360px;
  overflow-x: hidden;
  > main {
    @extend .flex-auto;
    @extend .flex;
    @extend .flex-column;
    background: $athens;
    > * {
      @extend .flex;
      @extend .flex-column;
      @extend .flex-auto;
    }
  }
}

// Default border color
.bl {
  border-color: $athens-darker;
}

ol.tips {
  list-style-type: none;
  padding: 0;
  li {
    margin: 10px 0;
  }
  li > div {
    display: inline-block;
    font-size: 0.75rem;
  }
  img {
    margin: 0 5px;
  }
}

.signup-cta-wrap {
  h2 {
    font-size: 1.13rem;
    font-weight: bold;
    margin: 0;
  }
}

style {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .signup-cta-wrap {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 90%;
    h2 {
      border: 0;
    }
  }
}
