* {
  outline: none;
}
a,
a > * {
  cursor: pointer;
}
body {
  font-family: $sans-serif;
  @extend .min-vh-100;
  @extend .flex;
  @extend .flex-column;
  min-width: 360px;
  overflow-x: hidden;
  > main {
    @extend .flex-auto;
    @extend .flex;
    @extend .flex-column;
    background: $athens;
    > * {
      @extend .flex;
      @extend .flex-column;
      @extend .flex-auto;
    }
  }
}
