body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mid-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $bright-gray;
  font-family: $heading-font;
  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $picton;
  text-decoration: none;
  transition: all 0.2s;
}

.heading-font {
  font-family: $heading-font;
}

.smaller1 {
  font-size: 0.9em;
}
.smaller2 {
  font-size: 0.8em;
}
.smaller3 {
  font-size: 0.7em;
}

.f-hero {
  font-size: $f2;
}
@media #{$breakpoint-s} {
  .f-hero {
    font-size: $f1;
  }
}
@media #{$breakpoint-m} {
  .f-hero {
    font-size: $f0;
  }
}
@media #{$breakpoint-l} {
  .f-hero {
    font-size: $f00;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Oxygen:300,600');
@import url('https://use.fontawesome.com/releases/v5.0.0/css/all.css');
/*
 * Font weights:
 * 100
 * 200
 * 300
 * 400 (regular)
 * 500
 * 600
 * 700 (bold)
 * 800 
 * 900
 */
@font-face {
  font-family: 'Avenir';
  src: font-url('/fonts/AvenirNext/Regular.eot');
  src: font-url('/fonts/AvenirNext/Regular.eot?#iefix')
      format('embedded-opentype'),
    font-url('/fonts/AvenirNext/Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: font-url('AvenirNext/Medium.eot');
  src: font-url('AvenirNext/Medium.eot?#iefix') format('embedded-opentype'),
    font-url('AvenirNext/Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
