@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Oxygen:300,600');
@import url('https://use.fontawesome.com/releases/v5.0.0/css/all.css');

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
