@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Oxygen:300,600');
@import url('https://use.fontawesome.com/releases/v5.0.0/css/all.css');

body {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mid-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $bright-gray;
}

a {
  color: $picton;
  text-decoration: none;
  transition: all 0.2s;
}

.f7 {
  font-size: 0.7em;
}
