// Brand colors

$picton: #23adf0;
$dodger: #2099fc;
$emerald: #46da60;
$sunset: #ff4954;

// Typography

$body-font: 'Open Sans', sans-serif;

// Spacing

$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 2rem;
$sp5: 4rem;
$sp6: 8rem;
$sp7: 16rem;

// Breakpoints
// Tachyons defaults are very weird, will fixed in v5

$breakpoint-s: 'screen and (min-width: 30em)';
$breakpoint-m: 'screen and (min-width: 48em)';
$breakpoint-l: 'screen and (min-width: 60em)';
