// Brand colors

$picton: #23adf0;
$dodger: #2099fc;
$emerald: #46da60;
$sunset: #ff4954;
$bright-gray: #37404d;
$tiber: #092534;
$slate: #7a8991;

// Typography

$body-font: 'Open Sans', sans-serif;
$heading-font: 'Avenir', sans-serif;

// Spacing

$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 2rem;
$sp5: 4rem;
$sp6: 8rem;
$sp7: 16rem;

// Font scale

$f00: 4rem;
$f0: 3.5rem;
$f1: 3rem;
$f2: 2.25rem;
$f3: 1.75rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: 0.875rem;
$f7: 0.7rem;

// Breakpoints
// Tachyons defaults are very weird, will fixed in v5

$screen-s: 30em;
$screen-m: 48em;
$screen-l: 64em;

$breakpoint-s: 'screen and (min-width: #{$screen-s})';
$breakpoint-m: 'screen and (min-width: #{$screen-m})';
$breakpoint-l: 'screen and (min-width: #{$screen-l})';
