= react_component_with_jss "App",
    withStore: true,
    props: { \
      loggedIn: !!current_user,
      coins: @coins,
      watchList: @watched_coins,
      marketDominance: @market_dominance,
      totalMarketCap: @market_cap,
    },
    prerender: true