- content_for :head do
  = stylesheet_link_tag 'ag-grid'
= react_component_with_jss "App",
    withStore: true,
    props: { \
      user: current_user,
      loggedIn: !!current_user,
      coins: @coins,
      pageCount: @page_count,
      watchList: @watched_coins,
      marketDominance: @market_dominance,
      totalMarketCap: @market_cap,
      currencies: @exchange_rates,
    },
    prerender: true