= react_component_with_jss "App",
    withStore: true,
    props: { \
      user: current_user,
      topCoinSlugs: @top_coin_slugs,
      feedSources: @feed_sources,
      categories: @categories,
      initialTopCoinsData: @top_coins_data,
      initialWatchedCoinsData: @watched_coins_data,
      initialNewsItems: @news_items_data,
      initialVotes: @user_votes,
      initialCoinWithDetails: @coin_with_details_data,
      initialTheme: @theme,
      currencies: @exchange_rates,
    },
    prerender: true
