// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  margin: 0;
  border-radius: 0;
}

.mastfoot {
  margin: 1em 0;
}
