<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Contact
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="contact" name="contact"></a>
<section class="section section-inverse" style="background-image: url(assets/img/bg-gift.jpg)" data-overlay="9">
  <div class="container text-center">

    <h3>Contact CoinFi</h3>
    <br>
    <a class="btn btn-lg btn-dark btn-round" href="https://slack.coinfi.com" target="_blank" style="background: #3F46AD">
      <i class="fa fa-slack"></i> Slack
    </a>
    &nbsp;
    <a class="btn btn-lg btn-info btn-round" href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw" target="_blank">
      <i class="fa fa-telegram"></i> Telegram
    </a>
    &nbsp;
    <a class="btn btn-lg btn-warning btn-round" href="#" target="_blank">
      <i class="fa fa-bitcoin"></i> BitcoinTalk
    </a>

    <hr>

    <p class="lead">Subscribe to our ICO launch VIP list to receive the latest news from CoinFi.</p>

    <form class="form-inline form-glass justify-content-center" action="" method="post" target="_blank">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" name="EMAIL" class="form-control" placeholder="Email Address">
        </div>
      </div>

      <button class="btn btn-lg btn-success ml-12">Subscribe</button>
    </form>
  </div>
</section>
