<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Contact
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="contact" name="contact"></a>
<section class="section section-inverse" data-overlay="9">
  <div class="container text-center">
    <header class="section-header">
      <small>联系我们</small>
      <h2>CoinFi</h2>
    </header>

    <div class="row">
      <div class="col">
        <p class="lead">
          在社交媒体上成为我们的粉丝，获取最新更新。
          <div class="social-colored">
            <a class="btn btn-lg btn-round social-medium" href="https://medium.com/coinfi"><i class="fa fa-medium"></i> Medium</a>
            <a class="btn btn-lg btn-round social-twitter" href="https://twitter.com/coin_fi"><i class="fa fa-twitter"></i> Twitter</a>
            <a class="btn btn-lg btn-round social-reddit" href="https://www.reddit.com/u/coinfi"><i class="fa fa-reddit"></i> Reddit</a>
          </div>
        </p>
      </div>
      <div class="col">
        <p class="lead">
          如果您有任何意见、建议或有意建立伙伴关系，请发邮件至以下邮箱：
          <br>
          <a href="mailto:contact@coinfi.com" style="color: #0facf3;"><h5>contact@coinfi.com</h5></a>
        </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <p class="lead">在Telegram上加入我们，随时提问，获取答案。 </p>

        <a class="btn btn-lg btn-info btn-round" href="https://t.me/coinfi" target="_blank">
          <i class="fa fa-telegram"></i> Telegram
        </a>
      </div>
      <div class="col">
        <p class="lead">加入我们的ICO贵宾组，接收来自CoinFi的最新资讯。 </p>

        <div class="ck_form_container ck_inline" data-ck-version="6">
          <div class="ck_form">
            <div class="ck_form_fields">
              <div id="ck_success_msg" style="display:none; background: #46da60; border: 0">
                <p>成功！请查看您的邮件，以确认您对CoinFi ICO 的兴趣。 </p>
              </div>
              <script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
              <form id="ck_subscribe_form" class="ck_subscribe_form form-inline form-glass justify-content-center" action="https://app.convertkit.com/landing_pages/267531/subscribe" method="post" data-remote="true">

                <input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
                <input type="hidden" name="id" value="267531" id="landing_page_id">
                <input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">

                <div class="ck_errorArea">
                  <div id="ck_error_msg" style="display:none">
                    <p>发送您的订阅时出错。请再试。 </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" class="ck_email_address form-control" id="ck_emailField" placeholder="Email Address" required>
                  </div>
                </div>

                <button id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields btn btn-lg btn-success ml-12">订阅</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
