<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| FAQ
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<!--
<a id="faq" name="faq"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <h2>Frequently Asked Questions</h2>
    </header>

    <div class="row gap-y">
      <div class="col-12">
        <div class="accordion" id="accordion-general">
          <div class="card">
            <h5 class="card-title">
              <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-1">Who can participate in the ICO?</a>
            </h5>

            <div id="collapse-general-1" class="collapse in">
              <div class="card-block">
                Right now we are open to everyone except residents of the United States, China, and Singapore due to regulatory uncertainty.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-2">
                What is the KYC (Know Your Customer) process?
              </a>
            </h5>

            <div id="collapse-general-2" class="collapse in">
              <div class="card-block">
                Due to regulatory requirements, we will ask for government ID to
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
