<!-- Hero -->
<header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
  <canvas class="constellation"></canvas>

  <div class="container">
    <div class="row h-full">
      <div class="col-12 text-center align-self-center">
        <% phrases=['Bloomberg Terminal for Crypto Traders', 'First Decentralized Market Intelligence Platform', 'Democratization Of Wall Street'] %>
        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">The <span class="text-primary" data-type="<%= phrases.join(',') %>"></span></h1>
        <h1 class="fs-35 fw-600 lh-15 hidden-md-up">The <span class="text-primary" data-type="<%= phrases.join(',') %>"></span></h1>
        <br>
        <p class="fs-20 hidden-sm-down">CoinFi uses crowdsourced research, analysis, trading signals and market-moving news —  filtered through proprietary machine learning algorithms and black box models — to give traders real-time market intelligence needed to gain an edge.</p>
        <p class="fs-16 hidden-md-up">CoinFi uses crowdsourced research, analysis, trading signals and market-moving news —  filtered through proprietary machine learning algorithms and black box models — to give traders real-time market intelligence needed to gain an edge.</p>

        <a class="btn btn-xl btn-round btn-primary fs-20 fw-500 shadow-3 hidden-sm-down" href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw">
          <i class="fa fa-telegram"></i>
          Join Telegram for Early Access</a>
        <a class="btn btn-lg btn-round btn-primary shadow-3 hidden-md-up" href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw"><i class="fa fa-telegram"></i> Join Telegram for Early Access</a>

        <br>
        <br>
        <br>

        <p>The token sale starts in:</p>
        <div class="col-12 col-md-6 offset-md-3">
          <div class="countdown countdown-uppercase" data-countdown="2017/10/30"></div>
        </div>

      </div>

      <div class="col-12 align-self-end text-center pb-70">
        <a class="scroll-down-2 scroll-down-inverse" href="#overview" data-scrollto="overview"><span></span></a>
      </div>
    </div>
  </div>
</header>
<!-- END Hero -->
