<!-- Hero -->
<header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
  <canvas class="constellation"></canvas>

  <div class="container">
    <div class="row h-full">
      <div class="col-12 text-center align-self-center">
        <% phrases=['1st Decentralized Market Intelligence Platform', 'Democratization Of Wall Street', "Most Powerful Crypto Trading Analysis Tool"] %>
        <h1 class="fs-48 fw-600 lh-15 hidden-sm-down">The <span class="text-primary" data-type="<%= phrases.join(',') %>"></span></h1>
        <h1 class="fs-35 fw-600 lh-15 hidden-md-up">The <span class="text-primary" data-type="<%= phrases.join(',') %>"></span></h1>
        <br>
        <p class="fs-20 hidden-sm-down">CoinFi offers crowdsourced and professionally curated research, analysis, trading signals, trading algorithms, and market-moving news to give cryptocurrency traders the real-time market intelligence needed to gain an edge.</p>
        <p class="fs-16 hidden-md-up">CoinFi offers crowdsourced and professionally curated research, analysis, trading signals, trading algorithms, and market-moving news to give cryptocurrency traders the real-time market intelligence needed to gain an edge.</p>

        <p class="fs-16 text-warning">
          <strong>Whitelist is now closed! Sign up for early access when the public beta launches.</strong>
        </p>
        <%= link_to "Join Waitlist", new_user_registration_path, class: "btn btn-xl btn-round btn-warning fs-20 fw-500 shadow-3 hidden-sm-down", style: "color: #000; text-transform: none" %>
        <%= link_to "Join Waitlist", new_user_registration_path, class: "btn btn-lg btn-round btn-warning shadow-3 hidden-md-up", style: "color: #000; text-transform: none" %>

        <br>
        <br>
        <br>

<!--
        <p>The token presale starts in:</p>
        <div class="col-12 col-md-6 offset-md-3">
          <div id="countdown" class="countdown countdown-uppercase" data-countdown="2018-01-15 00:00:00"></div>
        </div>
-->
      </div>

      <div class="col-12 align-self-end text-center pb-70">
        <a class="scroll-down-2 scroll-down-inverse" href="#overview" data-scrollto="overview"><span></span></a>
      </div>
    </div>
  </div>
</header>
<!-- END Hero -->
