<!-- Hero -->
<header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
  <canvas class="constellation"></canvas>

  <div class="container">
    <div class="row h-full">
      <div class="col-12 text-center align-self-center">
        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">Built for <span class="text-primary" data-type="Traders, Freedom Fighters, Technologists, Analysts, Rebels, Entrepreneurs"></span></h1>
        <h1 class="fs-35 fw-600 lh-15 hidden-md-up">Built for<br><span class="text-primary" data-type="Traders, Freedom Fighters, Technologists, Analysts, Rebels, Entrepreneurs"></span></h1>
        <br>
        <p class="fs-20 hidden-sm-down"><strong>CoinFi</strong> provides real-time crypto financial intelligence.</p>
        <p class="fs-16 hidden-md-up"><strong>CoinFi</strong> provides real-time crypto financial intelligence.</p>

        <a class="btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="">Join the ICO</a>
        <a class="btn btn-lg btn-round btn-primary w-250 shadow-3 hidden-md-up" href="">Join the ICO</a>

        <br>
        <br>
        <br>

        <p>The token sale starts in:</p>
        <div class="col-12 col-md-6 offset-md-3">
          <div class="countdown countdown-uppercase" data-countdown="2017/10/24"></div>
        </div>

      </div>

      <div class="col-12 align-self-end text-center pb-70">
        <a class="scroll-down-2 scroll-down-inverse" href="#about" data-scrollto="about"><span></span></a>
      </div>
    </div>
  </div>
</header>
<!-- END Hero -->
