<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Opportunity
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="opportunity" name="opportunity"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Market Size</small>
      <h2>Opportunity</h2>
      <hr>
      <p class="lead">Cryptocurrency market capitalization is projected to exceed $1 Trillion USD by 2020. ICO investments already dwarfs venture capital.</p>
    </header>

<!--
      <h2>Testimonials</h2>

      Ronnie Moas, Founder Standpoint Reseach, predicts crypto-markets will hit 2 trillion within 10 years.
      “https://www.coindesk.com/standpoint-founder-bitcoin-asset-class-will-grow-2-trillion-market/”

      Saxo Bank analyst Kay Van-Petersen, who predicted Bitcoin’s breakout in 2017, predicts bitcoin will hit a market cap of 1.7 trillion within 10 years.
      https://www.cnbc.com/2017/05/31/bitcoin-price-forecast-hit-100000-in-10-years.html

      As a result of this meteoric growth, institutional capital is poised to flood the market

      Until this year, crypto-specific funds were a relative outlier in the market.

      But 2017 has seen a flood of institutional investment, thanks to the exploding crypto market cap and the availability of new derivatives instruments.

      Economist and investor Tuur Demeester: Over 70 new crypto hedge funds posed to launch in 2017
      https://mobile.twitter.com/TuurDemeester/status/893603411186384896

      “I’ve been in the hedge fund space since 1998, and I’ve never seen anything like it in volume of launches in a particular area. It’s just crazy.”
      Arthur Bell, Manager at Corey McLaughlin

      Even mainstream players such as Goldman Sachs (GS, +0.65%), Visa (V, +0.56%), Capital One, Nasdaq, and the New York Stock Exchange have invested in blockchain technology.

      Wall Street banks are starting to publish detailed sell-side research on crypto-currency and blockchain technology, holding internal seminars for their partners, laying the groundwork for an even greater in-flow of institutional capital in 2018.
-->
    <div class="row">
      <div class="col">
      <h3>The Financial Data Market</h3>
      <p>In traditional finance, the business of providing market intelligence to traders and investors is a $25 billion dollar market dominated by 2 major players (Bloomberg and Thompson Reuters) who own 29.4% and 29.2% of the market respectively.</p>

      <p>Once a platform becomes the go-to source for financial research & data, that moat is very hard to displace.</p>

      <p>Until very recently, the crypto financial markets wasn’t large enough to justify the development of an advanced market intelligence platform.</p>

      <p>But it’s now clear - crypto as an asset class will continue to grow, and as the markets mature, individual traders and institutions will gravitate to the best market intelligence platform in order to gain an edge.</p>
      </div>

      <div class="col">
      <h3>Barbarians At The Gate</h3>
      <p>As the market opportunity of providing financial intelligence to crypto investors continues to grow, Wall Street institutions will do what they always try to do - use their tremendous resources to build “toll-booth” businesses that tax the ecosystem.</p>

      <p>But unfortunately for them, the dominant market intelligence platform for crypto won’t be built through antiquated, pre-internet enterprise sales models.</p>

      <p>Instead, it will be built around a digital token economy - a sustainable system that intelligently incentivizes & rewards those who provide value to the eco-system - the researchers, analysts, curators, and coders. NOT a centralized toll-booth operator.</p>

      <p>There is an arms race coming between Wall Street and the crypto community to build the dominant market intelligence platform - the Bloomberg Terminal of the crypto markets. CoinFi will be that platform.</p>
    </div>
  </div>
</section>
