<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Overview
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="overview" name="overview"></a>
<section class="section">
  <div class="container">
    <header class="section-header">
      <small>Overview</small>
      <h2>Wall Street is coming... are you ready?</h2>
    </header>

    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <p>With returns of XXX% in 2017, it is inevitable that Wall Street would start investing in cryptocurrencies. In fact, a large number hedge funds are already being formed. They bring with them lightning-fast sophisticated black box algorithmic trading signals, real-time analysis of news through powerful machine learning techniques, coupled with best execution trading algorithms.</p>

        <p>Current crypto traders will find it difficult if not impossible to compete if Wall Street succeeds in rapidly deploying their models.</p>

        <p>CoinFi brings together a team of former Wall Street traders and technologists who want to transfer this proprietary knowledge and technology to a decentralized blockchain to share to the world, before Wall Street builds their centralized model.</p>

        <p>Bloomberg costs $24000 USD for an annual subscription and is only available to the elites.</p>

        <p>CoinFi is a crowdsourced, decentralized platform built to share this information with the masses.</p>

        <p>We use crowdsourced research, analysis, trading signals/algorithms and market-moving news curation - mixed with a dash of our proprietary machine learning algorithms and hedge fund black box models - to provide investors & traders with the real-time market intelligence they need to gain an edge.</p>

        <p>CoinFi will be the source of market intelligence for the next generation of successful crypto investors & traders.</p>

        <p>Beat Wall Street.</p>

        <p>Join the rebellion.</p>
      </div>
    </div>
  </div>
</section>
