<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Overview
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="overview" name="overview"></a>
<section class="section section-inverse" style="background: #000">
  <div class="container-fluid">
    <header class="section-header">
      <small>概览</small>
      <h2>CoinFi如何把华尔街水平的的交易情报带到区块链</h2>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon">
          <img src="/landing/img/Trading Signals Polygon@2x.png" width="256" alt="Trading Signals">
        </div>

        <div class="feature-description">
          <h5>对冲基金口径交易信号</h5>
          <p>使用经过验证的对冲基金模型所开发的内部专有和众包交易信号，确保交易者在竞争中的优势。</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#trading-signals" data-scrollto="trading-signals">阅读更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon">
          <img src="/landing/img/Real Time News Polygon@2x.png" width="256" alt="Real Time News">
        </div>

        <div class="feature-description">
          <h5>实时信息优势</h5>
          <p>针对有规划、相关和市场走势的资讯和事件，众包打造为每个交易者量身定做的实时警报，帮助他们更明智地投资。</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#real-time-news" data-scrollto="real-time-news">阅读更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon">
          <img src="/landing/img/Financial Analysis Polygon@2x.png" width="256" alt="Trading Signals">
        </div>

        <div class="feature-description">
          <h5>使用华尔街科技开发的交易算法</h5>
          <p>算法由华尔街专业人士，使用统计套利模型和其他先进科技设计，<strong>保证</strong>交易者总是得到“最佳成交”价格。</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#trading-algorithms" data-scrollto="trading-algorithms">阅读更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon">
          <img src="/landing/img/Decentralization Polygon@2x.png" width="256" alt="Trading Signals">
        </div>

        <div class="feature-description">
          <h5>华尔街的去中心化</h5>
          <p>停止华尔街集权，加入能够智能运用群体智慧的代币经济，提供新闻、研究、分析、金融模型和交易信号。</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#financial-analysis" data-scrollto="financial-analysis">阅读更多</a>
        </div>
      </div>
    </div>
  </div>
</section>
