<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Overview
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="overview" name="overview"></a>
<section class="section">
  <div class="container">
    <header class="section-header">
      <small>Overview</small>
      <h2>Knowledge is Power</h2>
      <hr>
      <p class="lead">CoinFi is the platform for real-time cryptocurrency market intelligence.</p>
    </header>

    <div class="row no-gap text-center">
      <div class="col-12 col-md-6 bg-gray p-70">
        <p class="iconbox iconbox-xxl bg-white">
          <i class="icon-profile-male fs-40"></i>
        </p>
        <br><br>
        <h5>Problem</h5>
        <br>
        <p>Obtaining timely, relevant, and actionable information in the cryptocurrency space is challenging and time consuming.</p>
      </div>

      <div class="col-12 col-md-6 p-70">
        <p class="iconbox iconbox-xxl">
          <i class="icon-linegraph fs-40"></i>
        </p>
        <br><br>
        <h5>Solution</h5>
        <br>
        <p>CoinFi provides a decentralized platform for the discovery, curation, and distribution of cryptocurrency market intelligence.</p>
      </div>
    </div>
  </div>
</section>

<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Background</small>
      <h2>What is Market Intelligence?</h2>
      <hr>
      <p class="lead">We believe there are four major components of market intelligence:</p>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>
        <div class="feature-description">
          <h6>News</h6>
          <p>Coin specific dev milestones achieved, partnership announcements, roadmap updates, exchange (de)listings, etc.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-recycle"></i></div>
        <div class="feature-description">
          <h6>Signals</h6>
          <p>Volatile price movements, high trading volume, wide bid/ask spreads, large orders placed, etc.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-layers"></i></div>
        <div class="feature-description">
          <h6>Macro</h6>
          <p>Corporate adoption, security breaches, regulatory changes, taxation, other government policies, etc.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-gears"></i></div>
        <div class="feature-description">
          <h6>Analysis</h6>
          <p>Time insensitive in-depth thought pieces and professional opinions / commentary, market sentiment</p>
        </div>
      </div>
    </div>

    Market intelligence overlaid on top of price charts for each cryptocurrency provides a valuable source of

    Discovery - We crawl and aggregate crypto news across a wide range of sources.
    Contribution - The community pitches in by contributing thought pieces and analyses, commenting, upvoting, and moderating.
    Curation - Quality content rises to the top through natural language processing and machine learning.
    Intelligence - Traders and analysts get real time market intelligence to help make higher alpha decisions.

    Problem: There are over 800+ cryptocurrencies and more are created daily - it's impossible to keep up.
    Solution: CoinFi helps traders quickly get up to speed on unfamiliar coins to identify opportunities.

    Preview the preliminary prototype of the CoinFi platform for NEO and QTUM.
  </div>
</section>
