<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Overview
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="overview" name="overview"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Overview</small>
      <h2>Wall Street Is Coming To Take Over The Crypto Markets</h2>
    </header>

    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card card-shadowed">
          <img class="card-img-top" src="/landing/img/wall-street-bull.jpg">

          <div class="card-block">
            <p>With Bitcoin returning 370% in 2017, an arms race is coming to crypto. Wall street has already formed over 70 crypto based hedge funds in the last six months.</p>

            <p>They bring with them lightning-fast sophisticated black box algorithmic trading signals, real-time analysis of news through powerful machine learning techniques, coupled with "best execution" trading algorithms.</p>

            <p>Main Street crypto traders will find it near impossible to compete if Wall Street succeeds in rapidly deploying their capabilities to our industry.</p>

            <p>CoinFi brings together a team of former Wall Street traders and technologists who want to transfer our proprietary knowledge and technology to a decentralized blockchain to share to the world, BEFORE Wall Street builds their centralized model.</p>

            <p>Bloomberg costs $24,000 USD for an annual subscription and is only available to the elites.</p>

            <p>CoinFi is a crowdsourced, decentralized platform built to share these capabilities with the masses.</p>

            <p>CoinFi WILL be the source of market intelligence for the next generation of successful crypto traders.</p>

            <p>Beat Wall Street.</p>

            <p><a href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw">Join the rebellion.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
