<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Platform
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="platform" name="platform"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Capabilities</small>
      <h2>Platform</h2>
      <hr>
      <p class="lead">CoinFi is designed to deliver real-time news, trading signals, and financial analysis overlaid on top of price data to give traders all the info they need to make educated decisions on how to generate alpha.</p>
    </header>

    <a id="real-time-news" name="real-time-news"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Real-time News</h4>

            <p>Right now trying to find urgent trading news, alerts and abnormal price movements is like looking for a needle in a haystack. Information is distributed on multiple channels such as Slack, Telegram, Twitter, Reddit, etc.</p>

            There is no quick or easy way to answer daily recurring questions from traders such as:
            <ul>
              <li>What are the coins in the last 24 hours that have abnormal price and volume?</li>
              <li>What is the historical market moving news for this coin so I can get up to speed?</li>
              <li>Where are the high quality research thought pieces on this particular coin?</li>
            </ul>

            <p>The CoinFi database will enable users to monitor and analyze real-time crypto market news information in ways that are currently impossible with existing tools. It changes the current delivery frequency of market news from delayed and spread out to aggregated and real-time, while curating the best content with both community and machine learning support.</p>
          </div>
          <div class="col-12 col-md-5">
            <img class="rounded shadow-2" src="" alt="">
            <p>View all relevant news overlaid on top of price chart for any cryptocurrency; learn a coin’s history in minutes.</p>
            <h6>
              <small>EXAMPLE</small>
              <br>
              "Find me all the relevant news that caused NEO to moon."
            </h6>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="trading-signals" name="trading-signals"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Trading Signals</h4>
            <p>
              Market inputs such as price, volume, social signals, and news, will be fed into both in-house and user contributed models that are overlaid with machine learning algorithms to output intelligent trading signals.
            </p>
            <p>
              Signals can include
              Which exchange has the best price

            </p>
            <p>
              These signals can generate real-time alerts via SMS, email, or push notifications to notify traders about market movements.
            </p>
            <p>
              Traders can use these signals to detect abnormal market movements, act to capitalize on the information, and capture this alpha with winning trades.
            </p>
          </div>
          <div class="col-12 col-md-5">
            <img class="rounded shadow-2" src="" alt="">
            <h6>
              <small>EXAMPLE</small>
              <br>
              Whale Detection
            </h6>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="trading-algorithms" name="trading-algorithms"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Trading Algorithms</h4>
            <p>CoinFi algorithms designed by Wall Street professionals use statistical arbitrage modelling to guarantee that traders always get “best execution” price.</p>

            <p>"Best execution" price includes buying on the cheapest exchange and/or currency pair in addition to protective measures against other traders from placing orders ahead of you.</p>

            <p>CoinFi internal modeling shows an average saving of 0.5% per trade. For traders that place an average of 1 trade per day, that is a saving of 182% a year.</p>
          </div>
          <div class="col-12 col-md-5">
            <h6>Cloak Your Trading And Minimize Frontrunning</h6>
            <p>CoinFi is porting the same trading algorithms hedge fund managers use such as VWAP, Sniper, Iceberg, Implementation Shortfall, and Inline to cloak your trading behavior to give you an execution advantage.</p>
            <a href="">Learn More</a>

            <hr>

            <h6>Always Buy On The Cheapest Exchange and Currency Pair</h6>
            <p></p>
            <a href="">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="financial-analysis" name="financial-analysis"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Decentralized Financial Analysis</h4>
            <p>In equities markets, research has shown that a crowd of experienced investors can often provide additional insight above and beyond Wall Street analysts and predict stock market returns better than traditional financial media outlets like the Wall Street Journal.</p>

            <p>CoinFi encourages contributions from real investors instead of only depending on financial journalists who are not necessarily "in-the-trenches", or sell-side analysts who are restricted from trading the equities they cover so they have no skin in the game.</p>

            <p>In addition to custom in-house machine learning to help improve the focus on contributor authority, contributor history, and social signals, CoinFi crowdsources and curates high quality research pieces so that traders can quickly learn about the history of a coin.</p>

            <p>The platform also incentivizes coverage of small cap coins that are not cost effective for salaried journalists or analysts to cover but may interest segments of the community, especially since large profits are easily made when a cryptocurrency is in its early stages.</p>
          </div>
          <div class="col-12 col-md-5">
            <img class="rounded shadow-2" src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section section-inverse">
  <div class="container">
    <header class="section-header">
      <small>For Main Street, Not Wall Street</small>
      <h2>Advantages of Decentralization</h2>
      <hr>
      <p class="lead">CORE THESIS:
      All this is great - it's going to happen regardless. But this only benefits you if you have access to it.
      You don't want Wall Street controlling the market, otherwise you'll pay through the nose.
      By supporting us, you'll prevent their domination and instead put the power into the people's hands.</p>
    </header>

    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Crowdsourced Intelligence</h5>
        <br>
        <p class="text-muted">CoinFi is a blockchain solution where contributors in the ecosystem are rewarded and thus incentivized to contribute and curate the highest quality and relevant pieces of content.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Low Cost of Access</h5>
        <br>
        <p class="text-muted">By nurturing an incentivized community, CoinFi's operational costs will be much lower than a traditional media company, thereby allowing more users access at a much lower price.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Deep and Wide Coverage</h5>
        <br>
        <p class="text-muted">Traditional publishing solutions are not equipped to cover 1000+ altcoins. By tapping the community, CoinFi can provide high quality content on up-and-coming coins unmentioned by the mass media.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-inverse bg-primary">
  <div class="container">
    <header class="section-header">
      <small>Custom Tailored Just For You</small>
      <h2>Personalization</h2>
      <hr>
      <p class="lead">Too much data is just as bad as not enough data. The CoinFi platform allows you to customize and select the information that's important to you for a strong signal-to-noise ratio of content.</p>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Curated News Feed</h5>
          <p>Create your own unique news feed of the cryptocurrencies you are interested in to stay up-to-date on the latest developments in a rapidly changing environment.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Real Time Alerts</h5>
          <p>Create real-time alerts (email, SMS, or push notification) based on custom criteria you set to receive notifications when the market moves.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Identify Thought Leadership</h5>
          <p>Prioritize content which contributors you think are experts in the space; their contributions will be given more weight in your feed.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Portfolio Management</h5>
          <p>Monitor your holdings with a custom portfolio management section of the platform that lets you keep track of your positions and trade history across every exchange and asset pair.</p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
