<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Platform
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="platform" name="platform"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>能力</small>
      <h2>平台</h2>
    </header>

    <a id="trading-signals" name="trading-signals"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-5 text-center">
            <img src="/landing/img/Trading Signals Simple@2x.png" alt="Trading Signals" class="w-half">
          </div>
          <div class="col-12 col-md-7">
            <h4>对冲基金口径交易信号</h4>
            <p>
              市场输入，例如价格、成交量、社会信号和资讯，将被提供给内部和用户贡献的、以机器学习算法覆盖的模型，输出智能交易信号。
            </p>
            <p>
              这些信号能以短信、电子邮件、推送通知或API网络钩手的方式，生成关于市场条件变动的实时警报，通知交易者。
            </p>
            <p>使用这些信号来探测异常走势的交易者，可以迅速利用信息，先拔头筹，赢得交易。</p>
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/price-movement.png"></p>
                <h6>识别大庄家价格操纵</h6>
                <p class="small">使用许多高频对冲基金在股市使用的同样定量模型，CoinFi能够容易地探测大庄家的市场操纵和异常价格行动。</p>
                <a class="btn btn-sm btn-primary" target="_blank" href="/identify-whale-price-manipulation">了解更多</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/about-to-moon.jpg" style="margin-top: 10px"></p>
                <h6>探测即将暴涨的币种</h6>
                <p class="small">CoinFi的算法接受输入，例如价格、成交量和波动率，通过历经实践检验的华尔街黑盒定量和统计模型进行处理，为即将到来的异常价格走势发出<strong>早期警报</strong>。</p>
                <a class="btn btn-sm btn-primary" target="_blank" href="/detect-coins-about-to-moon">了解更多</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="real-time-news" name="real-time-news"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>实时信息优势</h4>

            <p>现在，尝试发现紧急交易资讯、警报和异常价格走势，无异于大海捞针。信息被诸如Slack、Telegram、Twitter和Reddit等多个渠道分散。</p>

            对于如下交易者每天都要反复询问的问题，没有速成或容易的答案：
            <ul>
              <li>在最近的24小时内，哪些币种有异常价格和成交量？</li>
              <li>我可以用来赶上行情的、这个币种在历史上的市场走势是什么？</li>
              <li>对这个特定的币种，哪里有高质量的研究性内幕报道？</li>
            </ul>

            <p>CoinFi数据库将以现有工具无法做到的方式，使得用户监测和分析实时加密电子货币市场资讯。众包和机器学习算法成为最优质和最相关的金融分析的铺路石。</p>
          </div>
          <div class="col-12 col-md-5 text-center">
            <img src="/landing/img/Real Time News Simple@2x.png" alt="Real Time News" class="w-half">
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/neo-news.png" style="padding: 16px 0"></p>
                <h6>发现所有可以使得NEO暴涨的相关资讯</h6>
                <p class="small">凭借通过机器学习进行策略性管理、覆盖历史价格数据的相关最新资讯，快速跟上任何币种的历史。</p>
                <% #/find-relevant-news %>
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">敬请期待</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/omg-research.png"></p>
                <h6>显示所有关于OmiseGo（OMG）的深度内幕研究性报道</h6>
                <p class="small">来自思想领袖的高质量金融分析信手可得，使交易者能够获得洞察力，以快速熟悉一个新币种。</p>
                <% #/display-research-pieces %>
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">敬请期待</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="trading-algorithms" name="trading-algorithms"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-4 text-center">
            <img src="/landing/img/Financial Analysis Simple@2x.png" alt="Trading Algorithms" class="w-half">
          </div>
          <div class="col-12 col-md-8">
            <h4>使用华尔街科技开发的交易算法</h4>
            <p>由华尔街专业人士设计的CoinFi算法，使用统计套利模型，保证交易者总是获得“最佳成交”价格。</p>

            <p>“最佳成交”价格包括在最经济的交易所买入和/或买入最经济的币对，外加防止其他交易者在您前面下订单的保护性措施。</p>

            <p>CoinFi内部模型显示，对平均每天进行一次交易的交易者来说，<em>每次交易平均省下0.5%</em>，积累下来就是<strong>额外的每年182%的ROI</strong>。</p>
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/markus-spiske-109588.jpg" style="width: 300px"></p>
                <h6>隐匿交易和尽量不要领跑</h6>
                <p class="small">CoinFi移植了对冲基金管理公司采用的同样交易算法，例如VWAP、狙击手、冰山和滑点算法，并且符合<strong>隐匿和强化</strong>您交易行为的原则，以赢得您订单成交的优势。</p>
                <!-- /cloak-trading -->
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">敬请期待</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/nasa-53884.jpg" style="width: 300px"></p>
                <h6>始终如一地识别最佳价格的交易所</h6>
                <p class="small">快速和轻易地确定，那个交易所可以在考虑币对价格、波动率和流动性的的情况下给您“最佳成交”价格，以压出本来会流失的额外利润。</p>
                <!-- /identify-best-priced-exchange -->
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">敬请期待</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="financial-analysis" name="financial-analysis"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>给华尔街去中心化</h4>
            <p>现在，仅有每年花费巨款的精英们，才有高盛公司股市研究报告、专有交易模型和秘密算法的访问权限。当华尔街快速转移至加密电子货币领域时，一个去中心化的、可以同整个社区分享资讯、信号、金融模型、交易信号和算法的平台的存在，就显得史无前例地迫在眉睫了。</p>

            <p>CoinFi代币经济是可持续的生态系统，它激励研究人员、分析师、管理者和开发人员做出贡献。它为根据贡献的质量而智能化地奖励用户而设计。</p>

            <p>科学证据始终如一地证明，一个聪明的投资者群体提供更好的洞察力和更好的预测。CoinFi代币为这些群体赋能。<a href="https://t.me/coinfi">加入我们</a>，我们能够比年收入1百万美元的高盛分析师做出更好的预测。</p>
          </div>
          <div class="col-12 col-md-5 text-center">
            <img src="/landing/img/Decentralization Simple@2x.png" alt="Decentralization of Wall Street" class="w-half">
          </div>
        </div>
        <br>

        <div class="row gap-y">
          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-search"></i></div>

            <div class="feature-description">
              <h6>奖励对不良行为者的曝光</h6>
              <p>社区的调查成员，能够因为进入“垃圾代币”中实施尽职调查，并曝光电子加密货币生态系统中的不良行为者，“在CoinFi赢得金融和社会双方面的奖励。</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-newspaper-o"></i></div>

            <div class="feature-description">
              <h6>深度和广泛的山寨币报道</h6>
              <p>CoinFi有激励性的结构，鼓励更多在新兴山寨币方面的研究和发布。因为缺少市场规模，它们通常不被主流所报道。</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-globe"></i></div>

            <div class="feature-description">
              <h6>多样的观点</h6>
              <p>作为一个独立平台，CoinFi支持更广泛多样的观点：目前，许多金融记者仅被鼓励发布正面的研究结果，这种做法对这个行业有损害。</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-group"></i></div>

            <div class="feature-description">
              <h6>群体的包容和智慧</h6>
              <p>凭借强大社区，CoinFi能够运用群体，召集专家通力合作，开发优于华尔街的交易科技，使得人人可用。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%
=begin
<section class="section section-inverse">
  <div class="container">
    <header class="section-header">
      <small>为了普罗大众，不是为了精英</small>
      <h2>去中心化的优点</h2>
      <hr>
      <p class="lead">核心论点：
      这很好 - 无论如何这都要发生。但是仅在您有访问权限的时候，它才能够惠及于您。
      您不想华尔街控制市场，否则您将花费太高。
      通过支持我们，您将防止他们的主宰，把权利交到人们的手中。</p>
    </header>

    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>众包的情报</h5>
        <br>
        <p class="text-muted">CoinFi是一个区块链方案，生态系统的贡献者被奖励，因此被激励去贡献，并管理高质量和相关的内容。</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>低成本使用</h5>
        <br>
        <p class="text-muted">通过培育激励性社区，CoinFi的运营成本将比传统媒体公司低得多，故允许更多用户支付低得多的价格即可使用。</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>深度和广泛报道</h5>
        <br>
        <p class="text-muted">传统发布方案无力报道1000种以上的山寨币。通过对社区的开发，CoinFi能够提供关于新兴币种的高质量内容，而这些内容会被大众传媒所忽略。</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-inverse bg-primary">
  <div class="container">
    <header class="section-header">
      <small>为阁下量身定做</small>
      <h2>个人化</h2>
      <hr>
      <p class="lead">数据太多和数据不足没有什么两样。CoinFi平台允许您定制和选择对您重要的信息，以获取高信噪比的内容。</p>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>管理得当的资讯递送</h5>
          <p>创建您自己的、关于您感兴趣的加密电子货币的独特资讯递送，以跟上日新月异环境中的最新发展。</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>实时警报</h5>
          <p>根据您自设的接收通知定制标准，在市场变化时，创建实时警报（电子邮件、短信或推送通知）。</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>识别思想领袖</h5>
          <p>赋予您认为的本领域专家的内容以高优先级：他们的贡献将在您的递送里有更高权重。</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>投资组合管理</h5>
          <p>使用平台的一个定制投资组合管理界面，监督您的持有，追踪您在每个交易所和资产对的仓位和交易历史。</p>
        </div>
      </div>
    </div>
  </div>
</section>
=end
%>
