<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Platform
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="platform" name="platform"></a>
<section class="section">
  <div class="container">
    <header class="section-header">
      <small>Capabilities</small>
      <h2>Platform</h2>
      <hr>
      <p class="lead">CoinFi is designed to deliver real-time news, financial analysis, and trading signals overlaid on top of price data to give traders all the information they need to make educated decisions on how to generate alpha.</p>
    </header>

    <div class="row no-gap text-center">
      <h2>Real-time News</h2>

      Right now trying to find urgent trading news, alerts and abnormal price movements is like looking for a needle in a haystack. Information is distributed on multiple channels such as slack, telegram, reddit etc.

      There is no easy or quick way to answer daily recurring questions from traders such as: “show me all the coins in the last 24 hours that have abnormal price movements and volume trader”, “show me all the history of” or “show me all the high quality research pieces on this coin”

      The CoinFi database will enable users to monitor and analyze real-time crypto market news information in ways that are currently non-optimal with existing tools. It changes the current delivery frequency of market news from delayed, to near real-time.

      <h2>Financial Analysis</h2>

      In equities markets, research has shown that a crowd of real investors can often provide “additional insight above and beyond financial wall street analysts” and predict stock market returns better than traditional financial media outlets like the Wall Street Journal. provide more insight than traditional financial media outlets as well as sell side analysts.

      It enables input from real investors vs. financial journalists (who are not necessarily “in-the-trenches) or sell-side analysts (who are restricted from trading the equities they cover) (benefit?)

      It incentives coverage of small cap equities that are too longtail for salaried journalists/analysts to cover


      <h2>Trading Signals</h2>
    </div>

    <div>
      <h2>Advantages of Decentralization</h2>

      CORE THESIS: You don't want Wall Street controlling the market.
      By supporting us, you'll prevent their domination and instead put the power into the people's hands.

      <h3>Crowdsourced Intelligence</h3>
      CoinFi is a blockchain solution where contributors in the ecosystem are rewarded and thus incentivized to curate the highest quality and relevant pieces of content. This information is further customized based on your trader preferences and previous behavior to ensure they receive the most relevant and time sensitive market pieces first.

      <h3>Low Cost of Access / Widespread Availability</h3>

      <h3>Deep and Wide Coverage</h3>

    </div>

    <div>
      <h2>Customization</h2>

      Create your own unique news feed of the cryptocurrencies you are interested in to stay up-to-date on the latest developments in a rapidly changing environment.

      Create real-time alerts (email, SMS, or push notification) based on custom criteria you set.
    </div>
  </div>
</section>
