<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Platform
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="platform" name="platform"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Capabilities</small>
      <h2>Platform</h2>
    </header>

    <a id="trading-signals" name="trading-signals"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-5">
            <img src="/landing/img/Trading Signals Round@2x.png" alt="Trading Signals">
          </div>
          <div class="col-12 col-md-7">
            <h4>Hedge Fund Caliber Trading Signals</h4>
            <p>
              Market inputs such as price, volume, social signals, and news, will be fed into in-house and user contributed models that are overlaid with machine learning algorithms to output intelligent trading signals.
            </p>
            <p>
              These signals can generate real-time alerts via SMS, email, push notifications, or API webhooks to notify traders about changes in market conditions.
            </p>
            <p>Traders who use these signals to detect abnormal market movements can act quickly to capitalize on the information to capture alpha with winning trades.</p>
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/price-movement.png"></p>
                <h6>Identify Whale Price Manipulation</h6>
                <p class="small">Using the same quantitative models that many high frequency hedge funds use in the equities markets, CoinFi can easily detect market manipulation and abnormal price action caused by whales.</p>
                <a class="btn btn-sm btn-primary" target="_blank" href="/identify-whale-price-manipulation">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/about-to-moon.jpg" style="margin-top: 10px"></p>
                <h6>Detect Coins That Are About To Moon</h6>
                <p class="small">CoinFi's algorithms take inputs such as price, volume, volatility and run them through battle tested Wall Street derived black box quantitative and statistical models that give <strong>early warning</strong> for impending abnormal price movements.</p>
                <% #/detect-coins-about-to-moon %>
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">Coming Soon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="real-time-news" name="real-time-news"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Real Time Informational Advantage</h4>

            <p>Right now trying to find urgent trading news, alerts and abnormal price movements is like looking for a needle in a haystack. Information is distributed on multiple channels such as Slack, Telegram, Twitter, Reddit, etc.</p>

            There is no quick or easy way to answer daily recurring questions from traders such as:
            <ul>
              <li>What are the coins in the last 24 hours that have abnormal price and volume?</li>
              <li>What is the historical market moving news for this coin so I can get up to speed?</li>
              <li>Where are the high quality research thought pieces on this particular coin?</li>
            </ul>

            <p>The CoinFi database will enable users to monitor and analyze real-time crypto market news in ways that are currently impossible with existing tools. Crowdsourcing and machine learning algorithms surface the highest quality and most relevant financial analysis.</p>
          </div>
          <div class="col-12 col-md-5">
            <img src="/landing/img/Real Time News Round@2x.png" alt="Real Time News">
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/neo-news.png" style="padding: 16px 0"></p>
                <h6>Find Me All The Relevant News That Caused NEO To Moon</h6>
                <p class="small">Quickly get up to speed with any coin’s history with relevant news stories strategically curated via machine learning, overlaid on historical price data.</p>
                <% #/find-relevant-news %>
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">Coming Soon</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/omg-research.png"></p>
                <h6>Display All The In-depth Research Pieces About OmiseGo (OMG)</h6>
                <p class="small">Easily uncover high quality financial analysis generated by thought leaders to gain insights that allow traders to quickly get up-to-speed on a new coin.</p>
                <% #/display-research-pieces %>
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">Coming Soon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="trading-algorithms" name="trading-algorithms"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-4">
            <img src="/landing/img/Financial Analysis Round@2x.png">
          </div>
          <div class="col-12 col-md-8">
            <h4>Trading Algorithms Built With Wall Street Technology</h4>
            <p>CoinFi algorithms designed by Wall Street professionals use statistical arbitrage modeling to guarantee that traders always get "best execution" price.</p>

            <p>"Best execution" price includes buying on the cheapest exchange and/or currency pair in addition to protective measures against other traders from placing orders ahead of you.</p>

            <p>CoinFi internal modeling shows an <em>average savings of 0.5% per trade</em> - for traders that place an average of 1 trade per day, that adds up to an <strong>additional ROI of 182% a year</strong>.</p>
          </div>
        </div>
        <br>
        <div class="row no-gap text-center">
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/markus-spiske-109588.jpg" style="width: 300px"></p>
                <h6>Cloak Your Trading And Minimize Frontrunning</h6>
                <p class="small">CoinFi is porting the same trading algorithms hedge fund managers use such as VWAP, Sniper, Iceberg, Implementation Shortfall, and Inline to <strong>cloak and enhance</strong> your trading behavior to give you order execution advantages.</p>
                <!-- /cloak-trading -->
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">Coming Soon</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-20">
            <div class="card card-bordered">
              <div class="card-block">
                <p><img src="/landing/img/nasa-53884.jpg" style="width: 300px"></p>
                <h6>Consistently Identify The Best Priced Exchange</h6>
                <p class="small">Quickly and effortlessly determine which exchange can give you the "best execution" price taking into account currency pair pricing, volatility, and liquidity to squeeze out additional profits that would otherwise get left on the table.</p>
                <!-- /identify-best-priced-exchange -->
                <a class="btn btn-sm btn-primary disabled" target="_blank" href="#">Coming Soon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <a id="financial-analysis" name="financial-analysis"></a>
    <div class="card card-shadowed">
      <div class="card-block">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-md-7">
            <h4>Decentralizing Wall Street</h4>
            <p>Right now only the elites paying hundreds of thousands a year have access to Goldman Sach’s stock research reports and proprietary trading models and secret algorithms.  With Wall Street rapidly moving into the cryptocurrency space, it’s more imperative than ever that a decentralized platform exists which shares news, signals, financial models, trading signals and algorithms with the entire community.</p>

            <p>The CoinFi token economy is a sustainable ecosystem that incentives researchers, analysts, curators, and coders to contribute. It is designed to intelligently rewards users on the quality of their contributions.</p>

            <p>Scientific evidence consistently proves that a crowd of intelligent investors offer more insights and make better predictions. The CoinFi token empowers these crowds. <a href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw">Join us</a> and we can make better predictions than the Goldman Sachs analyst making $1 million USD a year.</p>
          </div>
          <div class="col-12 col-md-5">
            <img src="http://via.placeholder.com/600x400">
          </div>
        </div>
        <br>

        <div class="row gap-y">
          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-search"></i></div>

            <div class="feature-description">
              <h6>Incentivize Exposure of Bad Actors</h6>
              <p>Investigative members of the community can earn both financial and social rewards on CoinFi for performing due diligence into "shitcoins" and exposing bad actors within the crypto ecosystem.</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-newspaper-o"></i></div>

            <div class="feature-description">
              <h6>Deep and Wide Altcoin Coverage</h6>
              <p>CoinFi has the incentive structure to encourage more research and publications on up-and-coming altcoins which may not receive mainstream coverage due to the lack of market size.</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-globe"></i></div>

            <div class="feature-description">
              <h6>Diversified Opinions</h6>
              <p>As an independent platform, CoinFi supports a wider diversity of opinion; currently many financial journalists are incentivised to publish only positive research which disservices the industry.</p>
            </div>
          </div>

          <div class="col-12 col-md-6 feature-3">
            <div class="feature-icon"><i class="fa fa-group"></i></div>

            <div class="feature-description">
              <h6>Inclusivity and the Wisdom of the Crowds</h6>
              <p>With a strong community, CoinFi can leverage the crowds and rally technologists to collaborate and build better trading technology than Wall Street, enabling access for everyone.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%
=begin
<section class="section section-inverse">
  <div class="container">
    <header class="section-header">
      <small>For Main Street, Not Wall Street</small>
      <h2>Advantages of Decentralization</h2>
      <hr>
      <p class="lead">CORE THESIS:
      All this is great - it's going to happen regardless. But this only benefits you if you have access to it.
      You don't want Wall Street controlling the market, otherwise you'll pay through the nose.
      By supporting us, you'll prevent their domination and instead put the power into the people's hands.</p>
    </header>

    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Crowdsourced Intelligence</h5>
        <br>
        <p class="text-muted">CoinFi is a blockchain solution where contributors in the ecosystem are rewarded and thus incentivized to contribute and curate the highest quality and relevant pieces of content.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Low Cost of Access</h5>
        <br>
        <p class="text-muted">By nurturing an incentivized community, CoinFi's operational costs will be much lower than a traditional media company, thereby allowing more users access at a much lower price.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="assets/img/icon-planet.png" alt="..."></p>
        <h5>Deep and Wide Coverage</h5>
        <br>
        <p class="text-muted">Traditional publishing solutions are not equipped to cover 1000+ altcoins. By tapping the community, CoinFi can provide high quality content on up-and-coming coins unmentioned by the mass media.</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-inverse bg-primary">
  <div class="container">
    <header class="section-header">
      <small>Custom Tailored Just For You</small>
      <h2>Personalization</h2>
      <hr>
      <p class="lead">Too much data is just as bad as not enough data. The CoinFi platform allows you to customize and select the information that's important to you for a strong signal-to-noise ratio of content.</p>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Curated News Feed</h5>
          <p>Create your own unique news feed of the cryptocurrencies you are interested in to stay up-to-date on the latest developments in a rapidly changing environment.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Real Time Alerts</h5>
          <p>Create real-time alerts (email, SMS, or push notification) based on custom criteria you set to receive notifications when the market moves.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Identify Thought Leadership</h5>
          <p>Prioritize content which contributors you think are experts in the space; their contributions will be given more weight in your feed.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Portfolio Management</h5>
          <p>Monitor your holdings with a custom portfolio management section of the platform that lets you keep track of your positions and trade history across every exchange and asset pair.</p>
        </div>
      </div>
    </div>
  </div>
</section>
=end
%>
