<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Press
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="press" name="press"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Media Newsroom</small>
      <h2>Press Mentions</h2>
    </header>
    <div class="row text-center gap-y">
      <div class="col-12 col-lg-3 py-10">
        <a href="https://venturebeat.com/2017/12/14/how-bots-are-manipulating-cryptocurrency-prices/" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/venturebeat.png" alt="VentureBeat">
              <h5 class="card-title mt-12">How Bots Are Manipulating Cryptocurrency Prices</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://www.buzzfeed.com/rabbiyitziweiner/9-bitcoin-more-experts-predict-what-will-happen-wi-37p3h" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top p-12 h-50" src="/landing/img/buzzfeed.png" alt="Buzzfeed">
              <h5 class="card-title mt-12">9 Bitcoin Experts Predict What Will Happen</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://www.bloomberg.com/gadfly/articles/2017-12-12/bitcoin-bulls-should-focus-on-futures-exit-not-entrance" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/bloomberg.png" alt="Bloomberg">
              <h5 class="card-title mt-12">Bitcoin Bulls Should Focus On Futures Exit, Not Entrance</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://www.pymnts.com/news/2017/bitcoin-tracker-wild-west-indeed/" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/pymnts.png" alt="Pymnts">
              <h5 class="card-title mt-12">CoinFi Aims To Smooth Crypto Swings</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://thebitcoinpodcast.com/announcements-coinfi/" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/bitcoinpodcast.png" alt="BitcoinPodcast">
              <h5 class="card-title mt-12">The Bitcoin Podcast Announcements: CoinFi</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://www.huffingtonpost.com/entry/4-must-have-cryptocurrency-tools-for-2018_us_5a1cfb2ae4b05df68936cfe0" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/huffpost.png" alt="HuffPost">
              <h5 class="card-title mt-12">Four Must Have Cryptocurrency Tools For 2018</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="http://thehill.com/blogs/pundits-blog/technology/347746-before-slapping-regulations-on-bitcoin-congress-should-learn" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/thehill.png" alt="TheHill">
              <h5 class="card-title mt-12">Before Regulating Bitcoin, Congress Should Learn More</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 py-10">
        <a href="https://www.business.com/articles/why-you-should-consider-accepting-cryptocurrency/" target="_blank">
          <div class="card card-bordered card-hover-shadow">
            <div class="card-block">
              <img class="card-img-top py-12 h-50" src="/landing/img/business-com.png" alt="Business.com">
              <h5 class="card-title mt-12">Why You Should Consider Accepting Cryptocurrency</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
