<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Team
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="team" name="team"></a>
<section class="section overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small>Founders</small>
      <h2>Team</h2>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
        <h5>Han Chang</h5>
        <small>Co-Founder</small>
        <p>Master's in Computer Science from Boston University. Early Bitcoin investor, founded a Chinese Bitcoin exchange; previously at MIT Lincoln Labs, OkCupidLabs, and Lime Brokerage. 8+ years of professional experience developing web applications serving 10M+ users as well as writing black box equity trading algorithms.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-twitter" href="https://twitter.com/hanchang"><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>


      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
        <h5>Timothy Tam</h5>
        <small>Co-Founder</small>
        <p>15+ years in equities trading and hedge funds. Started his career in Goldman Sachs Asia, before working as a senior trader in two Asia hedge funds each with $1+ billion assets under management. In his last role he was cofounder of an Asia Long Short Hedge Fund that specialized in event trading.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-twitter" href="https://twitter.com/aussiebiscuit"><i class="fa fa-twitter"></i></a>
        </div>
      </div>


      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
        <h5>Nate Tsang</h5>
        <small>Co-Founder</small>
        <p>Holds a Juris Doctor from UAlberta Law. 7+ years of experience as a growth hacker in media startups as well as developing multiple web properties that have cumulatively grown from zero to 10M+ pageviews. Cofounder of a keyword intelligence platform for digital marketers, acquired in 2016.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>

<%
=begin
    <header class="section-header">
      <hr>
      <small>Advisors</small>
    </header>
    <div class="row gap-y">
      <!--
      <div class="col-12 col-md-4 team-2">
        <img src="" alt="">
        <h5>Alexander Svanevik</h5>
        <small>Advisor</small>
        <p></p>
        <br>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href="https://www.linkedin.com/in/alexander-svanevik-152198a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img src="" alt="">
        <h5>Tommy Griffith</h5>
        <small>Advisor</small>
        <p></p>
        <br>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img src="" alt="">
        <h5>Julian Shapiro</h5>
        <small>Advisor</small>
        <p></p>
        <br>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    -->

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/093/164/335cbfd.jpg" alt="Sandra Wu">
        <h5>Sandra Wu</h5>
        <small>Advisor</small>
        <p>General Counsel, Mercer</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/sandra-wu-7a7002a7"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://pbs.twimg.com/profile_images/772526598054551552/FwKV2lO3_400x400.jpg" alt="Bernard Huang">
        <h5>Bernard Huang</h5>
        <small>Advisor</small>
        <p>Distribution Hacker in Residence, 500 Startups</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-twitter" href="https://twitter.com/bernardjhuang"><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href="https://www.linkedin.com/in/bernardjhuang"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

<!--
      <div class="col-12 col-md-4 team-2">
        <img src="" alt="">
        <h5>Taylor Pearson</h5>
        <small>Advisor</small>
        <p>Author of <em>End of Jobs</em></p>
        <br>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
          <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    -->
=end
%>
  </div>
</section>
