<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Team
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="team" name="team"></a>
<section class="section overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small>Founders</small>
      <h2>Team</h2>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
        <h5>Timothy Tam</h5>
        <small>Co-Founder</small>
        <p>10+ years in equities trading and hedge funds. Started his career in Goldman Sachs Asia, before working as a senior trader in two Asia hedge funds each with $1+ billion assets under management. In his last role he was cofounder of an Asia Long Short Hedge Fund that specialized in event trading.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/ttam-0190212/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
        <h5>Han Chang</h5>
        <small>Co-Founder</small>
        <p>Master's in Computer Science from Boston University. Early Bitcoin investor, founded a Chinese Bitcoin exchange; previously at MIT Lincoln Labs, OkCupidLabs, and Lime Brokerage. 8+ years of professional experience developing web applications serving 10M+ users as well as writing black box equity trading algorithms.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
        <h5>Nate Tsang</h5>
        <small>Co-Founder</small>
        <p>Holds a Juris Doctor from UAlberta Law. 7+ years of experience as a growth hacker in media startups as well as developing multiple web properties that have cumulatively grown from zero to 10M+ pageviews. Cofounder of a keyword intelligence platform for digital marketers, acquired in 2016.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/nate-tsang-3a493a153/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <br>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <!--<img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAfVAAAAJDRjYzY2NWYzLTA4MmQtNDg2MS05MjdhLTg0MmQwMTVkZWU3ZQ.jpg" width="256" alt="Laplie Anderson">-->
        <img class="w-200" src="https://media.licdn.com/media/AAMAAQDGAAwAAQAAAAAAAAzXAAAAJDEwNWM2Y2UzLWI5YTYtNDIzNS04M2ZkLTAxNTI3OGI0NjI2Ng.jpg" width="256" alt="Laplie Anderson">
        <h5>Laplie Anderson</h5>
        <small>Lead Engineer</small>
        <p>MIT alumnus with experience at IBM and Lime Brokerage; served as lead developer who managed a team of three and built low latency trading platforms at OpenBondX and Lime Brokerage. Expert in high performance Java as well as the design and architecture of trading systems.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/laplie-anderson/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAScAAAAJGJiOTkxMWY5LTgyMzEtNGJkZi05Mzg3LTQwMjM2YmIyNDI2Ng.jpg" width="256" alt="Duc Tran">
        <h5>Duc Tran</h5>
        <small>Research Analyst</small>
        <p>Master's from Princeton University. Experienced research analyst who has deep consulting experience in the financial services industry investigating the impact of fiscal and government policy on market movements. Experienced with statistical methods using STATA, R, and Excel.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/duc-tran-05b4242a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAOKAAAAJGU5NzI4OTQ1LTJhZWEtNDAzYS1iMTg5LWE3NjFkZjdiNTU1NQ.jpg" width="256" alt="Prachi Kanvinde">
        <h5>Prachi Kanvinde</h5>
        <small>Research Analyst</small>
        <p>15 years of banking experience working for Fidelity Investments, UBS, Lehman Brothers and Citibank. Financial analyst covering Fixed Income, Equities, Forex, Commodities asset classes. Holds an Executive MBA from London Business School and an Engineering degree in Computer Science.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/prachikanvinde/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/jon-myers.jpg" width="256" alt="Jon Myers">
        <h5>Jon Myers</h5>
        <small>Product and Design</small>
        <p>Founder of 5+ startups, combining a mix of psychology, economics, and business strategy to leverage product design and turn it into economic value. Advisor for multiple successful ICOs including <a href="https://www.astronaut.capital/" target="_blank">Astronaut Capital</a> and <a href="https://selfkey.org" target="_blank">SelfKey</a>.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/jonmy/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/glen.jpg" width="256" alt="Glen Thomson">
        <h5>Glen Thomson</h5>
        <small>Director of Operations</small>
        <p>Seasoned entrepreneur with successful exit, founder and CEO of search engine optimization agency CiteWorks, avid early-stage cryptocurrency investor, award winning photographer.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/glenthom/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/dom.jpg" width="256" alt="Dominic Wells">
        <h5>Dominic Wells</h5>
        <small>Director of Content</small>
        <p>Online business owner since 2012, achieved over $1 million dollars in revenue for 2017 with 20+ staff members distributed globally, featured multiple times on Entrepreneur.com, conference speaker for digital entrepreneurs.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dominic-wells-55946b91/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAF_AAAAJGFjZGJkMGMzLWYwNTItNGEzNy1hZDU5LWMyNmQyODg0ZDYzNg.jpg" width="256" alt="Nav Aulakh">
        <h5>Nav Aulakh</h5>
        <small>Community Manager</small>
        <p>Programmatic digital media planner who moved client side, helping tech SaaS startups with community management and marketing. Experienced crypto investor with a background in Mathematical Risk Management (BSc) and Financial Engineering (MSc).</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/navneet-aulakh-73161826"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/p/2/005/021/148/237db9a.jpg" width="256" alt="David Danzeiser">
        <h5>David Danzeiser</h5>
        <small>PPC Marketing Manager</small>
        <p>Paid Marketing Manager at Thrive Themes, a leading WordPress theme development provider focused on conversion optimization; regularly handles six figure pay-per-click campaigns and expert at driving Facebook community engagement.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/david-danzeiser-20b0b717/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAe0AAAAJDU5MTY2NDA1LWQxYjUtNDRkYi1iOGFjLTZlOGNkZWZjZTAyNw.jpg" width="256" alt="Sam Peacey">
        <h5>Sam Peacey</h5>
        <small>Fullstack Web Engineer</small>
        <p>Experienced fullstack web engineer, multi-talented with Ruby on Rails and JavaScript including jQuery, Promises, ES6, await/async, React, Babel; has set up continuous integration and automated testing environments as well as scaled multiple production web applications.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/sam-peacey-2b016b121/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <p>
      <br>
    </p>

    <header class="section-header">
      <h3>Advisory Board</h3>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAj3AAAAJGRlNTk5MTBkLTI1MzItNDI2Ny05Yjc3LTg3ZWIyZmIyNjZjZg.jpg" width="256" alt="Edmund Lowell">
        <h5>Edmund Lowell</h5>
        <small>Advisor</small>
        <p>CEO of <a href="https://selfkey.org/" target="_blank">SelfKey</a>, a recent ICO that raised $15M to build an identity network leveraging KYC-Chain. Founder at <a href="https://kyc-chain.com/" target="_blank">KYC-Chain</a> which provides identity verification technology based on distributed ledgers and blockchain technology to enable self sovereign identity and true ownership of the data to the individual.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/edmund-lowell/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/8/000/28f/15c/012ba94.jpg" width="256" alt="Deven Soni">
        <h5>Deven Soni</h5>
        <small>Advisor</small>
        <p>Ex-Goldman Sachs, Lazard, &amp; Highland Capital investment banker; principal investor in charge of deploying over $300M of capital; currently General Partner at Wired Investors in charge of the Digital Asset &amp; Crypto Private Equity Strategy. Strategic advisor for many successful ICOs including <a href="https://polymath.network/" target="_blank">Polymath</a> and <a href="https://vyral.network/" target="_blank">Vyral</a>.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dsoni/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAhbAAAAJGQ3ODVjMGE1LTc5OWYtNDQ3NS04ZWZlLWIxZTRjMjIzYWExMg.jpg" width="256" alt="Tom Howard">
        <h5>Tom Howard</h5>
        <small>Advisor</small>
        <p>Blockchain investor and founder of <a href="http://blockrepublic.io/" target="_blank">Block Republic</a>, investing community providing research, education, tools, and industry connections for cryptocurrency investors and founders, which runs one of the first crypto job boards. Previously founder and CEO of Digital Engine, a rapid prototyping software development studio in San Francisco.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/thowar2/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/032/0ce/1b50187.jpg" width="256" alt="Erika Evasdottir">
        <h5>Erika Evasdottir</h5>
        <small>Advisor</small>
        <p>Graduate of Harvard with 12+ years legal experience in New York and Asia. Advised Wall Street firms on M&amp;A, US &amp; HK Corporate and Securities Law. Erika was the Head of Legal, Corporate Counsel, and Chief Compliance Officer for Pine River Capital, a $11 Billion USD hedge fund.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/erikaevasdottir/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/3/000/074/20e/0851145.jpg" width="256" alt="Alexander Svanevik">
        <h5>Alexander Svanevik</h5>
        <small>Advisor</small>
        <p>Data Science Manager at Schibsted Media Group, 8+ years of experience currently leading a group of 7 data scientists to create business value from data. Previously a management consultant at BearingPoint as well as cofounder of Codeus Artificial Intelligence. Experienced crypto trader who runs <a href="http://icowhitelists.com/">ICO Whitelists</a>.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/alexander-svanevik-152198a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAiVAAAAJGMwY2YwNzRmLWFjNzUtNDRmZS04YWRmLWZmNGRhODcyYjE2OA.jpg" width="256" alt="Nate Ginsburg">
        <h5>Nate Ginsburg</h5>
        <small>Advisor</small>
        <p>Entrepreneur, investor, international speaker with successful 7 figure exits. Nate has been an early mover in the crypto space, is passionate about decentralization technologies, distributed teams, finance, and yoga. Nate also manages a self funded 7 figure crypto portfolio.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/nathanielginsburg/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://blog.coinfi.com/wp-content/uploads/2017/12/zachary-pardes.jpg" width="256" alt="Zachary Pardes">
        <h5>Zachary Pardes</h5>
        <small>Advisor</small>
        <p>Integrated communications professional with 10 years of experience leading earned media campaigns for Virgin, E*TRADE, B2R Finance, Citi, and Investing.com. Managed $1M+ digital strategies for NYC / Silicon Valley startups. Master's from Northwestern University.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/zpardes/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://pbs.twimg.com/profile_images/772526598054551552/FwKV2lO3_400x400.jpg" width="256" alt="Bernard Huang">
        <h5>Bernard Huang</h5>
        <small>Advisor</small>
        <p>Distribution Hacker in Residence at 500 Startups, a Silicon Valley seed fund that was an early stage investor in companies like Twilio, Credit Karma, and Grab. Previously, lead growth marketer at 42Floors. Currently running <a href="https://www.clearscope.io">Clearscope</a>, a content performance optimization SaaS product.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/bernardjhuang"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAA2QAAAAJDY4Mjg0YjBjLWQzMDYtNGUzOC05MGJkLTM2YWI0MGMyNmY3OA.jpg" width="256" alt="Julia Kastner">
        <h5>Julia Kastner</h5>
        <small>Advisor</small>
        <p>Graduate of Harvard Business School and has worked as a Senior Product Manager in General Assembly, an education startup that has raised a total of $120M. Currently at Two Sigma, a $51 billion investment firm that makes decisions based on data science.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/juliakastner/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAALrAAAAJDFjMGI5NTlkLWRkMWItNDc5OS04ZjQ5LTcwNTcyYWY4ZWI3Nw.jpg" width="256" alt="Tommy Griffith">
        <h5>Tommy Griffith</h5>
        <small>Advisor</small>
        <p>Previously the Search Engine Optimization (SEO) manager at Paypal and AirBnB and is the founder of Clickminded, a marketing education firm; responsible for driving exponential organic growth in online traffic for several multinational corporations.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/tommygriffith/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
