<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Team
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="team" name="team"></a>
<section class="section overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small>创始人</small>
      <h2>团队</h2>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
        <h5>Timothy Tam</h5>
        <small>联合创始人</small>
        <p>10年以上股权交易和对冲基金经验。职业生涯从高盛亚洲开始，其后在两家分别管理10亿美元以上资产的亚洲对冲基金担任高级交易员。他最近的职务是一家专注于事件交易的亚洲多空策略对冲基金的联合创始人。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/ttam-0190212/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
        <h5>Han Chang</h5>
        <small>联合创始人</small>
        <p>波士顿大学电脑科学硕士。早期比特币投资者，曾创立过一家中国比特币交易平台。之前在MIT林肯实验室、OkCupid实验室和Lime经纪公司任职。拥有8年以上开发网页应用程序和黑盒股权交易算法的专业经验，他开发的产品至今有1000万以上的用户使用。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
        <h5>Nate Tsang</h5>
        <small>联合创始人</small>
        <p>拥有阿尔伯塔大学法学院法学博士学位。7年以上在媒体新创公司作为成长骇客和开发多个从零发展至累计1000万以上网页访问量的网路资产的经验。联合创始了一个面向网络市场营销人员的关键字智能平台，该平台于2016年被收购。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/nate-tsang-3a493a153/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <br>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/jon-myers.jpg" width="256" alt="Jon Myers">
        <h5>Jon Myers</h5>
        <small>产品和设计</small>
        <p>5家以上新创公司的创始人。综合心理学、经济学和商业策略，运用产品设计，使之转化为经济价值。多个ICO的顾问，包括<a href="https://www.astronaut.capital/" target="_blank">Astronaut Capital</a>和<a href="https://selfkey.org" target="_blank">SelfKey</a>。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/jonmy/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/glen.jpg" width="256" alt="Glen Thomson">
        <h5>Glen Thomson</h5>
        <small>运营总监</small>
        <p>老练的企业家，拥有成功的退出记录，搜索引擎优化机构CiteWorks的创始人和CEO，热心的早期电子加密货币投资者，获过奖的摄影师。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/glenthom/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/wp-content/uploads/2017/12/dom.jpg" width="256" alt="Dominic Wells">
        <h5>Dominic Wells</h5>
        <small>内容总监</small>
        <p>自2012任在线生意业主，在2017年获得1百万以上美元的营收，20几位员工遍布全球，被Entrepreneur.com几次专题报道，digital entrepreneurs的会议发言人。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dominic-wells-55946b91/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAF_AAAAJGFjZGJkMGMzLWYwNTItNGEzNy1hZDU5LWMyNmQyODg0ZDYzNg.jpg" width="256" alt="Nav Aulakh">
        <h5>Nav Aulakh</h5>
        <small>社区经理</small>
        <p>程序化数字媒体计划师，转行至客户方面，以社区管理和市场营销来帮助科技SaaS新创公司。经验丰富的电子加密货币投资者，拥有数学风险管理（科学学士）和金融工程学（科学硕士）的背景。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/navneet-aulakh-73161826"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAScAAAAJGJiOTkxMWY5LTgyMzEtNGJkZi05Mzg3LTQwMjM2YmIyNDI2Ng.jpg" width="256" alt="Duc Tran">
        <h5>Duc Tran</h5>
        <small>研究分析师</small>
        <p>经验丰富的研究分析师，在金融服务行业有调查财政和政府政策对市场走势影响的深度咨询经验。在使用STATA、R和Excel的统计方法上有经验。拥有普林斯顿大学硕士学位。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/duc-tran-05b4242a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAOKAAAAJGU5NzI4OTQ1LTJhZWEtNDAzYS1iMTg5LWE3NjFkZjdiNTU1NQ.jpg" width="256" alt="Prachi Kanvinde">
        <h5>Prachi Kanvinde</h5>
        <small>研究分析师</small>
        <p>拥有在富达投资、UBS‘、雷曼兄弟和花旗银行的15年银行业经验，是覆盖固定收入证券、股市、外汇交易、商品资产类别的金融分析师。拥有伦敦商学院的EMBA学位、电脑科学的工程学位。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/prachikanvinde/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/p/2/005/021/148/237db9a.jpg" width="256" alt="David Danzeiser">
        <h5>David Danzeiser</h5>
        <small>PPC市场营销经理</small>
        <p>Thrive Themes的有偿市场经理。这家公司为领先的WordPress主题开发提供商，专注于转化的优化：经常负责6位数的点击付费广告活动，是吸引Facebook社区交互的专家。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/david-danzeiser-20b0b717/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAe0AAAAJDU5MTY2NDA1LWQxYjUtNDRkYi1iOGFjLTZlOGNkZWZjZTAyNw.jpg" width="256" alt="Sam Peacey">
        <h5>Sam Peacey</h5>
        <small>全栈网站工程师</small>
        <p>经验丰富的全栈网站设计师（Ruby on Rails、JavaScript，包括ES6、jQuery、React、Babel），业已推出多个面向几百万用户的生产网站应用。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/sam-peacey-2b016b121/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <p>
      <br>
    </p>

    <header class="section-header">
      <h3>顾问团</h3>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAIABADGAAAAAQAAAAAAAApjAAAAJDYxMjhhN2ViLTU5ZTgtNGU5OS04ZDlmLTUyMTFhMjdjYjg5Yg.jpg" width="256" alt="Roger Lim">
        <h5>Roger Lim</h5>
        <small>顾问</small>
        <p>
          资深天使投资人及区块链投资人，Qlink Foundation董事，<a href="https://bluzelle.com/" target="_blank">Bluzelle</a>、<a href="https://selfkey.org/" target="_blank">SelfKey</a>及<a href="https://www.thekey.vip/" target="_blank">TheKey</a>顾问，且任专注于中国科技产业投资的风险投资基金合伙人。他同时还是个成功的企业家，创办了主营云主机业务的WebVisions集团，现有超过200名员工及26000多个客户。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/limroger/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

<!--
      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAj3AAAAJGRlNTk5MTBkLTI1MzItNDI2Ny05Yjc3LTg3ZWIyZmIyNjZjZg.jpg" width="256" alt="Edmund Lowell">
        <h5>Edmund Lowell</h5>
        <small>顾问</small>
        <p><a href="https://selfkey.org/" target="_blank">SelfKey</a>的CEO。这家公司在最近的ICO中筹集1千5百万，以开发运用KYC-Chain的一个身份网络。<a href="https://kyc-chain.com/" target="_blank">KYC-Chain</a>的创始人。这家公司提供基于分布式账本和区块链技术的身份验证科技，以实现个人的自主身份和真正的数据拥有。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/edmund-lowell/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
-->

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/8/000/28f/15c/012ba94.jpg" width="256" alt="Deven Soni">
        <h5>Deven Soni</h5>
        <small>顾问</small>
        <p>前高盛、Lazard和Highland Capital的投资银行家，负责部署3亿美元资金的主要投资者。目前是Wired Investors负责数字资产和加密电子货币隐私权益策略的总合伙人。许多成功ICO的策略顾问，包括<a href="https://polymath.network/" target="_blank">Polymath</a>和<a href="https://vyral.network/" target="_blank">Vyral</a>。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dsoni/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAhbAAAAJGQ3ODVjMGE1LTc5OWYtNDQ3NS04ZWZlLWIxZTRjMjIzYWExMg.jpg" width="256" alt="Tom Howard">
        <h5>Tom Howard</h5>
        <small>顾问</small>
        <p>区块链投资者，<a href="http://blockrepublic.io/" target="_blank">Block Republic</a>创始人。这家公司投资于为加密电子货币的投资者和创始人提供研究、教育、工具和建立行业联系的社区，运营着第一家加密电子货币职位公告板。是坐落于旧金山的快速原型软件开发工作室 - Digital Engine的前创始人和CEO。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/thowar2/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/032/0ce/1b50187.jpg" width="256" alt="Erika Evasdottir">
        <h5>Erika Evasdottir</h5>
        <small>顾问</small>
        <p>哈佛大学毕业，12年以上在纽约和亚洲的法律经验。曾为华尔街公司M&amp;A美国和香港公司，任公司和证券法顾问。110亿美元对冲基金 - Pine River Capital的法律主管、公司顾问、首席合规官。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/erikaevasdottir/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/3/000/074/20e/0851145.jpg" width="256" alt="Alexander Svanevik">
        <h5>Alexander Svanevik</h5>
        <small>顾问</small>
        <p>Schibsted媒体集团的数据科学经理。8年以上经验，目前领导一个有7名数据科学家的小组从数据中创建商业价值。曾任BearingPoint管理顾问，Codeus人工智能联合创始人。经验丰富的加密电子货币交易者，运营 <a href="http://icowhitelists.com/">ICO Whitelists</a>。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/alexander-svanevik-152198a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAiVAAAAJGMwY2YwNzRmLWFjNzUtNDRmZS04YWRmLWZmNGRhODcyYjE2OA.jpg" width="256" alt="Nate Ginsburg">
        <h5>Nate Ginsburg</h5>
        <small>顾问</small>
        <p>有7位数退出记录的企业家、投资者、国际演讲者。Nate为加密电子货币先行者，热心于去中心化科技、分布式团队和瑜伽。Nate也管理7位数的自投资加密电子货币投资组合。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/nathanielginsburg/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://blog.coinfi.com/wp-content/uploads/2017/12/zachary-pardes.jpg" width="256" alt="Zachary Pardes">
        <h5>Zachary Pardes</h5>
        <small>顾问</small>
        <p>综合通讯专业人士，在为Virgin、E*TRADE、B2R Finance、Citi和Investing.com领导盈利媒体广告活动方面有10年经验。为纽约市/硅谷的新创公司管理1百万美元以上的数字策略。西北大学硕士。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/zpardes/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://pbs.twimg.com/profile_images/772526598054551552/FwKV2lO3_400x400.jpg" width="256" alt="Bernard Huang">
        <h5>Bernard Huang</h5>
        <small>顾问</small>
        <p>硅谷种子基金500 Startups的常驻发行黑客。这家基金是诸如Twilio、Credit Karma和Grab这些公司的早期投资商。曾任42Floors增长市场营销主管。目前运营一家拥有内容表现优化SaaS产品的公司<a href="https://www.clearscope.io">Clearscope</a>。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/bernardjhuang"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAA2QAAAAJDY4Mjg0YjBjLWQzMDYtNGUzOC05MGJkLTM2YWI0MGMyNmY3OA.jpg" width="256" alt="Julia Kastner">
        <h5>Julia Kastner</h5>
        <small>顾问</small>
        <p>哈佛商学院毕业，曾在一家总计已经筹集了1亿2千万美元的新创教育公司 - General Assembly任高级产品经理。目前在一家510亿规模、基于数据科学做出决策的投资公司 - Two Sigma。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/juliakastner/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAMAAwDGAAwAAQAAAAAAAA3YAAAAJDIyZWNhOGYwLWM1MWYtNDMxZi1hYzZmLWYzMGQ4ODI2MjdmYg.jpg" width="256" alt="Tommy Griffith">
        <h5>Tommy Griffith</h5>
        <small>顾问</small>
        <p>曾任Paypal和AirBnB的搜索引擎优化（SEO）经理，市场营销教育公司Clickminded的创始人：负责为几个多国公司吸引呈指数型有机增长的在线流量。</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/tommygriffith/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
