<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Team
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="team" name="team"></a>
<section class="section overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small>Founders</small>
      <h2>Team</h2>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
        <h5>Han Chang</h5>
        <small>Co-Founder</small>
        <p>Master's in Computer Science from Boston University. Early Bitcoin investor, founded a Chinese Bitcoin exchange; previously at MIT Lincoln Labs, OkCupidLabs, and Lime Brokerage. 8+ years of professional experience developing web applications serving 10M+ users as well as writing black box equity trading algorithms.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
        <h5>Timothy Tam</h5>
        <small>Co-Founder</small>
        <p>10+ years in equities trading and hedge funds. Started his career in Goldman Sachs Asia, before working as a senior trader in two Asia hedge funds each with $1+ billion assets under management. In his last role he was cofounder of an Asia Long Short Hedge Fund that specialized in event trading.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/ttam-0190212/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
        <h5>Nate Tsang</h5>
        <small>Co-Founder</small>
        <p>Holds a Juris Doctor from UAlberta Law. 7+ years of experience as a growth hacker in media startups as well as developing multiple web properties that have cumulatively grown from zero to 10M+ pageviews. Cofounder of a keyword intelligence platform for digital marketers, acquired in 2016.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <br>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://pbs.twimg.com/profile_images/871679450366316546/QW2YFGxL_400x400.jpg" width="256" alt="Glen Thomson">
        <h5>Glen Thomson</h5>
        <small>Community Manager</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/glenthom/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/p/7/005/046/3a7/0eede60.jpg" width="256" alt="Dominic Wells">
        <h5>Dominic Wells</h5>
        <small>Public Relations Manager</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dominic-wells-55946b91/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/AAEAAQAAAAAAAAe0AAAAJDU5MTY2NDA1LWQxYjUtNDRkYi1iOGFjLTZlOGNkZWZjZTAyNw.jpg" width="256" alt="Sam Peacey">
        <h5>Sam Peacey</h5>
        <small>Web Developer</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/sam-peacey-2b016b121/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

    </div>

    <p>
      <br>
    </p>

    <header class="section-header">
      <h3>Advisory Board</h3>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/8/000/28f/15c/012ba94.jpg" width="256" alt="Deven Soni">
        <h5>Deven Soni</h5>
        <small>Advisor</small>
        <p>General Partner at Wired Investors<br>Advisor to <a href="https://polymath.network/">Polymath</a>, <a href="https://chronologic.network">Chronologic</a></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dsoni/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://pbs.twimg.com/profile_images/772526598054551552/FwKV2lO3_400x400.jpg" width="256" alt="Bernard Huang">
        <h5>Bernard Huang</h5>
        <small>Advisor</small>
        <p>Distribution Hacker in Residence, 500 Startups</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/bernardjhuang"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAA2QAAAAJDY4Mjg0YjBjLWQzMDYtNGUzOC05MGJkLTM2YWI0MGMyNmY3OA.jpg" width="256" alt="Julia Kastner">
        <h5>Julia Kastner</h5>
        <small>Advisor</small>
        <p>Product Manager, Two Sigma</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/juliakastner/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAALrAAAAJDFjMGI5NTlkLWRkMWItNDc5OS04ZjQ5LTcwNTcyYWY4ZWI3Nw.jpg" width="256" alt="Tommy Griffith">
        <h5>Tommy Griffith</h5>
        <small>Advisor</small>
        <p>Founder of <a href="https://www.clickminded.com/">Clickminded</a><br>Ex-SEO, Airbnb and Paypal</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/tommygriffith/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

    </div>

  </div>
</section>
