<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Team
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="team" name="team"></a>
<section class="section overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small>Founders</small>
      <h2>Team</h2>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
        <h5>Timothy Tam</h5>
        <small>Co-Founder</small>
        <p>10+ years in equities trading and hedge funds. Started his career in Goldman Sachs Asia, before working as a senior trader in two Asia hedge funds each with $1+ billion assets under management. In his last role he was cofounder of an Asia Long Short Hedge Fund that specialized in event trading.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/ttam-0190212/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
        <h5>Han Chang</h5>
        <small>Co-Founder</small>
        <p>Master's in Computer Science from Boston University. Early Bitcoin investor, founded a Chinese Bitcoin exchange; previously at MIT Lincoln Labs, OkCupidLabs, and Lime Brokerage. 8+ years of professional experience developing web applications serving 10M+ users as well as writing black box equity trading algorithms.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
        <h5>Nate Tsang</h5>
        <small>Co-Founder</small>
        <p>Holds a Juris Doctor from UAlberta Law. 7+ years of experience as a growth hacker in media startups as well as developing multiple web properties that have cumulatively grown from zero to 10M+ pageviews. Cofounder of a keyword intelligence platform for digital marketers, acquired in 2016.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/nate-tsang-3a493a153/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <br>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/glen.jpg" width="256" alt="Glen Thomson">
        <h5>Glen Thomson</h5>
        <small>Community Manager</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/glenthom/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://blog.coinfi.com/dom.jpg" width="256" alt="Dominic Wells">
        <h5>Dominic Wells</h5>
        <small>Public Relations Manager</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dominic-wells-55946b91/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-200" src="https://media.licdn.com/media/p/2/005/021/148/237db9a.jpg" width="256" alt="Dave">
        <h5>David Danzeiser</h5>
        <small>PPC Marketing Manager</small>
        <p></p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/david-danzeiser-20b0b717/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <p>
      <br>
    </p>

    <header class="section-header">
      <h3>Advisory Board</h3>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/8/000/28f/15c/012ba94.jpg" width="256" alt="Deven Soni">
        <h5>Deven Soni</h5>
        <small>Advisor</small>
        <p>Ex-Goldman Sachs, Lazard, &amp; Highland Capital investment banker; principal investor in charge of deploying over $300M of capital; currently General Partner at Wired Investors in charge of the Digital Asset &amp; Crypto Private Equity Strategy. Strategic advisor for many successful ICOs including <a href="https://chronologic.network">Chronologic</a> and <a href="https://polymath.network/">Polymath</a>.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/dsoni/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/032/0ce/1b50187.jpg" width="256" alt="Erika Evasdottir">
        <h5>Erika Evasdottir</h5>
        <small>Advisor</small>
        <p>Graduate of Harvard with 12+ years legal experience in New York and Asia. Advised Wall Street firms on M&amp;A, US &amp; HK Corporate and Securities Law. Erika was the Head of Legal, Corporate Counsel, and Chief Compliance Officer for Pine River Capital, a $11 Billion USD hedge fund.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/erikaevasdottir/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/p/3/000/074/20e/0851145.jpg" width="256" alt="Alexander Svanevik">
        <h5>Alexander Svanevik</h5>
        <small>Advisor</small>
        <p>Data Engineering Manager at Schibsted Media Group, 8+ years of experience currently leading a group of 7 data scientists to create business value from data. Previously a management consultant at BearingPoint as well as cofounder of Codeus Artificial Intelligence. Experienced crypto trader who runs <a href="http://icowhitelists.com/">ICO Whitelists</a>.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/alexander-svanevik-152198a/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://pbs.twimg.com/profile_images/772526598054551552/FwKV2lO3_400x400.jpg" width="256" alt="Bernard Huang">
        <h5>Bernard Huang</h5>
        <small>Advisor</small>
        <p>Distribution Hacker in Residence at 500 Startups, a Silicon Valley seed fund that was an early stage investor in companies like Twilio, Credit Karma, and Grab. Previously, lead growth marketer at 42Floors.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/bernardjhuang"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAA2QAAAAJDY4Mjg0YjBjLWQzMDYtNGUzOC05MGJkLTM2YWI0MGMyNmY3OA.jpg" width="256" alt="Julia Kastner">
        <h5>Julia Kastner</h5>
        <small>Advisor</small>
        <p>Graduate of Harvard Business School and has worked as a Senior Product Manager in General Assembly, an education startup that has raised a total of $120M. Currently at Two Sigma, a $51 billion investment firm that makes decisions based on data science.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/juliakastner/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-12 col-md-4 team-2">
        <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAALrAAAAJDFjMGI5NTlkLWRkMWItNDc5OS04ZjQ5LTcwNTcyYWY4ZWI3Nw.jpg" width="256" alt="Tommy Griffith">
        <h5>Tommy Griffith</h5>
        <small>Advisor</small>
        <p>Previously the Search Engine Optimization (SEO) manager at Paypal and AirBnB and is the founder of Clickminded, a marketing education firm; responsible for driving exponential organic growth in online traffic for several multinational corporations.</p>
        <div class="social social-boxed social-rounded social-gray">
          <a class="social-linkedin" href="https://www.linkedin.com/in/tommygriffith/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
<%
      # <div class="col-12 col-md-4 team-2">
      #   <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAASLAAAAJDQ3NzBiYjZhLWQyNTgtNGQwOS1iMzFiLTNjMTNhYTYxZDE2Yg.jpg" width="256" alt="Mike Mallon">
      #   <h5>Mike Mallon</h5>
      #   <small>Advisor, News Platform</small>
      #   <p>Engineering Manager, Bloomberg</p>
      #   <div class="social social-boxed social-rounded social-gray">
      #     <a class="social-linkedin" href="https://www.linkedin.com/in/mike-mallon/"><i class="fa fa-linkedin"></i></a>
      #   </div>
      # </div>

      # <div class="col-12 col-md-4 team-2">
      #   <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAJXAAAAJDNmOTUzNTg1LTUwNGYtNGYzNi04NTUyLTdjY2YyMDgxZWQ5Mg.jpg" width="256" alt="Kevin Hu">
      #   <h5>Kevin Hu</h5>
      #   <small>Advisor, Trading Signals</small>
      #   <p>Engineering Manager at Two Sigma</p>
      #   <div class="social social-boxed social-rounded social-gray">
      #     <a class="social-linkedin" href="https://www.linkedin.com/in/kevin-hu-44139b6/"><i class="fa fa-linkedin"></i></a>
      #   </div>
      # </div>

      # <div class="col-12 col-md-4 team-2">
      #   <img class="w-150" src="https://media.licdn.com/media/AAEAAQAAAAAAAAfVAAAAJDRjYzY2NWYzLTA4MmQtNDg2MS05MjdhLTg0MmQwMTVkZWU3ZQ.jpg" width="256" alt="Laplie Anderson">
      #   <h5>Laplie Anderson</h5>
      #   <small>Advisor, Trading Algorithms</small>
      #   <p>Lead Platform Engineer, OpenBondX</p>
      #   <div class="social social-boxed social-rounded social-gray">
      #     <a class="social-linkedin" href="https://www.linkedin.com/in/laplie-anderson/"><i class="fa fa-linkedin"></i></a>
      #   </div>
      # </div>
%>
    </div>

  </div>
</section>
