a#timeline[name="timeline"]
section.section
  .container
    header.section-header
      small Project
      h2 Information
    .row.gap-y
      .col-12.col-md-5
        br
        ul.timeline
          li.event[data-date="Jan 31"] Airdrop
          li.event[data-date="Feb 28"] Token Unlock
          li.event[data-date="Apr 6"] Public Beta Launch
      .col-12.col-md-7
        table.table
          tr
            th Total Token Supply
            td.text-right
              span.text-info.fs-40 ~300,000,000
          tr
            th Ticker Symbol
            td.text-right
              span.text-info.fs-40 COFI
          tr
            th Hard Cap On Raise
            td.text-right
              span.text-info.fs-40
                ' $15M
                small.text-info USD
          tr
            th Airdrop Amount
            td.text-right
              span.text-info.fs-40
                ' 500
                small.text-info COFI
    br
    br
    br
