<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Timeline
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="timeline" name="timeline"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Projected</small>
      <h2>Timeline</h2>
    </header>
    <div class="row gap-y">
      <div class="col-12 col-md-6">
        <ul class="timeline">
          <li class="event" data-date="Nov 1">
            Whitepaper Release
          </li>
          <li class="event" data-date="Nov 10">
            Token Sale Registration Opens
          </li>
          <li class="event" data-date="Dec 4">
            Presale Begins
          </li>
          <li class="event" data-date="Jan 15">
            Crowdsale Begins
          </li>
          <li class="event" data-date="TBA">
            Token Distribution
          </li>
          <li class="event" data-date="TBA">
            Exchange Trading
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <br>
        <table class="table">
          <tr>
            <th>Total Token Supply</th>
            <td class="text-right">
              <span class="text-info fs-40">~300,000,000</span>
            </td>
          </tr>
          <tr>
            <th>Initial Offering Price</th>
            <td class="text-right">
              <span class="text-info fs-40">$0.15 <small class="text-info">USD</small></span> per token
            </td>
          </tr>
          <tr>
           <th>Currencies Accepted</th>
           <td class="text-right">
             <span class="text-info fs-40">Ethereum</span>
           </td>
         </tr>
         <tr>
           <th>Minimum Investment</th>
           <td class="text-right">
            <span class="text-info fs-40">2 ETH</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
