<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Timeline
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="timeline" name="timeline"></a>
<section class="section bg-gray">
  <div class="container">
    <header class="section-header">
      <small>Projected</small>
      <h2>Timeline</h2>
    </header>
    <div class="row gap-y">
      <div class="col-12 col-md-6">
        <ul class="timeline">
          <li class="event active" data-date="Sept 19">
            <strong>Announcement</strong>
          </li>
          <li class="event" data-date="Oct 10">
            Whitepaper Release
          </li>
          <li class="event" data-date="Oct 30">
            Presale Opens
          </li>
          <li class="event" data-date="Nov 6">
            Crowdsale Opens
          </li>
          <li class="event" data-date="Nov 20">
            Crowdsale Ends
          </li>
          <li class="event" data-date="TBA">
            Token Distribution
          </li>
          <li class="event" data-date="TBA">
            Exchange Trading
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <table class="table">
          <tr>
            <th>Total Token Supply</th>
            <td class="text-right"><span class="text-info fs-40">222,222,222</span></td>
          </tr>
          <tr>
            <th>Initial Offering Price</th>
            <td class="text-right">
              <span class="text-info fs-40">$0.15 <small class="text-info">USD</small></span> per token
            </td>
          </tr>
          <tr>
            <th>1st Hour Bonus</th>
            <td class="text-right">
              <span class="text-info fs-40">20%</span>
            </td>
          </tr>
          <tr>
            <th>1st Day Bonus</th>
            <td class="text-right">
              <span class="text-info fs-40">15%</span>
            </td>
          </tr>
          <tr>
            <th>Currencies Accepted</th>
            <td class="text-right">
              <span class="text-info fs-40">BTC <small>and</small> ETH</span>
            </td>
          </tr>
          <tr>
            <th>Minimum Investment</th>
            <td class="text-right">
              <span class="text-info fs-40">None</span>
            </td>
          </tr>
        </table>
      </div>
  </div>
</section>
