<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Token Details
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="token" name="token"></a>
<section class="section section-inverse bg-primary">
  <div class="container">
    <header class="section-header">
      <small>Token</small>
      <h2>Understanding the CoinFi Token</h2>
      <hr>
    </header>

    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <p>The CoinFi token (COFI) will be a ERC-20 compatible token built on top of the Ethereum blockchain, defined by an open source smart contract, and used for transactions on the CoinFi platform.</p>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <h5>Lock and Stake To Obtain Premium Functionality</h5>
        <p>Users will have to lock and stake the CoinFi token in order to obtain access to advanced functionality on the CoinFi platform such as customizable news feeds, dashboards, alerts and premium trading signals and algorithms.</p>
        <p>Staking encourages long term holding of the token, thus reducing speculation and price volatility.</p>
      </div>
      <div class="col-md-6">
        <h5>Compensation For Community Content Contributions</h5>
        <p>Crowdsourced content providers receive COFI based on the quality of their contributed material determined by metrics measuring the popularity of a piece of content. Further details are available on the white paper.</p>
        <p>Compensation for the seeding of content from early adopters will come from the CoinFi Foundation which will retain 20% of the tokens at genesis for distribution to community contributors.</p>
      </div>
      <div class="col-md-6">
        <h5>Act as Unit of Value in Auctions of Exclusive Content</h5>
        <p>Highly exclusive content whose value decays once accessed will require an auction mechanism to restrict distribution and determine the market price for that content.</p>
        <p>These auctions will only accept COFI as the unit of bidding to ensure that CoinFi community members have privileged access to this type of valuable content.</p>
      </div>
      <div class="col-md-6">
        <h5>Long Term Value Accretion In The Token Ecosystem</h5>
        <p>The cost to crowdsource the content is lower than the accumulated price users are willing to pay for the content as measured in COFI. As a result, the buy-side demand for COFI (users who require COFI to access the content) will exceed the sell-side demand for COFI (content contributors who receive COFI in exchange for premium content), thus creating long term demand for the CoinFi token.</p>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6">
        <canvas id="tokenDistribution"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("tokenDistribution");
            var tokenDistribution = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [16.7, 33.3, 30, 20],
                  backgroundColor: ['#46da60', '#ffbe00', '#0facf3', '#ff4954']
                }],
                labels: [
                  'Early Investors',
                  'Product Development',
                  'Shareholders',
                  'CoinFi Foundation'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  position: 'bottom',
                  labels: {
                    padding: 14,
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>

      <div class="col-12 col-md-6">
        <h2>Token Distribution</h2>
        <p>The distribution of CoinFi tokens will be as follows:</p>
        <ul>
          <li><strong>16.7%</strong> is raised in a presale to early investors.</li>
          <li><strong>33.3%</strong> is raised in a public token sale with the funds raised allocated to the company for the development of the product.</li>
          <li><strong>30%</strong> retained by company shareholders.</li>
          <li><strong>20%</strong> retained by the CoinFi Foundation to incentivize partners and early adopters of the product.</li>
        </ul>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Use Of Funds</h2>
        <p>The following is a projected use of the funds raised:</p>
        <ul>
          <li><strong>40%</strong> for the continued development of the platform.</li>
          <li><strong>20%</strong> for general staffing.</li>
          <li><strong>20%</strong> for sales and marketing costs.</li>
          <li><strong>10%</strong> for legal and compliance costs.</li>
          <li><strong>10%</strong> for operational expenses.</li>
        </ul>
        <br>
      </div>
      <div class="col-12 col-md-6">
        <canvas id="useOfFunds"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("useOfFunds");
            var useOfFunds = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [40, 20, 20, 10, 10],
                  backgroundColor: ['#46da60', '#0facf3', '#ffbe00', '#ff4954', '#333333']
                }],
                labels: [
                  'Platform Development',
                  'General Staffing',
                  'Sales and Marketing',
                  'Legal and Compliance',
                  'Operational'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  position: 'bottom',
                  labels: {
                    padding: 14,
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>

