<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Token Details
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="token" name="token"></a>
<section class="section section-inverse bg-primary">
  <div class="container">
    <header class="section-header">
      <small>代币</small>
      <h2>理解CoinFi代币</h2>
      <hr>
    </header>

    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <p>CoinFi代币（COFI）将为ERC-20兼容代币，在以利坊区块链上开发，由一种开源智能合约定义，用于在CoinFi平台上的交易。</p>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <h5>锁定、进行权益累积，以获得高级功能</h5>
        <p>为了获得在CoinFi平台上的高级功能的访问权限，例如定制化资讯递送、仪表盘、警报和优质交易信号和算法，用户将需要锁定CoinFi代币和进行CoinFi代币权益累积。</p>
        <p>权益累积鼓励代币的长期持有，因此减少投机和价格波动。</p>
      </div>
      <div class="col-md-6">
        <h5>对社区内容贡献的补偿</h5>
        <p>众包内容提供者，根据由衡量内容受欢迎程度的指标所确定的各自所贡献材料的质量，接受COFI。在白皮书上有进一步的详细信息。</p>
        <p>对早期采用者内容播种的补偿，将来自CoinFi基金。这个基金将在创始时，保留20%的代币，用于向社区贡献者发放。</p>
      </div>
      <div class="col-md-6">
        <h5>在独家内容的拍卖中，作为价值单位存在</h5>
        <p>一旦被访问其价值将下降的高度独家内容，将需要一个拍卖机制，以控制分发和确定此内容的市场价格。</p>
        <p>这些拍卖将仅接受COFI作为竞价单位，以确保CoinFi社区成员有访问此类有价值内容的特权。</p>
      </div>
      <div class="col-md-6">
        <h5>在代币生态系统中的长期增值</h5>
        <p>众包内容的成本，较用户为内容愿意以COFI支付的累计价格要低。结果，COFI的买方需求（需要COFI以访问内容的用户）将超过COFI的卖方需求（以优质内容换取COFI的内容贡献者），因此产生长期COFI代币需求。</p>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6">
        <canvas id="tokenDistribution"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("tokenDistribution");
            var tokenDistribution = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [16.7, 33.3, 30, 20],
                  backgroundColor: ['#46da60', '#ffbe00', '#0facf3', '#ff4954']
                }],
                labels: [
                  '早期投资者',
                  '产品开发',
                  '股东',
                  'CoinFi基金'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  position: 'bottom',
                  labels: {
                    padding: 14,
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>

      <div class="col-12 col-md-6">
        <h2>代币分配</h2>
        <p>CoinFi代币将以如下方式分配：</p>
        <ul>
          <li><strong>16.7%</strong>在对早期投资者的预售中筹集。</li>
          <li><strong>33.3%</strong>在公开代币销售中筹集，筹集到的资金被分配至公司的产品开发。</li>
          <li><strong>30%</strong>由公司股东保留。</li>
          <li><strong>20%</strong>由CoinFi基金保留，用于激励合伙人和产品的早期采用者。</li>
        </ul>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <h2>资金的使用</h2>
        <p>如下为筹集到的资金的使用计划：</p>
        <ul>
          <li><strong>40%</strong>用于平台的继续开发。</li>
          <li><strong>20%</strong>用于总体员工配备。</li>
          <li><strong>20%</strong>用于销售和市场营销成本。</li>
          <li><strong>10%</strong>用于法律和合规成本。</li>
          <li><strong>10%</strong>用于运营开支。</li>
        </ul>
        <br>
      </div>
      <div class="col-12 col-md-6">
        <canvas id="useOfFunds"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("useOfFunds");
            var useOfFunds = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [40, 20, 20, 10, 10],
                  backgroundColor: ['#46da60', '#0facf3', '#ffbe00', '#ff4954', '#333333']
                }],
                labels: [
                  '平台开发',
                  '总体员工配备',
                  '销售和市场营销',
                  '法律和合规',
                  '运营'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  position: 'bottom',
                  labels: {
                    padding: 14,
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>

