<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Token Details
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="token" name="token"></a>
<section class="section section-inverse bg-primary">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-12 col-md-6">
        <canvas id="tokenDistribution"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("tokenDistribution");
            var tokenDistribution = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [5, 45, 30, 20],
                  backgroundColor: ['blue', 'red', 'green', 'yellow']
                }],
                labels: [
                  'Early Investors',
                  'Product Development',
                  'Shareholders',
                  'CoinFi Foundation'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  labels: {
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>

      <div class="col-12 col-md-6">
        <h2>Token Distribution</h2>
        <p>The distribution of CoinFi tokens will be as follows:</p>
        <ul>
          <li><strong>5%</strong> is raised in a presale to early investors.</li>
          <li><strong>45%</strong> token sale with the funds raised allocated to the company for the development of the product.</li>
          <li><strong>30%</strong> retained by company shareholders.</li>
          <li><strong>20%</strong> retained by the CoinFi Foundation to incentivize partners and early adopters of the product.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Use Of Funds</h2>
        <p>The following is a projected use of the funds raised:</p>
        <ul>
          <li><strong>40%</strong> for the continued development of the platform.</li>
          <li><strong>20%</strong> for general staffing.</li>
          <li><strong>20%</strong> for sales and marketing costs.</li>
          <li><strong>10%</strong> for legal and compliance costs.</li>
          <li><strong>10%</strong> for operational expenses.</li>
        </ul>
        <h4>Social Currency</h4>
        <p>Each token generates the social currency Fi, which is non-tradeable but can be spent on voting (voting on accurate pieces early can give you more CFI), unlocking premium features, etc.</p>
        <p>For more details, check out the <a href="/coinfi-whitepaper.pdf">white paper</a>.</p>
      </div>
      <div class="col-12 col-md-6">
        <br>
        <br>
        <br>
        <br>
        <canvas id="useOfFunds"></canvas>
        <script>
          $(function() {
            var ctx = document.getElementById("useOfFunds");
            var useOfFunds = new Chart(ctx, {
              type: 'pie',
              data: {
                datasets: [{
                  data: [40, 20, 20, 10, 10],
                  backgroundColor: ['blue', 'red', 'green', 'yellow']
                }],
                labels: [
                  'Platform Development',
                  'General Staffing',
                  'Sales and Marketing',
                  'Legal and Compliance',
                  'Operational'
                ]
              },
              options: {
                cutoutPercentage: 50,
                legend: {
                  labels: {
                    fontColor: '#eee',
                    defaultFontFamily: 'Open Sans'
                  }
                }
              }
            });
          });
        </script>
      </div>

      </div>

    </div>
  </div>
</section>

