<!-- Topbar -->
<nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
  <div class="container">

    <div class="topbar-left">
      <button class="topbar-toggler">&#9776;</button>
      <a class="topbar-brand mr-64" href="/">
        <strong>CoinFi</strong>
        <!--<img class="logo-default" src="/landing/img/logo.png" alt="logo">
        <img class="logo-inverse" src="/landing/img/logo-light.png" alt="logo">-->
      </a>
    </div>

    <div class="topbar-right">
      <ul class="topbar-nav nav">
        <li class="nav-item"><a class="nav-link" href="#overview" data-scrollto="overview">Overview</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#opportunity" data-scrollto="opportunity">Opportunity</a></li>-->
        <li class="nav-item"><a class="nav-link" href="#platform" data-scrollto="platform">Platform</a></li>
        <li class="nav-item"><a class="nav-link" href="#team" data-scrollto="team">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#timeline" data-scrollto="timeline">Timeline</a></li>
        <li class="nav-item"><a class="nav-link" href="#token" data-scrollto="token">Token</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#roadmap" data-scrollto="roadmap">Roadmap</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" href="#faq" data-scrollto="faq">FAQ</a></li>-->
        <li class="nav-item"><a class="nav-link" href="#contact" data-scrollto="contact">Contact</a></li>
      </ul>
      <div class="d-inline-flex ml-30">
        <% -# <a class="btn btn-sm btn-outline btn-primary hidden-sm-down mr-4" href="/coins">Platform <small>(beta)</small></a> %>
        <a class="btn btn-small btn-outline btn-default" href="/coinfi-whitepaper.pdf">Whitepaper</a></li>
        &nbsp;
        <button type="button" class="btn btn-small btn-success" data-toggle="modal" data-target="#presaleModal">
          Register for Presale
        </button>
      </div>
    </div>

  </div>
</nav>
<!-- END Topbar -->
