<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Value Proposition
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<a id="overview" name="overview"></a>
<section class="section section-inverse">
  <div class="container">
    <header class="section-header">
      <small>Value Proposition</small>
      <h2>How CoinFi Brings Wall Street Level Trading Intelligence To The Blockchain</h2>
    </header>

    <div class="row gap-y">
      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-recycle"></i></div>

        <div class="feature-description">
          <h5>Hedge Fund Caliber Trading Signals</h5>
          <p>Access to both in-house proprietary and crowdsourced trading signals built using proven hedge fund models that give traders an edge in capturing alpha.</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#trading-signals" data-scrollto="trading-signals">Read More</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-mobile"></i></div>

        <div class="feature-description">
          <h5>Real Time Informational Advantage</h5>
          <p>Crowdsourced real time alerts on curated, relevant, market moving news and events tailored to individual traders to help them generate better trade ideas.</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#real-time-news" data-scrollto="real-time-news">Read More</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-layers"></i></div>

        <div class="feature-description">
          <h5>Trading Algorithms Built With Wall Street Technology</h5>
          <p>Algorithms designed by Wall Street professionals using statistical arbitrage modeling and other advanced techniques to <strong>guarantee</strong> that traders always get "best execution" price.</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#trading-algorithms" data-scrollto="trading-algorithms">Read More</a>
        </div>
      </div>

      <div class="col-12 col-md-6 feature-3">
        <div class="feature-icon"><i class="icon-gears"></i></div>

        <div class="feature-description">
          <h5>Decentralization of Wall Street</h5>
          <p>Stop Wall Street centralization and join a token economy that intelligently leverages the wisdom of the crowd to provide news, research, analysis, financial models, and trading signals.</p>
          <a class="btn btn-outline btn-primary no-shadow" href="#financial-analysis" data-scrollto="financial-analysis">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
