<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/kevin-364843.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Cloak Your Trading And Minimize Frontrunning</h1>
        <h1 class="hidden-md-up">Cloak Your Trading And Minimize Frontrunning</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>Have you ever noticed when you are trading a coin, the price goes up just before you are about to buy or right before you finish your order?  Professionals call this frontrunning, there are already market makers and trading bots that predict your trading behavior and trade ahead of you to make money.</p>

          <p>CoinFi is porting the same trading algorithms hedge fund traders use such as VWAP, Sniper, Iceberg, Implementation Shortfall and Inline to cloak your trading behavior to give you an trade execution advantage.  Screenshot on the right displays how this cloaking behavior works.</p>

          <p><img src=""></p>

          <ul>
            <li>Example: bids jumping ahead of you</li>
            <li>Example: when you bid, orders ahead of you cancel</li>
            <li>Example: bid with a limit and sniper so you hit whatever is in the dark.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
