<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/andrea-reiman-250388.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Detect Coins That Are About To Moon</h1>
        <h1 class="hidden-md-up">Detect Coins That Are About To Moon</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>CoinFi’s algorithms take a large number of inputs such as price, volume, volatility and run them through proprietary hedge fund black box quantitative models (that have already been successful in the equities world) to determine abnormal coin price movements early.  The data is then passed through Kalman filters to smooth the signalling and minimize false positives.</p>

          <p>There is a further overlay of the relevant crowdsourced news that is related to the price which is determined by internal machine learning algorithms.</p>

          <p>Traders with this informational advantage are able to predict with great accuracy coins that are in the early stages of mooning and thus enter the trade early and make money.</p>

          <p>The screenshot below shows a rapid acceleration of volume versus the average traded historically and an abnormal price move up vs the recently volatility, a strong sign of a coin in the early stages of mooning.</p>
        </div>
      </div>
    </div>
  </div>
</main>
