<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/joao-silas-74207.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Display All The In-depth Research Pieces About OMG</h1>
        <h1 class="hidden-md-up">Display All The In-depth Research Pieces About OMG</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>When traders are currently discover a new potential trade idea with a coin it painstakingly takes hours to research what the coin does and it’s history.  There are tidbits of quality research and opinion pieces scattered randomly across Twitter, Medium, Reddit, niche finance blogs, coin research websites and the list goes on.</p>

          <p>There is not an efficient way to quickly source the highest quality research.  CoinFi’s custom in house models narrow the focus on contributor authority, contributor history and social signals, enabling users to filter out and sort the highest quality research pieces display only the relevant ones.</p>

          <p>If you look at the example below in our prototype it solves the problem for a new investor in OmiseGO (OMG)  to efficiently learn about the coin.  They are able to quickly filter the news for “high quality research” only and read the top few articles to get up to speed on OMG if they need to place a trade quickly.</p>
        </div>
      </div>
    </div>
  </div>
</main>
