<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/g-crescoli-365898.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Find Me All The Relevant News That Caused NEO To Moon</h1>
        <h1 class="hidden-md-up">Find Me All The Relevant News That Caused NEO To Moon</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>The CoinFi ecosystem is designed to incentive contributors to curate and screen the highest quality and most relevant content to traders. The more the contributors do this, the more CoinFi is awarded to the contributors.</p>

          <p>Through a combination of machine learning algorithms, social signals such as upvoting, contributor authority, price/volume data, and statistical modelling, CoinFi is able to intelligently filter this information.  The most relevant pieces of news It is then graphically displayed on a price chart for easy understanding.</p>

          <p>Traders are quickly able to identify marketing moving news events that historically caused the coin price to react. For example in the screenshot below it shows a timeline of all the relevant events leading up to and including Neo’s XXX% move.  This is extremely useful for all new traders/investors in the coin who quickly want to screen out the noise and intelligently learn about Neo’s history quickly. In order to currently do this, Traders right now need to spend hours searching on reddit, twitter, telegram and sifting through irrelevant posts before finding relevant news.</p>
        </div>
      </div>
    </div>
  </div>
</main>
