
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>CoinFi - ICO Launch</title>

    <!-- Styles -->
    <% # Bootstrap 4 alpha 6 <link href="/landing/css/core.min.css" rel="stylesheet"> %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/landing/css/thesaas.css" rel="stylesheet">
    <link href="/landing/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/landing/img/apple-touch-icon.png">
    <link rel="icon" href="/landing/img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="CoinFi">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105378428-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '175229079700938'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=175229079700938&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <script src="/landing/js/core.min.js"></script>
  </head>

  <body>
    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand mr-64" href="/">
            <strong>CoinFi</strong>
            <!--<img class="logo-default" src="/landing/img/logo.png" alt="logo">
            <img class="logo-inverse" src="/landing/img/logo-light.png" alt="logo">-->
          </a>
        </div>

        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="/coinfi-whitepaper.pdf">Whitepaper</a></li>
            <li class="nav-item"><a class="nav-link" href="#overview" data-scrollto="overview">Overview</a></li>
            <li class="nav-item"><a class="nav-link" href="#timeline" data-scrollto="timeline">Timeline</a></li>
            <li class="nav-item"><a class="nav-link" href="#token" data-scrollto="token">Token</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="#roadmap" data-scrollto="roadmap">Roadmap</a></li>-->
            <li class="nav-item"><a class="nav-link" href="#team" data-scrollto="team">Team</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="#faq" data-scrollto="faq">FAQ</a></li>-->
            <li class="nav-item"><a class="nav-link" href="#contact" data-scrollto="contact">Contact</a></li>
          </ul>
          <div class="d-inline-flex ml-30">
            <a class="btn btn-sm btn-outline btn-primary hidden-sm-down mr-4" href="/coins">Platform <small>(beta)</small></a>
            <a class="btn btn-sm btn-success" href="/presale">Presale</a>
          </div>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->

    <!-- Header -->
    <header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
      <canvas class="constellation"></canvas>

      <div class="container">
        <div class="row h-full">
          <div class="col-12 text-center align-self-center">
            <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">Built for <span class="text-primary" data-type="Traders, Freedom Fighters, Technologists, Analysts, Rebels, Entrepreneurs"></span></h1>
            <h1 class="fs-35 fw-600 lh-15 hidden-md-up">Built for<br><span class="text-primary" data-type="Traders, Freedom Fighters, Technologists, Analysts, Rebels, Entrepreneurs"></span></h1>
            <br>
            <p class="fs-20 hidden-sm-down"><strong>CoinFi</strong> provides real-time crypto financial intelligence.</p>
            <p class="fs-16 hidden-md-up"><strong>CoinFi</strong> provides real-time crypto financial intelligence.</p>

            <a class="btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="">Join the ICO</a>
            <a class="btn btn-lg btn-round btn-primary w-250 shadow-3 hidden-md-up" href="">Join the ICO</a>

            <br>
            <br>
            <br>

            <p>The token sale starts in:</p>
            <div class="col-12 col-md-6 offset-md-3">
              <div class="countdown countdown-uppercase" data-countdown="2017/10/24"></div>
            </div>

          </div>

          <div class="col-12 align-self-end text-center pb-70">
            <a class="scroll-down-2 scroll-down-inverse" href="#about" data-scrollto="about"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->

    <!-- Main container -->
    <main class="main-content">
      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Overview
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <a id="overview" name="overview"></a>
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Overview</small>
            <h2>Knowledge is Power</h2>
            <hr>
            <p class="lead">CoinFi is the platform for real-time cryptocurrency market intelligence.</p>
          </header>

          <div class="row no-gap text-center">
            <div class="col-12 col-md-6 bg-gray p-70">
              <p class="iconbox iconbox-xxl bg-white">
                <i class="icon-profile-male fs-40"></i>
              </p>
              <br><br>
              <h5>Problem</h5>
              <br>
              <p>Obtaining timely, relevant, and actionable information in the cryptocurrency space is challenging and time consuming.</p>
            </div>

            <div class="col-12 col-md-6 p-70">
              <p class="iconbox iconbox-xxl">
                <i class="icon-linegraph fs-40"></i>
              </p>
              <br><br>
              <h5>Solution</h5>
              <br>
              <p>CoinFi provides a decentralized platform for the discovery, curation, and distribution of cryptocurrency market intelligence.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small>Background</small>
            <h2>What is Market Intelligence?</h2>
            <hr>
            <p class="lead">We believe there are four major components of market intelligence:</p>
          </header>

          <div class="row gap-y">
            <div class="col-12 col-md-6 feature-3">
              <div class="feature-icon"><i class="icon-mobile"></i></div>
              <div class="feature-description">
                <h6>News</h6>
                <p>Coin specific dev milestones achieved, partnership announcements, roadmap updates, exchange (de)listings, etc.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 feature-3">
              <div class="feature-icon"><i class="icon-recycle"></i></div>
              <div class="feature-description">
                <h6>Signals</h6>
                <p>Volatile price movements, high trading volume, wide bid/ask spreads, large orders placed, etc.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 feature-3">
              <div class="feature-icon"><i class="icon-layers"></i></div>
              <div class="feature-description">
                <h6>Macro</h6>
                <p>Corporate adoption, security breaches, regulatory changes, taxation, other government policies, etc.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 feature-3">
              <div class="feature-icon"><i class="icon-gears"></i></div>
              <div class="feature-description">
                <h6>Analysis</h6>
                <p>Time insensitive in-depth thought pieces and professional opinions / commentary, market sentiment</p>
              </div>
            </div>
          </div>

          Market intelligence overlaid on top of price charts for each cryptocurrency provides a valuable source of

          Discovery - We crawl and aggregate crypto news across a wide range of sources.
          Contribution - The community pitches in by contributing thought pieces and analyses, commenting, upvoting, and moderating.
          Curation - Quality content rises to the top through natural language processing and machine learning.
          Intelligence - Traders and analysts get real time market intelligence to help make higher alpha decisions.

          Problem: There are over 800+ cryptocurrencies and more are created daily - it's impossible to keep up.
          Solution: CoinFi helps traders quickly get up to speed on unfamiliar coins to identify opportunities.

          Preview the preliminary prototype of the CoinFi platform for NEO and QTUM.
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Timeline
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <a id="timeline" name="timeline"></a>
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Projected</small>
            <h2>Timeline</h2>
          </header>
          <div class="row gap-y">
            <div class="col-12 col-md-6">
              <ul class="timeline">
                <li class="event active" data-date="Sept 19">
                  <strong>Announcement</strong>
                </li>
                <li class="event" data-date="Oct 1">
                  Whitepaper Release
                </li>
                <li class="event" data-date="Oct 30">
                  Presale Opens
                </li>
                <li class="event" data-date="Nov 6">
                  Crowdsale Opens
                </li>
                <li class="event" data-date="Nov 20">
                  Crowdsale Ends
                </li>
                <li class="event" data-date="TBA">
                  Token Distribution
                </li>
                <li class="event" data-date="TBA">
                  Exchange Trading
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6">
              <table class="table">
                <tr>
                  <th>Total Token Supply</th>
                  <td class="text-right"><span class="text-info fs-40">222,222,222</span></td>
                </tr>
                <tr>
                  <th>Initial Offering Price</th>
                  <td class="text-right">
                    <span class="text-info fs-40">$0.15 <small class="text-info">USD</small></span> per token
                  </td>
                </tr>
                <tr>
                  <th>1st Hour Bonus</th>
                  <td class="text-right">
                    <span class="text-info fs-40">20%</span>
                  </td>
                </tr>
                <tr>
                  <th>1st Day Bonus</th>
                  <td class="text-right">
                    <span class="text-info fs-40">15%</span>
                  </td>
                </tr>
                <tr>
                  <th>Currencies Accepted</th>
                  <td class="text-right">
                    <span class="text-info fs-40">BTC <small>and</small> ETH</span>
                  </td>
                </tr>
                <tr>
                  <th>Minimum Investment</th>
                  <td class="text-right">
                    <span class="text-info fs-40">None</span>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Token Details
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <a id="token" name="token"></a>
      <section class="section section-inverse bg-primary">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-6">
              <canvas id="tokenDistribution"></canvas>
              <script>
                $(function() {
                  var ctx = document.getElementById("tokenDistribution");
                  var tokenDistribution = new Chart(ctx, {
                    type: 'pie',
                    data: {
                      datasets: [{
                        data: [5, 45, 30, 20],
                        backgroundColor: ['blue', 'red', 'green', 'yellow']
                      }],
                      labels: [
                        'Early Investors',
                        'Product Development',
                        'Shareholders',
                        'CoinFi Foundation'
                      ]
                    },
                    options: {
                      cutoutPercentage: 50,
                      legend: {
                        labels: {
                          fontColor: '#eee',
                          defaultFontFamily: 'Open Sans'
                        }
                      }
                    }
                  });
                });
              </script>
            </div>

            <div class="col-12 col-md-6">
              <h2>Token Distribution</h2>
              <p>The distribution of CoinFi tokens will be as follows:</p>
              <ul>
                <li><strong>5%</strong> is raised in a presale to early investors.</li>
                <li><strong>45%</strong> token sale with the funds raised allocated to the company for the development of the product.</li>
                <li><strong>30%</strong> retained by company shareholders.</li>
                <li><strong>20%</strong> retained by the CoinFi Foundation to incentivize partners and early adopters of the product.</li>
              </ul>
              <p>The company allocation will be locked in a smart contract and will be accessible proportionally every 3 months after the closing date of the token sale.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <h2>Use Of Funds</h2>
              <p>The following is a projected use of the funds raised:</p>
              <ul>
                <li><strong>40%</strong> for the development of the platform.</li>
                <li><strong>20%</strong> for general staffing.</li>
                <li><strong>20%</strong> for sales and marketing costs.</li>
                <li><strong>10%</strong> for legal and compliance costs.</li>
                <li><strong>10%</strong> for operational expenses.</li>
              </ul>
              <h4>Social Currency</h4>
              <p>Each token generates the social currency Fi, which is non-tradeable but can be spent on voting (voting on accurate pieces early can give you more CFI), unlocking premium features, etc.</p>
              <p>For more details, check out the <a href="/coinfi-whitepaper.pdf">white paper</a>.</p>
            </div>
            <div class="col-12 col-md-6">
              <br>
              <br>
              <br>
              <br>
              <canvas id="useOfFunds"></canvas>
              <script>
                $(function() {
                  var ctx = document.getElementById("useOfFunds");
                  var useOfFunds = new Chart(ctx, {
                    type: 'pie',
                    data: {
                      datasets: [{
                        data: [40, 20, 20, 10, 10],
                        backgroundColor: ['blue', 'red', 'green', 'yellow']
                      }],
                      labels: [
                        'Platform Development',
                        'General Staffing',
                        'Sales and Marketing',
                        'Legal and Compliance',
                        'Operational'
                      ]
                    },
                    options: {
                      cutoutPercentage: 50,
                      legend: {
                        labels: {
                          fontColor: '#eee',
                          defaultFontFamily: 'Open Sans'
                        }
                      }
                    }
                  });
                });
              </script>
            </div>

            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Roadmap
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <!--
      <a id="roadmap" name="roadmap"></a>
      <section class="section overflow-hidden">
        <header class="section-header">
            <h2>Planned Roadmap</h2>
            <hr>
          </header>
      </section>
      -->

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Team
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <a id="team" name="team"></a>
      <section class="section overflow-hidden">
        <div class="container">
          <header class="section-header">
            <h2>The Team</h2>
            <hr>
            <small>Founders</small>
          </header>

          <div class="row gap-y">
            <div class="col-12 col-md-4 team-2">
              <img src="/landing/img/team/hanchang.jpg" width="256" alt="Han Chang">
              <h5>Han Chang</h5>
              <small>Co-Founder</small>
              <p>Master's in Computer Science from Boston University. Founded a Chinese Bitcoin exchange, worked at MIT Lincoln Labs, OkCupidLabs, and Lime Brokerage. 8+ years of professional experience developing web applications serving millions of users as well as writing black box algorithmic trading algorithms in equities markets.</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-twitter" href="https://twitter.com/hanchang"><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href="https://www.linkedin.com/in/hanchang0/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


            <div class="col-12 col-md-4 team-2">
              <img src="/landing/img/team/timothytam.jpg" width="256" alt="Timothy Tam">
              <h5>Timothy Tam</h5>
              <small>Co-Founder</small>
              <p>15+ years in equities trading and hedge funds. Started his career in Goldman Sachs Asia, before working as a senior trader in two Asia hedge funds each with over $1 billion of assets under management. In his last role he was cofounder of an Asia Long Short Hedge Fund that specialized in event trading.</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-twitter" href="https://twitter.com/aussiebiscuit"><i class="fa fa-twitter"></i></a>
              </div>
            </div>


            <div class="col-12 col-md-4 team-2">
              <img src="/landing/img/team/natetsang.jpg" width="256" alt="Nate Tsang">
              <h5>Nate Tsang</h5>
              <small>Co-Founder</small>
              <p></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>

          <!--
          <header class="section-header">
            <hr>
            <small>Advisors</small>
          </header>
          <div class="row gap-y">
            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Alexander Svanevik</h5>
              <small>Advisor</small>
              <p></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href="https://www.linkedin.com/in/alexander-svanevik-152198a/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Tommy Griffith</h5>
              <small>Advisor</small>
              <p></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Julian Shapiro</h5>
              <small>Advisor</small>
              <p></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Sandy Wu</h5>
              <small>Advisor</small>
              <p>General Counsel at Mercer</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Justin Mares</h5>
              <small>Advisor</small>
              <p>Coauthor of <em>Traction</em></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-4 team-2">
              <img src="" alt="">
              <h5>Taylor Pearson</h5>
              <small>Advisor</small>
              <p>Author of <em>End of Jobs</em></p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
                <a class="social-linkedin" href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          -->
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | FAQ
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <!--
      <a id="faq" name="faq"></a>
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <h2>Frequently Asked Questions</h2>
          </header>

          <div class="row gap-y">
            <div class="col-12">
              <div class="accordion" id="accordion-general">
                <div class="card">
                  <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-1">Who can participate in the ICO?</a>
                  </h5>

                  <div id="collapse-general-1" class="collapse in">
                    <div class="card-block">
                      Right now we are open to everyone except residents of the United States, China, and Singapore due to regulatory uncertainty.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-2">
                      What is the KYC (Know Your Customer) process?
                    </a>
                  </h5>

                  <div id="collapse-general-2" class="collapse in">
                    <div class="card-block">
                      Due to regulatory requirements, we will ask for government ID to
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      -->

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Contact
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <a id="contact" name="contact"></a>
      <section class="section section-inverse" style="background-image: url(assets/img/bg-gift.jpg)" data-overlay="9">
        <div class="container text-center">

          <h3>Contact CoinFi</h3>
          <br>
          <a class="btn btn-lg btn-dark btn-round" href="https://slack.coinfi.com" target="_blank" style="background: #3F46AD">
            <i class="fa fa-slack"></i> Slack
          </a>
          &nbsp;
          <a class="btn btn-lg btn-info btn-round" href="https://t.me/joinchat/GWQGFQ1P26HoqLxYpOlchw" target="_blank">
            <i class="fa fa-telegram"></i> Telegram
          </a>
          &nbsp;
          <a class="btn btn-lg btn-warning btn-round" href="#" target="_blank">
            <i class="fa fa-bitcoin"></i> BitcoinTalk
          </a>

          <hr>

          <p class="lead">Subscribe to our ICO launch VIP list to receive the latest news from CoinFi.</p>

          <form class="form-inline form-glass justify-content-center" action="" method="post" target="_blank">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" name="EMAIL" class="form-control" placeholder="Email Address">
              </div>
            </div>

            <button class="btn btn-lg btn-success ml-12">Subscribe</button>
          </form>
        </div>
      </section>
    </main>
    <!-- END Main container -->

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-6">
            <p class="text-center text-md-left">Copyright © <%= Date.today.year %> <a class="text-dark" href="/">CoinFi</a> - All rights reserved.</p>
          </div>

          <div class="col-12 col-md-6">
            <ul class="nav nav-inline nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
              <li class="nav-item">
                <a class="nav-link" href="#">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->

    <!-- Scripts -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  -->
    <script src="/landing/js/thesaas.min.js"></script>
    <script src="/landing/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    -->
  </body>
</html>
