<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/nasa-53884.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Consistently Identify The Best Priced Exchange</h1>
        <h1 class="hidden-md-up">Consistently Identify The Best Priced Exchange</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>CoinFi's internal models can make data driven recommendations to trades on the best exchanges to trade on saving up to 183% a year.</p>

          <p>As an example, Bitcoin currently trades on over 400 exchanges. The daily average price difference between exchanges can be as high as 10%. That means simply picking the right exchange to trade on can add 10% to your investment immediately.</p>

          <p>The details are more complicated as some exchanges aren’t open to certain investors, some exchanges require Chinese Yuan trade etc. Taking into account price volatility, volume and trade execution slippage in addition to which exchanges a trader has access to, CoinFi can predict and guide the trader on where and how to execute the order to get the cheapest price.</p>

          <p>Furthermore given CoinFi’s internal model knows which exchanges historically give better pricing, Coinfi can make high confidence recommendations on which exchanges the trader should open an account with in order to save money.</p>

          <p>Internal modelling shows that CoinFI on average can save traders 0.5% per trade. If a trader places 1 trade a day, that is an extra ROI of 183% a year.</p>

          <p>CoinFi’s technology can be scaled across multiple exchanges and coins.</p>
        </div>
      </div>
    </div>
  </div>
</main>
