<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/sho-hatakeyama-117292.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Case Study</p>
        <br>
        <h1 class="display-4 hidden-sm-down">Detect Whale Price Manipulation</h1>
        <h1 class="hidden-md-up">Detect Whale Price Manipulation</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>Due to the increasing number of exchanges and some coins trading thin volume, all crypto traders know that there are whales (i.e. traders who control a large quantity of coins) who can manipulate pricing for short periods of time especially in the altcoin space. They generate some news or hype surrounding a coin, buy it aggressively with intention to spike the price up aggressively (pump) and as the news spreads and people jump to do short term trades, they sell into these new buyers (dump).</p>

          <p>This market manipulation is easily detectable using the same quantitative models that many high frequency hedge funds use in the equities markets.</p>

          <p>A sudden statistically significant increase in the bid size volume indicates that a whale is about to pump up the coin. CoinFi’s sophisticated algorithms are able to detect and alert traders to this abnormal activity.</p>

          <p>The screenshot shows a common example of whale market manipulating. An example of a whale entering a position and driving up the coin price would have a portion of the following factors.</p>

          <h5>Input 1: An increase in the bid size layered throughout the bid size of the book versus the average bid size.</h5>

          <div class="row">
            <div class="col-6">
              <img src="/landing/img/whale-not-found.png">
              <small>This is what the normal bid side of an order book would look like; the historical bid size is ~70 and historical ask size is ~70.</small>
            </div>
            <div class="col-6">
              <img src="/landing/img/whale-detected.png">
              <small>If there is whale manipulation looking to buy, the order book may change to something like this.</small>
            </div>
          </div>

          <hr>

          <h5>Input 2: An increase in volatility corresponding with a price movement up within a low momentum period.</h5>

          <p>If the stock has been trading sideways in a recent period (low momentum) and there is a sudden increase in the volatility beyond a normal range (i.e. using a normal distribution and a factor 2 standard deviations) and a price spike upwards, this is a strong sign.</p>

          <p>The chart below demonstrates this:</p>
          <div class="text-center">
            <img src="/landing/img/price-movement.png" alt="...">
          </div>

          <hr>

          <h5>Input 3: An acceleration of volume going through on the offer versus average.</h5>

          <p>In a normalized market you would see 50% of the volume traded through the bid and 50% of the volume traded through the offer.  Our proprietary in house model snaps this ratio on a historical average on a running basis.  In a whale situation you would expect to see a ratio tilt towards acceleration of volume on the offer that is higher than the normal.</p>

          <p>For example, in an uptrending market you may see 60% of the volume go through on the offer and 40% on the bid on average in the last 5 minutes. The average ratio is 60/40. </p>

          <p>However, if you got 98% of the volume going through on the offer (a ratio of 98/2) in a short space of time, it would trigger an alert in our model.</p>

          <p>In isolation, each of the above inputs may be just general market noise. But combined together, they form a strong signal of abnormal market behavior.</p>
        </div>
      </div>
    </div>
  </div>
</main>
