- feed_sources = FeedSource.where(feed_type: 'general').pluck(:name) + (FeedSource.feed_types - ['general'])
= react_component "NewsfeedPage", withStore: true, props: { feedSources: feed_sources, categories: NewsCategory.pluck(:name) }