- feed_sources = (FeedSource.feed_types - ['general']) + FeedSource.where(feed_type: 'general').site_hosts
= react_component "NewsfeedPage", withStore: true, props: { feedSources: feed_sources, categories: NewsCategory.pluck(:name) }