<header class="header header-inverse h-fullscreen pb-80" style="background-image: url(landing/img/nasa-53884.jpg);" data-overlay="8">
  <div class="container text-center">
    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">
        <p class="opacity-70">Real-time News, Data, and Analysis to Anchor the ‘Bloomberg of Cryptocurrencies’</p>
        <br>
        <h1 class="display-4 hidden-sm-down">CoinFi Announces ICO For Crypto Market Intelligence Platform</h1>
        <h1 class="hidden-md-up">CoinFi Announces ICO For Crypto Market Intelligence Platform</h1>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
      </div>
    </div>
  </div>
</header>
<main class="main-content">
  <div class="section" id="section-content">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          p Nov 28, 2017
          <p><strong>HONG KONG/NEW YORK</strong> - CoinFi, the cryptocurrency market intelligence platform, today announced an initial coin offering (ICO) with a hard cap of $15 million to further expand its technology and hedge fund-caliber trading tools for real-time news, data, and analysis on the crypto markets. A portion of funds raised will also be used to compensate and leverage the power of the crowd, which will help curate and produce content in a unique token-for-information ecosystem.

          p The rapidly growing world of cryptocurrency markets, businesses, and derivatives has created a difficult-to-navigate universe of data that makes it tedious and time consuming for crypto investors to find the information they need to make intelligent decisions in a timely manner. CoinFi decentralizes this information and provides in-depth analysis with Wall Street-like precision. Sophisticated algorithmic trading signals, real-time analysis of news through machine learning, and "best execution" trading algorithms power CoinFi’s platform.

          p “Compared to the kind of tools and on-demand financial analysis to which equities traders have access, the cryptocurrency market is drastically underserved,” says CoinFi co-founder and former Goldman Sachs equities trader Timothy Tam. “We’re building a platform so crypto traders can make better, well-rounded, informed decisions. Wall Street doesn’t guess blindly, and neither should the crypto community.”

          p CoinFi already employs a team of several junior equities analysts to help perform altcoin research and compile data. Additionally, the company will compensate crowdsourced content with CoinFi tokens. Access to the platform’s advanced features and premium content will require staking tokens to reward token owners and reduce volatility.

          p “At present, there is no equivalent of the Bloomberg terminal for crypto investors,” says Han Chang, CoinFi co-founder. “The crypto community is hungry for this type of knowledge, and rightly so. While crypto is outperforming almost every other traditional investment at the moment, it’s still widely misunderstood and can be unpredictable without the right background and knowledge.”

          p CoinFi is currently accepting whitelist registration for its ICO token pre-sale, which will launch on Dec 4, 2017. The public crowdsale will commence Jan 15, 2017. For more information visit <a href="https://sale.coinfi.com">coinfi.com</a>.

        </div>
      </div>
    </div>
  </div>
</main>
