<div class="reservation-page__inner">
  <div class="container-narrow">

    <div class="reservation-section">
      <div class="reservation-header">
        <h1 class="reservation-header__title">
          Unstake Your COFI Tokens
        </h1>
        <p class="reservation-header__lead">
          You can use the form below to withdraw your tokens after they’ve been staked for 3 months
        </p>
      </div>

      <div class="reservation-card" style="padding: 0 !important;">
        <iframe src="https://coinfi.typeform.com/to/HgYL2b" id="type-form" style="border: none; min-height: 50vh; width: 100%;"></iframe>
      </div>
    </div>
  </div>
</div>