#global-coin-search {
  position: relative;
  min-width: 200px;
  .search-input {
    color: $elephant;
    input[type='text'] {
      border: none;
      box-shadow: 3px 3px 0 $tiber, -3px 3px 0 $tiber, 3px -3px 0 $tiber,
        -3px -3px $tiber;
      max-width: none;
      padding: $sp3 $sp3 $sp3 3.5rem;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: $white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    @extend .shadow-s1;
    border: 1px solid $light-gray;
    border-radius: 2px;
    min-width: 300px;
    li {
      display: block;
      a {
        color: $elephant;
        display: block;
        padding: $sp2;
        &:hover {
          background: $elephant;
          color: white;
        }
      }
      &:not(:last-child) {
        a {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
  }
}
@media #{$screen-max-m} {
  #global-coin-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-70;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s;
    .search-input {
      margin: $sp3 $sp3 0 $sp3;
      transform: translateX(30px);
      transition: all 0.3s;
      input[type='text'] {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
      }
    }
    &:not(.active) {
      display: none;
    }
    &.visible {
      opacity: 1;
      .search-input {
        transform: translateX(0);
      }
    }
    ul {
      left: $sp3;
      right: $sp3;
    }
  }
}
