#global-coin-search {
  @extend .search-field;
  .search-input {
    color: $elephant;
    border: solid 1px $light-gray;
    border-radius: 2px;
    input[type='text'] {
      max-width: none;
      padding: $sp3 $sp3 $sp3 3.5rem;
    }
  }
}
@media #{$screen-max-m} {
  #global-coin-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-70;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s;
    .search-input {
      margin: $sp3 $sp3 0 $sp3;
      transform: translateX(30px);
      transition: all 0.3s;
      input[type='text'] {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
      }
    }
    &:not(.active) {
      display: none;
    }
    &.visible {
      opacity: 1;
      .search-input {
        transform: translateX(0);
      }
    }
    ul {
      left: $sp3;
      right: $sp3;
    }
  }
}
