#coin-charts {
  .highcharts-button:last-child {
    opacity: 1
  }

  .highcharts-btn {
    opacity: 0;
  }
}

@media #{$screen-min-ns} {
  #coin-charts {
    .highcharts-button:last-child {
      opacity: 0.000001;
    }

    .highcharts-btn {
      opacity: 1;
    }
  }
}
