#mobile-nav {
  overflow: hidden;
  background: $white-90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $sp3;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  transition: all 0.5s;
  opacity: 0;
  overflow-y: scroll;
  > div {
    @media only screen and (min-width: 500px) {
      padding-top: 300px;
    }
  }
  > * {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        a,
        button {
          line-height: 1;
          display: block;
          width: 100%;
          text-align: center;
          padding: $sp3;
          color: $mid-gray;
          background: transparent;
          border: none;
          font-size: inherit;
          box-sizing: border-box;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  &:not(.active) {
    display: none;
  }
  &.visible {
    opacity: 1;
    > * {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
.header-logo {
  width: 65px;
}
.main-logo {
  width: 74px;
}
.mobile-nav-toggle {
  float: left;
  margin-top: 8px;
  img {
    height: 12px;
    margin-top: 9px;
    position: absolute;
    margin-left: 6px;
  }
}

#mobile-nav {
  .mobile-nav-toggle {
    margin: 0;
    margin-top: 16px;
    position: static;
    float: none;
  }
}

.topnav {
  width: 102%;
}

.nav-topbar {
  height: 32px;
}

#news-page .filter-btn,
.coins-btn {
  margin-left: 90px;
}

.filter-btn,
.coins-btn {
  width: 180px;
  text-transform: none;
}

.btn.filter-btn,
.btn.coins-btn {
  font-size: 14px;
  font-weight: 600;
}

.filter-panel-header {
  height: 60px;
}

.item-selector-alt label {
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: $screen-m) {
  .mobile-nav-toggle {
    display: none;
  }
  .nav-topbar {
    display: block;
    > a {
      float: left;
      margin-left: 10px;
      margin-top: 6px;
      width: 80px;
    }
    > div {
      float: right;
      margin-right: 50px;
      margin-top: 3px;
    }
  }

  .filter-btn,
  .coins-btn {
    margin-left: 0;
  }
  .listing-header-coins-tips-tabs {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .coins-btn {
    display: none;
  }
}
