#mobile-nav {
  overflow: hidden;
  background: $white-90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $sp3;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  transition: all 0.5s;
  opacity: 0;
  > * {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        a,
        button {
          line-height: 1;
          display: block;
          width: 100%;
          text-align: center;
          padding: $sp3;
          color: $mid-gray;
          background: transparent;
          border: none;
          font-size: inherit;
          box-sizing: border-box;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  &:not(.active) {
    display: none;
  }
  &.visible {
    opacity: 1;
    > * {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
.header-logo {
  width: 65px;
}
.main-logo {
  width: 74px;
}
.mobile-nav-toggle {
  position: absolute;
  img {
    height: 12px;
    margin-top: 9px;
    position: absolute;
    margin-left: 6px;
  }
}

#mobile-nav {
  .mobile-nav-toggle {
    margin:0;
    margin-top:16px;
    position:static;
  }
}

.topnav {
  width: 102%;
}


.nav-topbar{
  height:32px;
}

.filter-btn, .coins-btn {
  margin-left: 90px;
  width: 160px;
  text-transform: none;
  font-size: 14px;
}

@media only screen and (min-width:768px) {
  .mobile-nav-toggle {
    display:none;
  }
  .nav-topbar {
    display:block;
    > a {
      float:left;
      margin-left:10px;
      margin-top:6px;
      width:80px;
    }
    > div {
      float:right;
      margin-right:20px;
      margin-top:3px;
    }
  }

  .filter-btn, .coins-btn {
    margin-left:0;
  }
}


@media only screen and (min-width:1024px) {
  .coins-btn: {
    display:none;
  }
}
