.box {
  background: $white;
  display: block;
  padding: $sp4;
  border: 1px solid $light-gray;
}
@media #{$breakpoint-s} {
  .box {
    &.cosy {
      padding: $sp4;
    }
  }
}
@media #{$breakpoint-m} {
  .box {
    &.cosy {
      padding: $sp5;
    }
    @include shadow-s1();
  }
}
