.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrow {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-narrower {
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}
.container-wide {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
