.container-wide {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container-narrow {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.container-narrower {
  width: 100%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}
