.corner-ribbon-container{
  position: relative;
  padding-right: $sp4;

  .corner-ribbon{
		position: absolute;
		right: -5px; top: -5px;
		z-index: 1;
		overflow: hidden;
		width: 75px; height: 75px;
		text-align: right;
    span {
      font-size: 10px;
      font-weight: bold;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px; right: -21px;
    }
    span::before {
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }
    span::after {
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }


    $ribbon-green: #79A70A;
    $ribbon-green-gradient: #9BC90D;

    $ribbon-blue: #1e5799;
    $ribbon-blue-gradient: #2989d8;

    &-green {
      span{
        background: $ribbon-green;
        background: linear-gradient($ribbon-green-gradient 0%, $ribbon-green 100%);
      }
      span::before {
        border-left: 3px solid $ribbon-green;
        border-top: 3px solid $ribbon-green;
      }
      span::after {
        border-right: 3px solid $ribbon-green;
        border-top: 3px solid $ribbon-green;
      }
    }

    &-blue {
      span{
        background: $ribbon-blue;
        background: linear-gradient($ribbon-blue-gradient 0%, $ribbon-blue 100%);
      }
      span::before {
        border-left: 3px solid $ribbon-blue;
        border-top: 3px solid $ribbon-blue;
      }
      span::after {
        border-right: 3px solid $ribbon-blue;
        border-top: 3px solid $ribbon-blue;
      }
    }
  }
}
