.flash {
  @extend .container;
  padding: $sp3;
  padding-right: calc(#{$sp3} + #{$sp3});
  border: 1px solid $aqua;
  color: $aqua;
  background-color: $white;
  font-size: 0.9em;
  @extend .lh-copy;
  @extend .container;
  flex: none;
  a {
    color: inherit;
    text-decoration: underline;
  }
  position: relative;
}
.flash-alert {
  border-color: $orange;
  color: $orange;
}
.flash > span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  padding: $sp3;
}

.flash > span:last-child > a {
  text-decoration: none;
  font-weight: bold;
}