.flash {
  @extend .container;
  padding: $sp3;
  border: 1px solid $aqua;
  color: $aqua;
  background-color: $white;
  font-size: 0.9em;
  @extend .lh-copy;
  @extend .container;
  flex: none;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.flash-alert {
  border-color: $orange;
  color: $orange;
}
