.field {
  padding-top: $sp1;
  padding-bottom: $sp3;
  label {
    display: block;
    margin-bottom: $sp2;
    font-size: 0.9em;
  }
  &.alt {
    padding-top: 0;
    padding-bottom: $sp3;
    @extend .row;
    @extend .items-center;
    label {
      @extend .col-xs-12;
      @extend .col-md-3;
      text-align: right;
      margin-top: $sp2;
    }
    > div {
      @extend .col-xs-12;
      @extend .col-md-9;
    }
    input,
    textarea {
      font-size: 0.9em;
    }
  }
}
.input {
  width: 100%;
  max-width: 40em;
  display: inline-block;
  padding: ($sp2 * 1.5) $sp3;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border: 1px solid $moon-gray;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: $black-70;
  font-family: $sans-alt;
  box-sizing: border-box;
  &:focus {
    @include highlight-box();
  }
  &.style2 {
    border: none;
    background: $athens;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  &.small {
    padding: $sp2;
    font-size: 0.9rem;
  }
}
.icon-input {
  position: relative;
  input {
    padding-left: 3rem;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: $sp3;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 2;
    &:last-child {
      left: initial;
      right: $sp3;
    }
  }
}
input,
select,
textarea {
  &:not([type='submit']) {
    @extend .input;
  }
}
::-webkit-input-placeholder {
  color: $silver;
}
::-moz-placeholder {
  color: $silver;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $silver;
}
:-moz-placeholder {
  color: $silver;
  opacity: 1;
}
