$nav-height: 50px;
$nav-menu-width: 300px;

.topnav {
  background: $dark-pine-green;
}

.nav {
  position: relative;
  z-index: 10;
  height: $nav-height;

  &__inner {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
}
.nav-logo {
  height: 100%;

  &__img {
    height: 100%;
  }
}
.nav-menu {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background: $tiber;
  position: fixed;
  height: calc(100% - #{$nav-height});
  width: $nav-menu-width;
  top: $nav-height;
  left: 0;

  &__item {
    font-size: 14px;
    font-weight: 600;
    color: $white-80;

    @extend .hover-white;
    &.active {
      background: $sky-blue;
      color: $white;
    }
  }

  &__nested {
    flex-direction: column;
    display: flex;
  }

  &--in {
    left: 0;
  }

  &--out {
    left: -1 * $nav-menu-width;
  }
}
.nav-actions {
  display: none;
}

@media only screen and (min-width: $screen-ns) {
  .nav__inner {
    justify-content: flex-start;
  }
  .nav-logo {
  }
  .nav-menu {
    padding-top: initial;
    background: none;
    z-index: initial;
    height: initial;
    flex-direction: row;
    position: static;
    top: initial;
    left: initial;
  }
  .nav-menu__nested {
    flex-direction: row;
  }
  .nav-menu__item {
    height: 100%;
    display: flex;
    align-self: center;

    &.active {
      color: $aqua;
    }
  }
  .nav-menu__actions {
    display: none;
  }
  .nav-menu-toggle {
    display: none;
  }
  .nav-actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
