.topnav {
  background: $dark-pine-green;
}
.nav-x {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 8px;
      > * {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  &.small {
    li {
      > * {
        @extend .btn-sm;
        padding: $sp2;
      }
    }
  }
  &.cozy {
    ul {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      li {
        a {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }
  &.dark {
    ul {
      li {
        > * {
          background: transparent;
          color: $white-80;
          @extend .hover-white;
          &.active {
            color: $aqua;
          }
        }
      }
    }
  }
}
@media (max-width: $screen-ns) {
  .nav-x {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 1 1 auto;
        > * {
          padding-left: $sp2;
          padding-right: $sp3;
        }
      }
    }
  }
}
