$nav-height: 50px;
$nav-menu-width: 300px;
$nav-menu-more-width: 150px;
.nav {
  background: $dark-pine-green;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: $nav-height;
  &__inner {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
}

.nav-logo {
  &__img {
    height: 100%;
  }
}

.nav-menu {
  overflow-y: scroll;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background: $tiber;
  position: fixed;
  height: calc(100% - #{$nav-height});
  width: $nav-menu-width;
  top: $nav-height;
  left: 0;
  padding-top: 0.5rem;
  &__item {
    font-size: 14px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    color: white;
  }
  &--in {
    left: 0;
  }
  &--out {
    left: -1 * $nav-menu-width;
  }
}

.nav-actions {
  display: none;
}

.nav-menu-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  &__btn {
    @extend .btn, .btn-sm;
    display: block;
    width: 100%;
    text-align: center;
  }
  &--primary {
    background: $aqua;
    color: white;
  }
  &--secondary {
    background: none;
    color: $aqua;
  }
}
.nav-menu-actions-account {
  margin-bottom: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}
.nav-menu-company,
.nav-menu-coins {
  display: none;
  background: $dark-pine-green;
  &--active {
    display: block;
  }
}
.nav-menu-company__inner,
.nav-menu-coins__inner {
  flex-direction: column;
  display: flex;
  .nav-menu__item {
    padding-left: 2.75rem;
  }
}
.nav-menu-company-toggle,
.nav-menu-coins-toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  i {
    margin-left: 0.5rem;
  }
}

main {
  margin-top: $nav-height;
}

// Not Small Screens
@media #{$screen-min-ns} {
  main {
    margin: 0;
  }
  .nav {
    position: relative;
  }
  .nav__inner {
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-menu {
    overflow-y: initial;
    padding-top: initial;
    background: none;
    z-index: initial;
    height: initial;
    flex-direction: row;
    position: static;
    top: initial;
    left: initial;
    width: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      color: white;
      background: none;
      cursor: pointer;
      flex: 0 0 auto;
    }
  }
  .nav-menu-actions {
    display: none;
  }
  .nav-menu-toggle {
    display: none;
  }
  .nav-menu-item-company,
  .nav-menu-item-coins {
    position: relative;
    display: inline-block;
  }
  .nav-menu-company,
  .nav-menu-coins {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    width: 100%;
    margin-left: -0.5rem;
    z-index: 1;
  }
  .nav-menu-company__inner,
  .nav-menu-coins__inner {
    .nav-menu__item {
      padding-left: 0.5rem;
    }
  }
  .nav-menu-coins {
    min-width: 80px;
  }
  .nav-actions {
    height: 100%;
    display: flex;
    align-items: center;
    > div:first-child {
      margin-left: 10px;
    }
  }
}
