$nav-height: 50px;
$nav-menu-width: 300px;
$nav-menu-more-width: 150px;
.nav {
  background: $dark-pine-green;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: $nav-height;
  &__inner {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
}

.nav-logo {
  &__img {
    height: 100%;
  }
}

.nav-menu {
  overflow-y: scroll;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background: $tiber;
  position: fixed;
  height: calc(100% - #{$nav-height});
  width: $nav-menu-width;
  top: $nav-height;
  left: 0;
  &__item {
    font-size: 14px;
    font-weight: 600;
    color: $white-80;
    padding: 0.75rem;
    @extend .hover-white;
    &.active {
      background: $sky-blue;
      color: $white;
    }
  }
  &--in {
    left: 0;
  }
  &--out {
    left: -1 * $nav-menu-width;
  }
}

.nav-actions {
  display: none;
}

.nav-menu-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  &__btn {
    @extend .btn, .btn.btn-sm;
    display: block;
    width: 100%;
    text-align: center;
  }
  &--primary {
    background: $aqua;
    color: white;
  }
  &--secondary {
    background: none;
    color: $aqua;
  }
}
.nav-menu-actions-account {
  margin-bottom: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}

.nav-menu-more-toggle {
  display: hidden;
}

.nav-menu-more__inner {
  flex-direction: column;
  display: flex;
}

main {
  margin-top: $nav-height;
}

// Not Small Screens
@media #{$screen-min-ns} {
  main {
    margin: 0;
  }
  .nav {
    position: relative;
  }
  .nav__inner {
    justify-content: flex-start;
  }
  .nav-menu {
    overflow-y: initial;
    padding-top: initial;
    background: none;
    z-index: initial;
    height: initial;
    flex-direction: row;
    position: static;
    top: initial;
    left: initial;
  }
  .nav-menu__item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    &.active {
      background: none;
      color: $aqua;
    }
  }
  .nav-menu-more-toggle {
    display: none;
  }
  .nav-menu-actions {
    display: none;
  }
  .nav-menu-toggle {
    display: none;
  }
  .nav-actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-menu-more__inner {
    flex-direction: row;
  }
}

// Medium Screens
@media screen and (min-width: #{$screen-ns}) and (max-width: #{$screen-m - 1px}) {
  .nav-menu-more-toggle {
    height: 100%;
    display: flex;
    align-self: center;
  }
  .nav-menu-more {
    position: relative;
    display: none;
    &--active {
      display: block;
    }
  }
  .nav-menu-more__inner {
    position: absolute;
    z-index: 1;
    left: -20px;
    top: 50px;
    width: $nav-menu-more-width;
    background: $dark-pine-green;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  .nav-menu__item {
    padding: 0.75rem;
  }
}
