.notice,
.alert {
  @extend .container;
  padding: $sp3;
  border: 1px solid $dodger;
  color: $dodger;
  background-color: $white;
  font-size: 0.9em;
  @extend .lh-copy;
  @extend .container;
  margin-top: $sp4;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.alert-warning {
  border-color: $orange;
  color: $orange;
}
