.notice,
.alert {
  padding: $sp3;
  color: $black-70;
  background-color: $near-white;
  font-size: 0.9em;
  @extend .lh-copy;
  margin-bottom: $sp4;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.alert-warning {
  background-color: $light-yellow;
}
.alert-info {
  background-color: $light-blue;
}
