.oi-btn,
.oi-pane {
  padding: $sp2 $sp3;
  @include box-style-1();
}
.oi-btn {
  > label {
    display: block;
    color: $tiber;
    font-size: 0.8rem;
  }
  > div {
    color: $aqua;
  }
  > i.fas {
    font-size: 1.2rem;
    padding-top: $sp2;
    padding-bottom: $sp2;
    color: $geyser;
  }
}
