.oi-btn,
.oi-pane,
.oi-icon {
  @include box-style-1();
  font-family: $body-font;
  header {
    color: $elephant;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: $sp3 $sp3 $sp2 $sp3;
    line-height: 1;
  }
  .oi-value {
    color: $aqua;
    padding: 0 $sp3 $sp3 $sp3;
    line-height: 1;
    white-space: nowrap;
  }
}
.oi-btn,
.oi-icon {
  min-width: 70px;
  min-height: 70px;
}
.oi-icon {
  text-align: center;
  font-size: 1.4rem;
  color: $geyser;
  padding: 0;
}
.oi-btn {
  text-align: left;
  padding: 0;
}
.oi-pane {
  z-index: 2;
  .oi-pane-content {
    min-width: 200px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        a,
        button {
          display: flex;
          justify-content: space-between;
          padding: $sp2 $sp3;
          width: 100%;
          border: none;
          background: transparent;
          color: inherit;
          text-align: left;
          white-space: nowrap;
          font-size: 0.8rem;
          .icon {
            opacity: 0;
          }
          &:hover {
            .icon {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
@media #{$screen-max-m} {
  .oi {
    .oi-pane {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black-70;
      .oi-pane-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }
  }
}
@media #{$screen-min-m} {
  .oi {
    position: relative;
    .oi-pane {
      position: absolute;
      top: 0;
      left: 0;
      border-color: $aqua;
      @include shadow-s2-blue();
    }
  }
}
