.pagination {
  list-style: none;
  padding: $sp4 0;
  margin: 0;
  li {
    margin: 0 $sp1;
    display: inline-block;
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-white;
    }
    &.active {
      a {
        @extend .btn-blue;
      }
    }
  }
}
