.switch {
  transition: all 0.5s;
  display: inline-block;
  background: $black-30;
  border: none;
  border-radius: 999px;
  position: relative;
  height: 18px;
  width: 34px;
  &:after {
    transition: all 0.5s;
    content: ' ';
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 999px;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
  }
  &.on {
    background: $aqua;
    &:after {
      transform: translate(0%, -50%);
    }
  }
}
