table {
  width: 100%;
  @extend .collapse;
  font-size: 0.9em;
  thead {
    tr {
      th,
      td {
        text-align: inherit;
        padding: $sp2;
      }
    }
  }
  tbody {
    tr {
      @extend .striped--near-white;
      td {
        padding: $sp2;
        border-top: 1px solid $light-gray;
      }
    }
  }
  &.stats {
    tbody {
      tr {
        background-color: transparent;
        td {
          border: none;
          padding: 0;
          &:first-child {
            font-size: 0.8rem;
          }
          &:nth-child(2) {
            text-align: right;
            font-weight: bold;
            font-size: 1.1rem;
          }
        }
        &:not(:last-child) {
          td {
            padding-bottom: $sp3;
          }
        }
      }
    }
  }
  &.responsive-table {
    tbody {
      tr {
        td {
          label {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: $screen-m) {
  table.responsive-table {
    display: block;
    width: 100%;
    thead {
      display: none;
    }
    tbody {
      display: block;
      width: 100%;
      tr {
        display: block;
        width: 100%;
        border-bottom: 1px solid $moon-gray;
        padding: $sp3 0;
        td {
          &:first-child {
            border-top: 0;
          }
          display: flex;
          width: 100%;
          > label {
            display: block !important;
          }
          > * {
            width: 50%;
            flex: 1 1 auto;
            text-align: center;
            &:first-child {
              text-align: right;
              margin-right: $sp3;
            }
            &:nth-child(2) {
              text-align: left;
              font-weight: 600;
            }
            &:only-child {
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
