table {
  width: 100%;
  @extend .collapse;
  font-size: 0.9em;
  thead {
    tr {
      th,
      td {
        text-align: inherit;
        padding: $sp2;
      }
    }
  }
  tbody {
    tr {
      @extend .striped--near-white;
      td {
        padding: $sp2;
        border-top: 1px solid $light-gray;
      }
    }
  }
  &.stats {
    tbody {
      tr {
        background-color: transparent;
        td {
          border: none;
          padding: 0;
          &:first-child {
            font-size: 0.8rem;
          }
          &:nth-child(2) {
            text-align: right;
            font-weight: bold;
            font-size: 1.1rem;
          }
        }
        &:not(:last-child) {
          td {
            padding-bottom: $sp3;
          }
        }
      }
    }
  }
}
