table {
  width: 100%;
  @extend .collapse;
  font-size: 0.9em;
  thead {
    tr {
      th,
      td {
        text-align: inherit;
        padding: $sp2;
      }
    }
  }
  tbody {
    tr {
      @extend .striped--near-white;
      td {
        padding: $sp2;
        border-top: 1px solid $light-gray;
      }
    }
  }
  &.stats {
    font-size: 0.8em;
    tbody {
      tr {
        background-color: transparent;
        td {
          &:nth-child(2) {
            text-align: right;
            font-weight: bold;
          }
        }
      }
    }
  }
}
