.tag,
.tag-alt,
.coin-filter-tag {
  display: inline-block;
  // padding: $sp1;
  color: $aqua;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: $sans-alt;
  border-radius: 2px;
  font-weight: 600;
  &:not(:last-of-type) {
    margin-right: $sp2;
  }
}
.tag-alt {
  color: $gray;
  border: 1px solid $moon-gray;
  background-color: $near-white;
  font-weight: normal;
  padding: $sp2;
}
.coin-filter-tag {
  color: $gray;
  border: 1px solid $moon-gray;
  border-radius: 2px;
  background-color: $white;
  line-height: 1.33;
  font-size: $f6;
  font-weight: normal;
  text-transform: none;
}
.icon {
  vertical-align: middle;
}
