.tag,
.tag-alt,
.tag-alt2 {
  display: inline-block;
  // padding: $sp1;
  color: $aqua;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: $sans-alt;
  border-radius: 2px;
  font-weight: 600;
  &:not(:last-of-type) {
    margin-right: $sp2;
  }
}
.tag-alt {
  color: $gray;
  border: 1px solid $moon-gray;
  background-color: $near-white;
  font-weight: normal;
  padding: $sp2;
}
.tag-alt2 {
  color: $gray;
  border: 1px solid $moon-gray;
  background-color: $white;
  font-weight: 600;
  // padding: $sp2 0.75rem;
  text-transform: none;
}
@media only screen and (min-width:768px) {
  .tag-alt2 {
    padding:0
  }
}
