.tag {
  display: inline-block;
  padding: $sp1;
  border: 1px solid $tiber;
  color: $tiber;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: $sans-alt;
  border-radius: 2px;
  &:not(:last-of-type) {
    margin-right: $sp2;
  }
}
