<% index = news_item_counter + 1 %>
<div class="news-item">
  <h4 class="news-item__title">
    <%= link_to news_item.title, news_item_url(id: news_item.id, slug: news_item.slug, force_drawer: true, utm_source: 'etoro_research'), onclick: "return debouncedSendLink(this.href, #{index});" %>
  </h4>
  <div class="news-item__summary">
    <%= news_item.short_summary %>
  </div>
  <div class="news-item__footer">
    <div class="news-item__details">
      <%= t(:time_ago, time_words: time_ago_in_words(news_item.feed_item_published_at)) %>
    </div>
    <div class="news-item__link">
      <%= link_to t(:read_more), news_item_url(id: news_item.id, slug: news_item.slug, force_drawer: true, utm_source: 'etoro_research'), onclick: "return debouncedSendLink(this.href, #{index});" %>
    </div>
  </div>
</div>