<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= render 'layouts/tracking_scripts_preconnect' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <%= stylesheet_link_tag 'indicators' %>
    <style type="text/css">
      body {
        background: #f0f0f0;
      }
      .empty-container {
        padding-top: 20px;
        text-align: center;
      }
      .empty-text {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: #777;
      }
    </style>
  </head>
  <body onload="handleOnload();">
    <div class="empty-container">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="35 -33 131 147" style="max-height: 250px;" xml:space="preserve">
        <style type="text/css">
          .st0{display:none;}
          .st1{display:inline;}
          .st2{fill:#A4A4A4;}
          .st3{fill:#CACACA;}
          .st4{fill:#DEDEDE;}
          .st5{fill:#DDDDDD;}
          .st6{fill:#DADADA;}
          .st7{display:inline;opacity:0.6;}
          .st8{fill:#DADADA;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
          .st9{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        </style>
        <g id="Image_xA0_6_1_" class="st0">
          <g id="Shape_347" class="st1">
            <g>
              <polygon class="st2" points="35,98 75,62 75,38"/>
            </g>
          </g>
          <g id="Shape_348" class="st1">
            <g>
              <polygon class="st3" points="113,38 75,38 75,62 123,62"/>
            </g>
          </g>
          <g id="Shape_349" class="st1">
            <g>
              <polygon class="st4" points="124,-17 147,4 111,38 123,62 162,20 184,43 184,-17"/>
            </g>
          </g>
          <g id="Rectangle_1" class="st1">
            <g>
              <path class="st5" d="M70,101V78l-22,23H70z M107,78v23h28V66l-12,12H107z M139,64v37h28V36L139,64z M74,101h29V78H74V101z"/>
            </g>
          </g>
        </g>
        <g id="Image_xA0_12_1_" class="st0">
          <g id="Rounded_Rectangle_1" class="st1">
            <g>
              <path class="st6" d="M148-14c0-1.1-0.9-2-2-2H37c-1.1,0-2,0.9-2,2V0.6C35,1.7,35.9,3,37,3h109c1.1,0,2-0.9,2-2V-14z"/>
            </g>
          </g>
          <g id="Rounded_Rectangle_1_copy" class="st1">
            <g>
              <path class="st6" d="M92,15H37c-1.1,0-2,0.9-2,2v15c0,1.1,0.9,2,2,2l31.6-0.1C75,28.2,83.1,22.2,93,17.5V17
                C93,15.9,93.1,15,92,15z M57.1,46H37c-1.1,0-2,0.9-2,2v15c0,1.1,0.9,2,2,2h24.7C55.2,58.2,52,53,52,53S53.7,50.2,57.1,46z"/>
            </g>
          </g>
          <g id="Ellipse_3" class="st1">
            <g>
              <path class="st6" d="M119.5,15C88,15,58,53,58,53s30.2,35.8,61.5,37c28.1,1.1,61.5-37,61.5-37S150.5,15,119.5,15z M120,78
                c-13.8,0-25-11.2-25-25s11.2-25,25-25s25,11.2,25,25S133.8,78,120,78z"/>
            </g>
          </g>
          <g id="Ellipse_1" class="st1">
            <g>
              <path class="st6" d="M129,55.4c-5.1,0-9.3-4.2-9.3-9.3c0-3.7,2.1-6.9,5.2-8.4c-1.6-0.6-3.4-0.9-5.2-0.9c-8.6,0-15.6,7-15.6,15.6
                s7,15.6,15.6,15.6c8.5,0,15.3-6.8,15.6-15.2C133.6,54.5,131.4,55.4,129,55.4z"/>
            </g>
          </g>
        </g>
        <path class="st8" d="M160,93.1c-4.8-7-41.5-68-41.5-68v-44.2c3.9-3.9,7.8-8.5,1.2-8.5c-2.7,0-36,0-38.5,0c-6.5,0-2.6,4.7,1.2,8.5
          v44.2c0,0-36.8,61-41.5,68s-2,15.5,4,15.5c5,0,106,0,111,0C162,108.6,164.8,100.1,160,93.1z"/>
        <line class="st9" x1="58.3" y1="65.1" x2="104.8" y2="65.1"/>
        <line class="st9" x1="66.1" y1="52.2" x2="92.8" y2="52.2"/>
        <line class="st9" x1="51.3" y1="78" x2="114.8" y2="78"/>
        <line class="st9" x1="43.3" y1="90.9" x2="121.8" y2="90.9"/>
      </svg>
      <div class="empty-text">
        <span><%= t(:coin_empty) %></span>
      </div>
    </div>
    <script type="text/javascript">
      function handleOnload() {
        window.parent.postMessage(
          {
            type: 'dataLoadFailed',
            parameters: {},
          },
          '*'
        );
      }
    </script>
    <%= render 'layouts/tracking_scripts' %>
  </body>
</html>