/*
 * Folder structure:
 * - Base: global/base styling
 * - Components: reusable elements
 * - Modules: unique elements (use ID selector here)
 * - Utilities: useful classes
 * 
 * Useful Tachyons links:
 * - http://tachyons.io/docs/layout/widths/
 * - http://tachyons.io/docs/themes/borders/
 * - http://tachyons.io/docs/typography/scale/
 */

@import 'base/variables';
@import 'base/tachyons_config';

@import 'utilities/conceal';
@import 'utilities/brand-colors';
@import 'utilities/responsive-padding';
@import 'utilities/size';
@import 'utilities/negative-margin';
@import 'utilities/shadows';
@import 'utilities/bg-img';
@import 'utilities/bg-gradient';
@import 'utilities/position';
@import 'utilities/misc';
@import 'utilities/responsive-colors';
@import 'utilities/aliases';

@import 'base/tachyons';
@import 'base/general';
@import 'base/typography';

@import 'components/container';
@import 'components/buttons';
@import 'components/forms';
@import 'components/navigation';
@import 'components/tables';
@import 'components/flexboxgrid';
@import 'components/flash';
@import 'components/box';
@import 'components/grid';
@import 'components/pagination';
@import 'components/icons';
@import 'components/tabs';
@import 'components/tags';
@import 'components/stat-block';
@import 'components/loading-indicator';

@import 'modules/mobile-nav';
@import 'modules/site-subheader';
@import 'modules/twitter';
@import 'modules/coin-search';

@import 'pages/watchlist'
