// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.currency-image {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.header {
  text-align: center;
  font-weight: 300;
}

.events .card {
  margin: 0;
}
