<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script>
  function registerByEmail(e, modalId) {
    e.preventDefault();

    const $modal = $(`#${modalId}`);
    const $form = $modal.find('#new_user');

    hideAndClearErrors($modal);

    $.ajax({
      url: $form.attr('action'),
      type: "POST",
      dataType: "json",
      data: $form.serialize(),
      success: function(result) {
        console.log(result)
        $modal.find('#modal-sign-up-content').hide();
        $modal.find('.modal__footer').hide();
        $modal.find('#modal-signed-up-content').show();
      },
      error: function(xhr) {
        const response = xhr.responseJSON;
        if (response.errors) {
          showErrors($modal, response.errors);
        }
      },
    });
  }

  function hideAndClearErrors($modal) {
    $modal.find('#form-errors').hide();
    $modal.find('.alert-container').empty();
  }

  function showErrors($modal, errors) {
    $modal.find('#form-errors').show();
    $alertContainer = $modal.find('.alert-container');
    errors.forEach(function(message) {
      if (message === "Email has already been taken") {
        $alertContainer.append($('<li>').html(`It looks like you already have an account. Please login <a onclick="openLoginModal(event)">here</a>.`))
      } else {
        $alertContainer.append($('<li>').text(message))
      }
    })
  }

  function removeHash(modal) {
    window.location.hash = ""
  }

  function focusFirst(modal) {
    const elementsToFocus = modal.getElementsByClassName('focus-first')
    if (elementsToFocus && elementsToFocus.length > 0) {
      elementsToFocus[0].focus();
    }
  }

  function openLoginModal() {
    console.log("login modal placeholder")
  }

  function openSignUpModal() {
    MicroModal.show('modal-sign-up', {
      onShow: focusFirst,
      onClose: removeHash,
    });
  }

  window.addEventListener("load", function() {
    MicroModal.init({
      onShow: focusFirst,
      onClose: removeHash
    });

    const hash = window.location.hash.slice(1);
    if (hash === 'sign-up') {
      openSignUpModal();
    }

    window.addEventListener('show-modal-sign-up', function() {
      openSignUpModal();
    });
  })


</script>