.antd= react_component_with_jss "App",
    withStore: true,
    props: { \
      loggedIn: !!current_user,
      coinCount: @coin_count,
      initialCoins: @coins,
      marketDominance: @market_dominance,
      totalMarketCap: @market_cap,
    },
    prerender: true
