<section class="section text-center">
  <header class="section-header">
    <small><strong>Registration</strong></small>
    <h2 class="fs-36 fw-900">Join the CoinFi Token Sale</h2>
    <hr>
  </header>

  <div class="container">
    <div class="section-dialog text-center">
      <%= form_for(:user, url: new_user_signup_path) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, class: "form-control form-control-lg", autofocus: true, required: true, placeholder: "Email" %>
        </div>

        <%= f.submit "Register", class: "btn btn-block btn-lg btn-success" %>
      <% end %>
    </div>
  </div>
</section>

<script>
  $(function() {
    $('form').submit(function() {
      $(this).find('input[type=submit]').prop('disabled', true).text('Processing...');
    });
  });
</script>
