<div class="phr flex items-center">
  <div class="container-narrower">
    <div class="ph5 tc">

      <header class="section-header">
        <small><strong>Registration</strong></small>
        <h2 class="f2 mt1">Sign Up For The CoinFi Platform</h2>
      </header>

      <div class="section-dialog text-center">
        <%= form_for(:user, url: new_user_signup_path) do |f| %>
          <%= devise_error_messages! %>
          <div class="mb3">
            <%= f.email_field :email, class: "form-control form-control-lg", autofocus: true, required: true, placeholder: "Email" %>
          </div>

          <%= f.submit "Register", class: "btn btn-green w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('form').submit(function() {
      $(this).find('input[type=submit]').prop('disabled', true).text('Processing...');
    });
  });
</script>
